designs/pages/Director/schedules_p.json
[
    {
        "id": "sd_GCmBkksGwqfemw5j",
        "type": "tab",
        "createdDate": "2024-09-03T18:58:42.332Z",
        "label": "schedules_p",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "schedules_pComponent"
    },
    {
        "id": "sd_hxFhlOFHubpgJGzN",
        "type": "OnInit",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_hxFhlOFHubpgJGzN",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_aGiM5lfXREZlAXEA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "schedules_pComponent"
    },
    {
        "id": "sd_A4tIsJqzXOXU5akg",
        "type": "PageVariables",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_A4tIsJqzXOXU5akg",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_gPSXC7DSUYw4MmRJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_8J6dMgUUcr7CGFxp",
        "type": "AfterViewInit",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "start",
        "name": "After View Init",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 71,
        "y": 201.8020782470703,
        "wires": [
            [
                "sd_P91EX3cWFRlgOjHq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "schedules_pComponent"
    },
    {
        "id": "sd_P91EX3cWFRlgOjHq",
        "type": "ViewPicker",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "str",
                    "value": "scheduler_here"
                },
                "defaultValue": "ElementRef",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_P91EX3cWFRlgOjHq",
        "category": "Function",
        "x": 156,
        "y": 201.8020782470703,
        "wires": [
            [
                "sd_B3KVA3W1SS9henOr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_B3KVA3W1SS9henOr",
        "type": "Script",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "intializer",
        "script": " // Date format\n    scheduler.config.xml_date = '%Y-%m-%d %H:%i';\n\n    // Set up time scale for day and week views\n    scheduler.config.first_hour = 8; // Start at 8 AM\n    scheduler.config.last_hour = 18; // End at 6 PM\n    scheduler.config.time_step = 30; // 30-minute intervals\n\n    // Enable the display of time on the y-axis\n    scheduler.config.hour_size_px = 42; // Controls the height of each hour row (default is 42px)\n\n    // Enable different views: day, week, and month\n    scheduler.config.multi_day = true;\n    scheduler.config.month_date = '%d %M %Y'; // Customize month view display format if needed\nscheduler.config.month_day = '%d'; // Customize day display format\n\n    // Initialize scheduler with week view\n    scheduler.init(this.scheduler_here.nativeElement, new Date(), 'week');\n\n     scheduler.parse(this.page.result);\n\n\n\n \n",
        "functionName": "intializer",
        "category": "Function",
        "x": 256,
        "y": 201.8020782470703,
        "wires": [
            [
                "sd_qDrxWf1l36IMdsG1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_qDrxWf1l36IMdsG1",
        "type": "Script",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "intialized",
        "script": "scheduler.attachEvent(\"onBeforeDrag\", () => false);\nscheduler.attachEvent(\"onClick\", () => false);\nscheduler.attachEvent(\"onDblClick\", () => false);\n\nscheduler.attachEvent(\"onLightbox\", function () {\n  const inputs = document.querySelectorAll('.dhx_cal_light input, .dhx_cal_light textarea');\n  inputs.forEach(input => {\n    (input as HTMLInputElement).disabled = true;\n  });\n  return true;\n});\n",
        "functionName": "intialized",
        "category": "Function",
        "x": 336,
        "y": 201.8020782470703,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_D4YfYk3I3wpKfumu",
        "type": "PageStart",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getSchedules",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getSchedules",
        "category": "General",
        "x": 85,
        "y": 300,
        "wires": [
            [
                "sd_a9dqEIdpNvTZt4Qj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "schedules_pComponent"
    },
    {
        "id": "sd_2IUzIo2aKNWkVvxF",
        "type": "HttpRequest",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_2IUzIo2aKNWkVvxF",
        "category": "HTTP",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "sd_kKr7i8BotieB2UQu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_a9dqEIdpNvTZt4Qj",
        "type": "Environment",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_a9dqEIdpNvTZt4Qj",
        "category": "General",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "sd_5ih064dZtJ0BG5mH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_5ih064dZtJ0BG5mH",
        "type": "Script",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"getSchedules\"",
        "functionName": "sd_5ih064dZtJ0BG5mH",
        "category": "Function",
        "x": 245,
        "y": 300,
        "wires": [
            [
                "sd_2IUzIo2aKNWkVvxF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_kKr7i8BotieB2UQu",
        "type": "Script",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "scheduler.parse(page.result)",
        "functionName": "sd_kKr7i8BotieB2UQu",
        "category": "Function",
        "x": 410,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_gPSXC7DSUYw4MmRJ",
        "type": "PageCallService",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_GCmBkksGwqfemw5j",
            "type": "tab",
            "createdDate": "2024-09-03T18:58:42.332Z",
            "label": "schedules_p",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_D4YfYk3I3wpKfumu",
            "flowName": "getSchedules"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getSchedules",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_gPSXC7DSUYw4MmRJ",
        "category": "General",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_aGiM5lfXREZlAXEA",
        "type": "UseDependency",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "scheduler",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "dhtmlx-scheduler",
        "serviceDesignerType": "pages",
        "functionName": "sd_aGiM5lfXREZlAXEA",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_GUxZ5MckV4fBTUfG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    },
    {
        "id": "sd_GUxZ5MckV4fBTUfG",
        "type": "UseDependency",
        "z": "sd_GCmBkksGwqfemw5j",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "ViewChild",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "viewChild"
                },
                "injectable": false
            },
            {
                "textIp": "ElementRef",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "elementRef"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/core",
        "serviceDesignerType": "pages",
        "functionName": "sd_GUxZ5MckV4fBTUfG",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_A4tIsJqzXOXU5akg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "schedules_pComponent",
        "generated": true
    }
]
