designs/pages/Authentication/login.json
[
    {
        "id": "sd_fn8FAmmpAsSioSZv",
        "type": "tab",
        "createdDate": "2024-08-16T11:30:27.228Z",
        "label": "login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_9qBlAyTvanNO52sj",
        "type": "OnInit",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_9qBlAyTvanNO52sj",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_QZIhirkF1KOOozB7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_QZIhirkF1KOOozB7",
        "type": "PageVariables",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "loginForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "passLength",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "pattern",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "characterCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "loading",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_QZIhirkF1KOOozB7",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_71FwAex7k56plSj9",
        "type": "PageStart",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Login",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "login",
        "category": "General",
        "x": 25,
        "y": 160,
        "wires": [
            [
                "sd_rkB5QqUgrAKv3a1e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_DUejOGCOl1GlgrTF",
        "type": "Environment",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_DUejOGCOl1GlgrTF",
        "category": "General",
        "x": 285,
        "y": 180,
        "wires": [
            [
                "sd_ioQgoBz2AkEDMlcS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_ioQgoBz2AkEDMlcS",
        "type": "Script",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'login'\npage.loading = true",
        "functionName": "sd_ioQgoBz2AkEDMlcS",
        "category": "Function",
        "x": 365,
        "y": 180,
        "wires": [
            [
                "sd_zTKl6k43D2GeisCd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_zTKl6k43D2GeisCd",
        "type": "HttpRequest",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form.value",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "input.form.value"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_zTKl6k43D2GeisCd",
        "category": "HTTP",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_R2or05KgG4F0SznO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_buYzaxDxyjRaVxqv",
        "type": "PageSwitch",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Password Don't match",
                "vt": "str",
                "gv": "\"Password Don't match\""
            },
            {
                "t": "eq",
                "v": "User not found",
                "vt": "str",
                "gv": "\"User not found\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_buYzaxDxyjRaVxqv",
        "category": "Function",
        "x": 605,
        "y": 180,
        "wires": [
            [
                "sd_DrwpTKFaF2PfX0uE"
            ],
            [
                "sd_vl5FCxtDP6xLD1fe"
            ],
            [
                "sd_pWnUWcBfELW3hZrp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_DrwpTKFaF2PfX0uE",
        "type": "SnackBar",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password Don't match"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_DrwpTKFaF2PfX0uE",
        "category": "General",
        "x": 705,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_vl5FCxtDP6xLD1fe",
        "type": "SnackBar",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User Doesn't exist"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vl5FCxtDP6xLD1fe",
        "category": "General",
        "x": 705,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_SGMcpcrY4y3UKTKj",
        "type": "SnackBar",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Successfully logged in"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_SGMcpcrY4y3UKTKj",
        "category": "General",
        "x": 905,
        "y": 360,
        "wires": [
            [
                "sd_QCpkMADtxfSqgHXt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_DE42D8ZhYJoLHtIk",
        "type": "PageStart",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "pages",
        "nodeType": "start",
        "name": "count characters",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "e",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "countCharacters",
        "category": "General",
        "x": 45,
        "y": 300,
        "wires": [
            [
                "sd_3Oob5ybAQPyPJtB0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_3Oob5ybAQPyPJtB0",
        "type": "Script",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.characterCount = bh.input.e.target.value.length;\n\n// console.log(\"Character\", page.characterCount)",
        "functionName": "sd_3Oob5ybAQPyPJtB0",
        "category": "Function",
        "x": 160,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_rkB5QqUgrAKv3a1e",
        "type": "PageSwitch",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.form.status",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.form.status",
        "rules": [
            {
                "t": "eq",
                "v": "INVALID",
                "vt": "str",
                "gv": "\"INVALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_rkB5QqUgrAKv3a1e",
        "category": "Function",
        "x": 145,
        "y": 160,
        "wires": [
            [
                "sd_AKCd9T0p7cDWhRTR"
            ],
            [
                "sd_DUejOGCOl1GlgrTF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_AKCd9T0p7cDWhRTR",
        "type": "SnackBar",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please Fill All Fields"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_AKCd9T0p7cDWhRTR",
        "category": "General",
        "x": 285,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_R2or05KgG4F0SznO",
        "type": "Script",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n\n// console.log(\"Result login\", bh.result)",
        "functionName": "sd_R2or05KgG4F0SznO",
        "category": "Function",
        "x": 525,
        "y": 180,
        "wires": [
            [
                "sd_buYzaxDxyjRaVxqv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_iGycO4jnqKpix0R8",
        "type": "Navigation",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/home",
        "functionName": "sd_iGycO4jnqKpix0R8",
        "category": "Navigation",
        "x": 825,
        "y": 360,
        "wires": [
            [
                "sd_SGMcpcrY4y3UKTKj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_QCpkMADtxfSqgHXt",
        "type": "Storage",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "result"
        },
        "resultMapping": {},
        "functionName": "sd_QCpkMADtxfSqgHXt",
        "category": "Storage",
        "x": 1025,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_pWnUWcBfELW3hZrp",
        "type": "PageSwitch",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.role",
        "propertyType": "bh",
        "propertyGv": "bh.result.role",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str",
                "gv": "\"admin\""
            },
            {
                "t": "eq",
                "v": "client",
                "vt": "str",
                "gv": "\"client\""
            },
            {
                "t": "eq",
                "v": "director",
                "vt": "str",
                "gv": "\"director\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_pWnUWcBfELW3hZrp",
        "category": "Function",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "sd_amrKD85p0eRgsnBY"
            ],
            [
                "sd_r58lpYP5NfnKU8WQ"
            ],
            [
                "sd_iGycO4jnqKpix0R8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_viITVWMo8noRtLLF",
        "type": "SnackBar",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Welcome client"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_viITVWMo8noRtLLF",
        "category": "General",
        "x": 905,
        "y": 280,
        "wires": [
            [
                "sd_iiPTp6BRisa9Wz2L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_r58lpYP5NfnKU8WQ",
        "type": "Navigation",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/client_plan_details",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_r58lpYP5NfnKU8WQ",
        "category": "Navigation",
        "x": 825,
        "y": 280,
        "wires": [
            [
                "sd_viITVWMo8noRtLLF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_iiPTp6BRisa9Wz2L",
        "type": "Storage",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "result"
        },
        "resultMapping": {},
        "functionName": "sd_iiPTp6BRisa9Wz2L",
        "category": "Storage",
        "x": 1025,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_51iYvY9GLbmiDMYl",
        "type": "SnackBar",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Successfully logged in"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_51iYvY9GLbmiDMYl",
        "category": "General",
        "x": 905,
        "y": 200,
        "wires": [
            [
                "sd_Sxe8LBYbOvGJ2l4m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_amrKD85p0eRgsnBY",
        "type": "Navigation",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_amrKD85p0eRgsnBY",
        "category": "Navigation",
        "x": 825,
        "y": 200,
        "wires": [
            [
                "sd_51iYvY9GLbmiDMYl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_Sxe8LBYbOvGJ2l4m",
        "type": "Storage",
        "z": "sd_fn8FAmmpAsSioSZv",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "result"
        },
        "resultMapping": {},
        "functionName": "sd_Sxe8LBYbOvGJ2l4m",
        "category": "Storage",
        "x": 1025,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    }
]
