designs/pages/Authentication/register.json
[
    {
        "id": "sd_uqB8Ta19yPAqB9Xq",
        "type": "tab",
        "createdDate": "2024-08-16T11:30:17.229Z",
        "label": "register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_XNtrphGkAEvTnJkY",
        "type": "OnInit",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_XNtrphGkAEvTnJkY",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_21M8r6uomCRnf45y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_7K2noVNldq6MAAbT",
        "type": "PageVariables",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showBeneficaryForm2",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showDependencyForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "counter",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "showDependencyForm1",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "hideIcon",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "hideIcon2",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "gender",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "loading",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "gender2",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender3",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender4",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender5",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender6",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "feedback",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_7K2noVNldq6MAAbT",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_qjesZ9T9zyxXQtfe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_21M8r6uomCRnf45y",
        "type": "UseDependency",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_21M8r6uomCRnf45y",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_r3eEuybGflYSevtu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_qjesZ9T9zyxXQtfe",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.path = \"get-users\"\n\npage.fileForm = new FormGroup({\n    _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"),\n})\n\npage.beneficaryForm = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    email: new FormControl(\"\", [Validators.required, Validators.email]),\n    gender: new FormControl(\"\"),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n    cellphone: new FormControl(\"\", [Validators.required,Validators.maxLength(10) , Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    relationship: new FormControl(\"\", [Validators.required]),\n})\n\npage.beneficaryForm2 = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    email: new FormControl(\"\", [Validators.required, Validators.email]),\n    gender: new FormControl(\"\"),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n    cellphone: new FormControl(\"\", [Validators.required,Validators.maxLength(10) , Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    relationship: new FormControl(\"\", [Validators.required]),\n})\n\npage.dependencyForm = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    gender: new FormControl(\"\"),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n})\n\npage.dependencyForm2 = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    gender: new FormControl(\"\"),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n})\n\npage.dependencyForm3 = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    gender: new FormControl(\"\"),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n})\n\npage.clientForm = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    email: new FormControl(\"\", [Validators.required, Validators.email]),\n    gender: new FormControl(\"\"),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n    cellphone: new FormControl(\"\", [Validators.required,Validators.maxLength(10) , Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    address: new FormControl(\"\", [Validators.required]),\n    packageType: new FormControl(\"\", [Validators.required]),\n    paymentDate: new FormControl(\"\", [Validators.required]),\n    file2: new FormControl(\"\", [Validators.required]),\n    file: page.fileForm,\n    trialCount: new FormControl (0)\n})\n\npage.package = [\n   {value: 'Package 1', viewValue: 'Package 1'},\n   {value: 'Package 2', viewValue: 'Package 2'},\n   {value: 'Package 3', viewValue: 'Package 3'}\n];\n\npage.genders = [\n   {value: 'Male', viewValue: 'Male'},\n   {value: 'Female', viewValue: 'Female'}\n];\n\npage.date = new Date()\n\n page.customHeader = \"CustomHeaderComponent\"",
        "functionName": "sd_qjesZ9T9zyxXQtfe",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_hsNZ5en4D8hP7I5H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_4jpHOcBeJ9oMy5gC",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload",
        "category": "General",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_r8ZA4xPfv6W0TiV1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_4yeHIdvBwIqJ34hG",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showBeneficaryForm2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showBeneficaryForm2",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_78h5y7Mch4eGS5T9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_78h5y7Mch4eGS5T9",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showBeneficaryForm2 = true\npage.hideIcon = false",
        "functionName": "sd_78h5y7Mch4eGS5T9",
        "category": "Function",
        "x": 165,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_ZIboZ8CwblF94SEp",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showDependencyForm2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showDependencyForm2",
        "category": "General",
        "x": 65,
        "y": 440,
        "wires": [
            [
                "sd_NscpuoQXRbfmWzVJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_NscpuoQXRbfmWzVJ",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showDependencyForm = true\npage.counter++\nif(page.counter == 2) {\n    page.showDependencyForm1 = true\n    page.hideIcon2 = false\n}",
        "functionName": "sd_NscpuoQXRbfmWzVJ",
        "category": "Function",
        "x": 205,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_mfn5TNjxg1EDrkux",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "confirm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "confirm",
        "category": "General",
        "x": 305,
        "y": 400,
        "wires": [
            [
                "sd_wKoZboaQVHIPkQvv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_5FvUEd3TbUxOODvU",
        "type": "Environment",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_5FvUEd3TbUxOODvU",
        "category": "General",
        "x": 465,
        "y": 400,
        "wires": [
            [
                "sd_uaLP5pYLb4eJZafw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_lL2rQ9BIoBqeZaCn",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clientForm.value.file._id = page.userFile._id\npage.clientForm.value.file.filename = page.userFile.filename\npage.clientForm.value.file.length = page.userFile.length\npage.clientForm.value.file.chunkSize = page.userFile.chunkSize\n\nbh.url = page.ssdUrl + 'register'\n\ndelete page.clientForm.file2\n\nbh.body = page.clientForm.value\nbh.body.role = \"client\"\nbh.body.policyNumber = bh.random\nbh.body.password = bh.random2.toString()\nbh.body.beneficaries = !page.beneficaryForm2.value.firstName ? [ page.beneficaryForm.value ] : [page.beneficaryForm.value, page.beneficaryForm2.value]\nbh.body.dependencies = !page.dependencyForm2.value.firstName ? [ page.dependencyForm.value ] : !page.dependencyForm3.value.firstName ? [page.dependencyForm.value, page.dependencyForm2.value] : [page.dependencyForm.value, page.dependencyForm2.value, page.dependencyForm3.value]\n\n\n",
        "functionName": "sd_lL2rQ9BIoBqeZaCn",
        "category": "Function",
        "x": 725,
        "y": 400,
        "wires": [
            [
                "sd_feAbYysgRL7fgGGm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_RqtM6SLXw5cveimP",
        "type": "Environment",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_RqtM6SLXw5cveimP",
        "category": "General",
        "x": 765,
        "y": 140,
        "wires": [
            [
                "sd_XSPvXcLY8nKgPJZk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_XSPvXcLY8nKgPJZk",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'",
        "functionName": "sd_XSPvXcLY8nKgPJZk",
        "category": "Function",
        "x": 865,
        "y": 140,
        "wires": [
            [
                "sd_Z0u2uGd5YO9ydjps"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_Z0u2uGd5YO9ydjps",
        "type": "HttpRequest",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Z0u2uGd5YO9ydjps",
        "category": "HTTP",
        "x": 965,
        "y": 140,
        "wires": [
            [
                "sd_vR3yJnYv3XKsLrq8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_8TYG7d0QanhgKFMo",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend",
        "category": "General",
        "x": 665,
        "y": 140,
        "wires": [
            [
                "sd_RqtM6SLXw5cveimP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_ZSLYaSB5AEVYwkSZ",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend",
        "category": "General",
        "x": 305,
        "y": 320,
        "wires": [
            [
                "sd_Piy2OPiATT4VA7Dk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_Piy2OPiATT4VA7Dk",
        "type": "Storage",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "file"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userFile"
        },
        "functionName": "sd_Piy2OPiATT4VA7Dk",
        "category": "Storage",
        "x": 405,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_vR3yJnYv3XKsLrq8",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem('file',JSON.stringify(bh.result))\nthis.getFromBackend()",
        "functionName": "sd_vR3yJnYv3XKsLrq8",
        "category": "Function",
        "x": 1065,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_em3ylD24zJZE2On9",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_em3ylD24zJZE2On9",
        "category": "General",
        "x": 1145,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_feAbYysgRL7fgGGm",
        "type": "HttpRequest",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_feAbYysgRL7fgGGm",
        "category": "HTTP",
        "x": 845,
        "y": 400,
        "wires": [
            [
                "sd_QnaW4yCDpoY9Cu3b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_QnaW4yCDpoY9Cu3b",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Client Registered"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_QnaW4yCDpoY9Cu3b",
        "category": "General",
        "x": 945,
        "y": 400,
        "wires": [
            [
                "sd_IKDCeaKDglhchiOD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_uaLP5pYLb4eJZafw",
        "type": "PageCallService",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_GBFfAkOjFZO1abZf",
            "type": "tab",
            "createdDate": "2024-08-23T07:48:29.377Z",
            "label": "randomNumber",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_oKopI3GY933HFwlo",
            "flowName": "generateRandomNumber"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "clientForm.email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "bh",
                "value": "random",
                "mapVarName": "random",
                "localVar": "bh.random"
            }
        ],
        "serviceImportPath": "app/sd-services/randomNumber",
        "startName": "generateRandomNumber",
        "inputParams": [
            "this.page.clientForm.email"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_uaLP5pYLb4eJZafw",
        "category": "General",
        "x": 545,
        "y": 400,
        "wires": [
            [
                "sd_E3iTiEBecw7LpUwh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_IKDCeaKDglhchiOD",
        "type": "Navigation",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_IKDCeaKDglhchiOD",
        "category": "Navigation",
        "x": 1065,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_E3iTiEBecw7LpUwh",
        "type": "PageCallService",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_GBFfAkOjFZO1abZf",
            "type": "tab",
            "createdDate": "2024-08-23T07:48:29.377Z",
            "label": "randomNumber",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_2rOgF8DvS525MYfE",
            "flowName": "generateRandomNumber2"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "clientForm.email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "bh",
                "value": "random2",
                "mapVarName": "random",
                "localVar": "bh.random2"
            }
        ],
        "serviceImportPath": "app/sd-services/randomNumber",
        "startName": "generateRandomNumber2",
        "inputParams": [
            "this.page.clientForm.email"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_E3iTiEBecw7LpUwh",
        "category": "General",
        "x": 625,
        "y": 400,
        "wires": [
            [
                "sd_lL2rQ9BIoBqeZaCn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_0pzHhF3BmDhHQBVP",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid",
        "category": "General",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "sd_2mzdjThkJ5J0te6L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_2mzdjThkJ5J0te6L",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.clientForm.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender = 'Female'\n      page.clientForm.patchValue({\n        gender: page.gender\n      })\n      // page.clientForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender = 'Male'\n      page.clientForm.patchValue({\n        gender: page.gender\n      })\n      // page.clientForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.clientForm.controls.idNumber.value)",
        "functionName": "sd_2mzdjThkJ5J0te6L",
        "category": "Function",
        "x": 645,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_2VvuA9sQP6wLSv4c",
        "type": "Environment",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_2VvuA9sQP6wLSv4c",
        "category": "General",
        "x": 668,
        "y": 274.8125,
        "wires": [
            [
                "sd_Joet7d2z5ZGhbPVA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_Joet7d2z5ZGhbPVA",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'validate-id'\npage.loading = true\n\n",
        "functionName": "sd_Joet7d2z5ZGhbPVA",
        "category": "Function",
        "x": 768,
        "y": 274.8125,
        "wires": [
            [
                "sd_xmrSywhjgd5I6fVU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_xmrSywhjgd5I6fVU",
        "type": "HttpRequest",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.results",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_xmrSywhjgd5I6fVU",
        "category": "HTTP",
        "x": 868,
        "y": 274.8125,
        "wires": [
            [
                "sd_FZ6WMQY1voina3hL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_edYEHE2MoZfczlQY",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "validID",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "validId",
        "category": "General",
        "x": 568,
        "y": 274.8125,
        "wires": [
            [
                "sd_2VvuA9sQP6wLSv4c"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_FZ6WMQY1voina3hL",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n\n    bh.message1 = bh.results.message\n    this.showmsg()\n    this.goToBackend()\n\n",
        "functionName": "sd_FZ6WMQY1voina3hL",
        "category": "Function",
        "x": 968,
        "y": 274.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_F39mDdQqOqsrZBzc",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid2",
        "category": "General",
        "x": 745,
        "y": 40,
        "wires": [
            [
                "sd_1kUDPYwgeCpnEQpZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_1kUDPYwgeCpnEQpZ",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.beneficaryForm.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender2 = 'Female'\n      page.beneficaryForm.patchValue({\n        gender: page.gender2\n      })\n      // page.beneficaryForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender2 = 'Male'\n      page.beneficaryForm.patchValue({\n        gender: page.gender2\n      })\n      // page.beneficaryForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.beneficaryForm.controls.idNumber.value)",
        "functionName": "sd_1kUDPYwgeCpnEQpZ",
        "category": "Function",
        "x": 850,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_OxHE7eocWeyXElH8",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid3",
        "category": "General",
        "x": 1285,
        "y": 140,
        "wires": [
            [
                "sd_Y01WN32UHn5IAx5g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_Y01WN32UHn5IAx5g",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.beneficaryForm2.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender3 = 'Female'\n      page.beneficaryForm2.patchValue({\n        gender: page.gender3\n      })\n      // page.beneficaryForm2.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender3 = 'Male'\n      page.beneficaryForm2.patchValue({\n        gender: page.gender3\n      })\n      // page.beneficaryForm2.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.beneficaryForm2.controls.idNumber.value)",
        "functionName": "sd_Y01WN32UHn5IAx5g",
        "category": "Function",
        "x": 1390,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_yPduP4FKyE9ScUlV",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid4",
        "category": "General",
        "x": 945,
        "y": 40,
        "wires": [
            [
                "sd_tr46ebRFABCAVNMW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_tr46ebRFABCAVNMW",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.dependencyForm.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender4 = 'Female'\n      page.dependencyForm.patchValue({\n        gender: page.gender4\n      })\n      // page.dependencyForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender4 = 'Male'\n      page.dependencyForm.patchValue({\n        gender: page.gender4\n      })\n      // page.dependencyForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.dependencyForm.controls.idNumber.value)",
        "functionName": "sd_tr46ebRFABCAVNMW",
        "category": "Function",
        "x": 1050,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_0feBWXbH4GfbEFPj",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid5",
        "category": "General",
        "x": 1505,
        "y": 140,
        "wires": [
            [
                "sd_Mmx2Yhw2yiEdWi6o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_Mmx2Yhw2yiEdWi6o",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.dependencyForm2.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender5 = 'Female'\n      page.dependencyForm2.patchValue({\n        gender: page.gender5\n      })\n      // page.dependencyForm2.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender5 = 'Male'\n      page.dependencyForm2.patchValue({\n        gender: page.gender5\n      })\n      // page.dependencyForm2.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.dependencyForm2.controls.idNumber.value)",
        "functionName": "sd_Mmx2Yhw2yiEdWi6o",
        "category": "Function",
        "x": 1610,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_5l06VeCA4XVvuonM",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid6",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid6",
        "category": "General",
        "x": 1185,
        "y": 40,
        "wires": [
            [
                "sd_V1uf4sm5LD8oOfh4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_V1uf4sm5LD8oOfh4",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.dependencyForm3.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender6 = 'Female'\n      page.dependencyForm3.patchValue({\n        gender: page.gender6\n      })\n      // page.dependencyForm3.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender6 = 'Male'\n      page.dependencyForm3.patchValue({\n        gender: page.gender6\n      })\n      // page.dependencyForm3.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.dependencyForm3.controls.idNumber.value)",
        "functionName": "sd_V1uf4sm5LD8oOfh4",
        "category": "Function",
        "x": 1290,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_EJPnHK5FvoFnOVor",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showmsg",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showmsg",
        "category": "General",
        "x": 1085,
        "y": 260,
        "wires": [
            [
                "sd_ujwsbDV8Krrs0ert"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_ujwsbDV8Krrs0ert",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID is valid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ujwsbDV8Krrs0ert",
        "category": "General",
        "x": 1185,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_wKoZboaQVHIPkQvv",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true\n\nconsole.log(\"LOADIN: \", page.loading)",
        "functionName": "sd_wKoZboaQVHIPkQvv",
        "category": "Function",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "sd_5FvUEd3TbUxOODvU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_hsNZ5en4D8hP7I5H",
        "type": "PageCallService",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_2F1jRXPpIvh6BKAw",
            "type": "tab",
            "createdDate": "2024-09-10T12:10:37.327Z",
            "label": "Notifications",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7Gra8AgAem9ujuDY",
            "flowName": "genericGet"
        },
        "inputVariables": [
            {
                "key": "path",
                "map": true,
                "valueType": "bh",
                "value": "path"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "this.page",
                "value": "clients",
                "mapVarName": "data",
                "localVar": "this.page.clients"
            }
        ],
        "serviceImportPath": "app/sd-services/Notifications",
        "startName": "genericGet",
        "inputParams": [
            "bh.path"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_hsNZ5en4D8hP7I5H",
        "category": "General",
        "x": 385,
        "y": 40,
        "wires": [
            [
                "sd_2FFxDGhNOLQvZzfY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_2FFxDGhNOLQvZzfY",
        "type": "Log",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.clients",
        "functionName": "sd_2FFxDGhNOLQvZzfY",
        "category": "General",
        "x": 465,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "clients",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_rIqZaBUYQzyNklXN",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "checkClientIfExists",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "found",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "flow_type": "sync",
        "functionName": "checkClientIfExists",
        "category": "General",
        "x": 65,
        "y": 600,
        "wires": [
            [
                "sd_XCInRNlQncgb7N8d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_XCInRNlQncgb7N8d",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let clientForm = page.clientForm.value\n\nconsole.log(\"CLIENT FORM: \", clientForm)\n\nbh.local.found = page.clients.filter(client => {\n                    if(client.email == clientForm.email && client.idNumber == clientForm.idNumber){\n                        page.feedback = \"CLIENT WITH THE SUPPLIED ID NUMBER AND EMAIL EXISTS. \"\n                        return client\n                    }if(client.idNumber == clientForm.idNumber){\n                        page.feedback = \"CLIENT WITH THE SUPPLIED ID NUMBER EXISTS. \"\n                        return client\n                    }if(client.email == clientForm.email){\n                        page.feedback = \"CLIENT WITH THE SUPPLIED EMAIL EXISTS. \"\n                        return client\n                    }\n                })\n\n\nconsole.log(\"found: \", bh.local.found)",
        "functionName": "sd_XCInRNlQncgb7N8d",
        "category": "Function",
        "x": 200,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_r8ZA4xPfv6W0TiV1",
        "type": "PageCallService",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_uqB8Ta19yPAqB9Xq",
            "type": "tab",
            "createdDate": "2024-08-16T11:30:17.229Z",
            "label": "register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_rIqZaBUYQzyNklXN",
            "flowName": "checkClientIfExists"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "found",
                "valueType": "this.page",
                "value": "found",
                "mapVarName": "found",
                "localVar": "this.page.found"
            }
        ],
        "serviceImportPath": "./",
        "startName": "checkClientIfExists",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_r8ZA4xPfv6W0TiV1",
        "category": "General",
        "x": 165,
        "y": 180,
        "wires": [
            [
                "sd_SRC5bY330I8jkZdR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_SRC5bY330I8jkZdR",
        "type": "PageSwitch",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "found",
        "propertyType": "this.page",
        "propertyGv": "this.page.found",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_SRC5bY330I8jkZdR",
        "category": "Function",
        "x": 265,
        "y": 180,
        "wires": [
            [
                "sd_C9LXe6h3lxPGUYhL"
            ],
            [
                "sd_6eYy90OWTPwkRgDi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_C9LXe6h3lxPGUYhL",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload = document.getElementById('upload') as HTMLInputElement;\n  if (bh.upload) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n       this.validId()\n    }\n  })\n}\n",
        "functionName": "sd_C9LXe6h3lxPGUYhL",
        "category": "Function",
        "x": 425,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_6eYy90OWTPwkRgDi",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "this.page",
            "value": "feedback"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_6eYy90OWTPwkRgDi",
        "category": "General",
        "x": 425,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_EDBlE08Rsskj3R9e",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "this.page",
            "value": "feedback"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_EDBlE08Rsskj3R9e",
        "category": "General",
        "x": 485,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_Cn24mn0H6lpBFLYp",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showFeedback",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showFeedback",
        "category": "General",
        "x": 65,
        "y": 700,
        "wires": [
            [
                "sd_WF7SEDIdIMfAqLeD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_WF7SEDIdIMfAqLeD",
        "type": "ViewPicker",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "str",
                    "value": "stepper"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_WF7SEDIdIMfAqLeD",
        "category": "Function",
        "x": 165,
        "y": 700,
        "wires": [
            [
                "sd_1K5TUH2VquggXj9W"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_PosCwUYRxSSmEloq",
        "type": "PageSwitch",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "found",
        "propertyType": "bh",
        "propertyGv": "bh.found",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_PosCwUYRxSSmEloq",
        "category": "Function",
        "x": 385,
        "y": 700,
        "wires": [
            [
                "sd_RNocM9C3WAPuxkb7"
            ],
            [
                "sd_EDBlE08Rsskj3R9e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_1K5TUH2VquggXj9W",
        "type": "PageCallService",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_uqB8Ta19yPAqB9Xq",
            "type": "tab",
            "createdDate": "2024-08-16T11:30:17.229Z",
            "label": "register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_rIqZaBUYQzyNklXN",
            "flowName": "checkClientIfExists"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "found",
                "valueType": "bh",
                "value": "found",
                "mapVarName": "found",
                "localVar": "bh.found"
            }
        ],
        "serviceImportPath": "./",
        "startName": "checkClientIfExists",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_1K5TUH2VquggXj9W",
        "category": "General",
        "x": 265,
        "y": 700,
        "wires": [
            [
                "sd_PosCwUYRxSSmEloq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_RNocM9C3WAPuxkb7",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"STEPPER: \", bh.pageViews.stepper)\n\n\nbh.pageViews.stepper.next()",
        "functionName": "sd_RNocM9C3WAPuxkb7",
        "category": "Function",
        "x": 485,
        "y": 640,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_r3eEuybGflYSevtu",
        "type": "UseDependency",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatCalendar",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/material/datepicker",
        "serviceDesignerType": "pages",
        "functionName": "sd_r3eEuybGflYSevtu",
        "category": "Function",
        "x": 165,
        "y": 100,
        "wires": [
            [
                "sd_7K2noVNldq6MAAbT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    }
]
