designs/pages/Authentication/view_document.json
[
    {
        "id": "sd_PR3nvRTcpHmbFIoL",
        "type": "tab",
        "createdDate": "2024-09-05T11:40:45.124Z",
        "label": "view_document",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "view_documentComponent"
    },
    {
        "id": "sd_KikucxW3FkzenR2O",
        "type": "OnInit",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_KikucxW3FkzenR2O",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_4gj9gYmwBgxJqwEJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_documentComponent"
    },
    {
        "id": "sd_4gj9gYmwBgxJqwEJ",
        "type": "PageVariables",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "key",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            }
        ],
        "functionName": "sd_4gj9gYmwBgxJqwEJ",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_wYvg6kbX6d2RzWzR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_GQmjPcm4kuYIoaAE",
        "type": "PageStart",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_kxL7Y9L7iMTaS70J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_documentComponent"
    },
    {
        "id": "sd_kxL7Y9L7iMTaS70J",
        "type": "CloseDialog",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.data",
        "functionName": "sd_kxL7Y9L7iMTaS70J",
        "category": "Dialog",
        "x": 140,
        "y": 160,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_dOrvoT9jzoh6Xw7f",
        "type": "Storage",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bi1663"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_dOrvoT9jzoh6Xw7f",
        "category": "Storage",
        "x": 625,
        "y": 120,
        "wires": [
            [
                "sd_t6ahQgfWPpzjBopV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_t6ahQgfWPpzjBopV",
        "type": "Script",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.imageUrl = `http://localhost:8081/api/download/${page.result.filename}`\nconsole.log(\"session\", page.result)",
        "functionName": "sd_t6ahQgfWPpzjBopV",
        "category": "Function",
        "x": 725,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_3BXIJq1fyxcmccmh",
        "type": "PageSwitch",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "key",
        "propertyType": "this.page",
        "propertyGv": "this.page.key",
        "rules": [
            {
                "t": "cont",
                "v": "bankDetails",
                "vt": "str",
                "gv": "\"bankDetails\""
            },
            {
                "t": "cont",
                "v": "idDeceased",
                "vt": "str",
                "gv": "\"idDeceased\""
            },
            {
                "t": "cont",
                "v": "idClaimer",
                "vt": "str",
                "gv": "\"idClaimer\""
            },
            {
                "t": "cont",
                "v": "deathCetificatify",
                "vt": "str",
                "gv": "\"deathCetificatify\""
            },
            {
                "t": "cont",
                "v": "bi1663",
                "vt": "str",
                "gv": "\"bi1663\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "functionName": "sd_3BXIJq1fyxcmccmh",
        "category": "Function",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_09mIB1NmMWhtUJPo"
            ],
            [
                "sd_jdSznbCt9AopPT4T"
            ],
            [
                "sd_j5Fi6WpaIG7AWnx7"
            ],
            [
                "sd_8oDWIqEg3mYapHOc"
            ],
            [
                "sd_dOrvoT9jzoh6Xw7f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_09mIB1NmMWhtUJPo",
        "type": "Storage",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bankDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_09mIB1NmMWhtUJPo",
        "category": "Storage",
        "x": 625,
        "y": 40,
        "wires": [
            [
                "sd_w6XJNRDxyClfAqFx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_w6XJNRDxyClfAqFx",
        "type": "Script",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.imageUrl = `http://localhost:8081/api/download/${page.result.filename}`\nconsole.log(\"session\", page.result)",
        "functionName": "sd_w6XJNRDxyClfAqFx",
        "category": "Function",
        "x": 725,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_8oDWIqEg3mYapHOc",
        "type": "Storage",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "deathCetificatify"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_8oDWIqEg3mYapHOc",
        "category": "Storage",
        "x": 625,
        "y": 220,
        "wires": [
            [
                "sd_K3S7Uw8cnvJhO3FJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_K3S7Uw8cnvJhO3FJ",
        "type": "Script",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.imageUrl = `http://localhost:8081/api/download/${page.result.filename}`\nconsole.log(\"session\", page.result)",
        "functionName": "sd_K3S7Uw8cnvJhO3FJ",
        "category": "Function",
        "x": 725,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_jdSznbCt9AopPT4T",
        "type": "Storage",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idDeceased"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_jdSznbCt9AopPT4T",
        "category": "Storage",
        "x": 625,
        "y": 320,
        "wires": [
            [
                "sd_4GVwA4RfqyEaPFnf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_4GVwA4RfqyEaPFnf",
        "type": "Script",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.imageUrl = `http://localhost:8081/api/download/${page.result.filename}`\nconsole.log(\"session\", page.result)",
        "functionName": "sd_4GVwA4RfqyEaPFnf",
        "category": "Function",
        "x": 725,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_j5Fi6WpaIG7AWnx7",
        "type": "Storage",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idClaimer"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_j5Fi6WpaIG7AWnx7",
        "category": "Storage",
        "x": 625,
        "y": 400,
        "wires": [
            [
                "sd_xrbflunH5Skd910s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_xrbflunH5Skd910s",
        "type": "Script",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.imageUrl = `http://localhost:8081/api/download/${page.result.filename}`\nconsole.log(\"session\", page.result)",
        "functionName": "sd_xrbflunH5Skd910s",
        "category": "Function",
        "x": 725,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    },
    {
        "id": "sd_wYvg6kbX6d2RzWzR",
        "type": "Script",
        "z": "sd_PR3nvRTcpHmbFIoL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "for(let i=0;i<sessionStorage.length;i++)\n{\n    page.key.push(sessionStorage.key(i))\n}\n\n console.log(\"keys\", page.key.includes('user'))",
        "functionName": "sd_wYvg6kbX6d2RzWzR",
        "category": "Function",
        "x": 265,
        "y": 60,
        "wires": [
            [
                "sd_3BXIJq1fyxcmccmh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_documentComponent",
        "generated": true
    }
]
