designs/pages/Admin claims/claims_register.json
[
    {
        "id": "sd_N4CyuOQSKrbNKzFe",
        "type": "tab",
        "createdDate": "2024-08-25T14:37:24.681Z",
        "label": "claims_register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_WDAEQKzleIjERFxE",
        "type": "OnInit",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_WDAEQKzleIjERFxE",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_TLAQgRUW9oXzXEcO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_8uegiEQyOnacegW8",
        "type": "PageVariables",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "policyClaimsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyNo",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyholder",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "beneficiary",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "desname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "claimStatuses",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "docs",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fileURL",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "notification",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_8uegiEQyOnacegW8",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_RAZi7XEL1v8YuoKq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_fT4QY8oO9nWmGN5R",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms",
        "script": "// decesed details\n\nconsole.log(\"PH\")\n\npage.deceased = new FormGroup({\n      firstName :new FormControl(\"\"),\n      lastName: new FormControl( \"\"),\n      idNum :new FormControl(\"\"),\n       gender: new FormControl(\"\"),\n       dateOfDeath:new FormControl( '',[Validators.required]),\n    })\n    // documents\n  page.idClaimer=new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n     page.idDecesed =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bi1662 =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.deathCertificate =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bankDetails =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.newClient[0].firstName),\n    lastName:new FormControl(page.newClient[0].lastName),\n    idNum:new FormControl( page.newClient[0].idNumber),\n    gender:new FormControl( page.newClient[0].gender),\n    packageType : new FormControl( page.newClient[0].packageType),\n    payoutAmount :new FormControl('R110'),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(''),\n    idDecesed:page.idDecesed,\n     idDeceased2:new FormControl(''),\n    bi1662:page.bi1662,\n    bi16632:new FormControl(''),\n    deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(''),\n    bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl (),\n     beIds: new FormControl()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms",
        "category": "Function",
        "x": 1225,
        "y": 100,
        "wires": [
            [
                "sd_lc7a7aI8KJ997bHn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_TLAQgRUW9oXzXEcO",
        "type": "UseDependency",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_TLAQgRUW9oXzXEcO",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_8uegiEQyOnacegW8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Pmcf2QLXpNt1xmib",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "start",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "start",
        "category": "General",
        "x": 45,
        "y": 840,
        "wires": [
            [
                "sd_gTV26jkDQkSajvI6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_VS9kuSjxODDIjqLl",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_VS9kuSjxODDIjqLl",
        "category": "General",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_YYpzaqPjgqnQDOvA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_lc7a7aI8KJ997bHn",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_lc7a7aI8KJ997bHn",
        "category": "HTTP",
        "x": 1365,
        "y": 60,
        "wires": [
            [
                "sd_2zMKByS1YzyZkcY2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_2zMKByS1YzyZkcY2",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)",
        "functionName": "sd_2zMKByS1YzyZkcY2",
        "category": "Function",
        "x": 1465,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_RAZi7XEL1v8YuoKq",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "check"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "checked"
        },
        "functionName": "sd_RAZi7XEL1v8YuoKq",
        "category": "Storage",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_tRNzeK7FO7O5eZY6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_t7WBGNUYn2Qn9klf",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.checked.policyHolder == true) {\n    page.beneficiary = false\n    page.policyHolder = true\n} else {\n    page.beneficiary = true\n    page.policyHolder = false\n}\n\npage.policyNo = page.newClient[0].policyNumber\n\npage.notification = {\n    \"notificationID\": `NOT-${new Date().getTime()}`,\n    \"claimNumber\": `CN-${page.policyNo}`,\n    \"addedBy\": page.user.role,\n    \"notification\": \"CLAIM has been created sucessfully and pending\"\n}\n",
        "functionName": "sd_t7WBGNUYn2Qn9klf",
        "category": "Function",
        "x": 565,
        "y": 40,
        "wires": [
            [
                "sd_VS9kuSjxODDIjqLl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_tRNzeK7FO7O5eZY6",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "client"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "newClient"
        },
        "functionName": "sd_tRNzeK7FO7O5eZY6",
        "category": "Storage",
        "x": 400,
        "y": 40,
        "wires": [
            [
                "sd_hGyKu4GCZrIhOO7t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_VmZ87Aum2rOPCu6Y",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben and depen array for selectors",
        "script": "// Dependency\n\npage.fileURL = page.ssdUrl + 'download/'\n\npage.deparray = page.newClient[0].dependencies\nconsole.log(\"depnarray\",page.deparray)\n// beneficary\npage.benarray = page.newClient[0].beneficaries\nconsole.log(\"benearray\",page.benarray)\n\npage.docs = []\n\npage.ids = [\n   {value: page.deparray[0], viewValue: page.deparray[0].idNumber},\n   {value: page.deparray[1], viewValue: page.deparray[1].idNumber},\n   {value: page.deparray[2], viewValue: page.deparray[2].idNumber}\n];\n\npage.beIds = [\n   {value: page.benarray[0], viewValue: page.benarray[0].idNumber},\n   {value: page.benarray[1], viewValue: page.benarray[1].idNumber}\n];\n\n",
        "functionName": "benAndDepenArrayForSelectors",
        "category": "Function",
        "x": 985,
        "y": 40,
        "wires": [
            [
                "sd_s7IAxRYDHIXfSJ12"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_aLg7SMgOK7JFbf8d",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate",
        "category": "General",
        "x": 1785,
        "y": 40,
        "wires": [
            [
                "sd_YRFsW4mmP13CYVr4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_YRFsW4mmP13CYVr4",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.name = page.policyClaimsForm.value.depsId.firstName\n// page.surname = page.policyClaimsForm.value.depsId.lastName\n// page.idnum = page.policyClaimsForm.value.depsId.idNumber\n// page.gender = page.policyClaimsForm.value.depsId.gender\n\n// patchValue({\n\n// })\npage.deceased.patchValue ({\n      firstName :page.policyClaimsForm.value.depsId.firstName,\n      lastName:  page.policyClaimsForm.value.depsId.lastName,\n      idNum :page.policyClaimsForm.value.depsId.idNumber,\n       gender:page.policyClaimsForm.value.depsId.gender ,\n       \n    })",
        "functionName": "sd_YRFsW4mmP13CYVr4",
        "category": "Function",
        "x": 1905,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_gTV26jkDQkSajvI6",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrl + 'add-claim'\nconsole.log(\"The val\",page.deathCetificatifyFile)\nbh.body = page.policyClaimsForm.value\nbh.body.policyNo = page.policyNo\nbh.body.claimNumber = `CN-${page.policyNo}`\n\ndelete bh.body.deathCetificatify2\ndelete bh.body.deceased2\ndelete bh.body.idClaimer2\ndelete bh.body.idDeceased2\ndelete bh.body.bi16632\ndelete bh.body.bankDetails2\n\nconsole.log(\"This is bh body\", bh.body)",
        "functionName": "sd_gTV26jkDQkSajvI6",
        "category": "Function",
        "x": 165,
        "y": 900,
        "wires": [
            [
                "sd_OMTsTOK7oXNTPdug"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_6AIl6tNP9HfXh7UZ",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_6AIl6tNP9HfXh7UZ",
        "category": "General",
        "x": 665,
        "y": 840,
        "wires": [
            [
                "sd_GDDWmjjIVPTba5A7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_GDDWmjjIVPTba5A7",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_GDDWmjjIVPTba5A7",
        "category": "HTTP",
        "x": 725,
        "y": 840,
        "wires": [
            [
                "sd_wZzTriFZ4B4Kx6yx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_wZzTriFZ4B4Kx6yx",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Claim Added"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wZzTriFZ4B4Kx6yx",
        "category": "General",
        "x": 805,
        "y": 840,
        "wires": [
            [
                "sd_EZV9KScHEbVQ3VZL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_EZV9KScHEbVQ3VZL",
        "type": "Navigation",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/claims",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_EZV9KScHEbVQ3VZL",
        "category": "Navigation",
        "x": 925,
        "y": 840,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Bymc6jPBYuJm79rv",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben form",
        "script": "// decesed details\n\nconsole.log(\"BEN\")\n\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.newClient[0].firstName),\n      lastName: new FormControl(page.newClient[0].lastName ),\n      idNum :new FormControl( page.newClient[0].idNumber),\n       gender: new FormControl(page.newClient[0].gender),\n       dateOfDeath:new FormControl( '',[Validators.required]),\n    })\n    // documents\n  page.idClaimer=new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n     page.idDecesed =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bi1663 =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.deathCertificate =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bankDetails =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(\"\"),\n    lastName:new FormControl(\"\"),\n    idNum:new FormControl( \"\"),\n    gender:new FormControl(\"\"),\n    packageType : new FormControl( page.newClient[0].packageType),\n    payoutAmount :new FormControl('R110'),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(''),\n    idDecesed:page.idDecesed,\n     idDeceased2:new FormControl(''),\n    bi1663:page.bi1663,\n     bi16632:new FormControl(''),\n    deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(''),\n    bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl (),\n     beIds: new FormControl()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "benForm",
        "category": "Function",
        "x": 1205,
        "y": 20,
        "wires": [
            [
                "sd_lc7a7aI8KJ997bHn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_HwSEW31qlijbdmJp",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.name1 = page.policyClaimsForm.value.beIds.firstName\n// page.surname1 = page.policyClaimsForm.value.beIds.lastName\n// page.idnum1 = page.policyClaimsForm.value.beIds.idNumber\n// page.gender1 = page.policyClaimsForm.value.beIds.gender\n\npage.policyClaimsForm.patchValue({\n    firstName :page.policyClaimsForm.value.beIds.firstName,\n    lastName: page.policyClaimsForm.value.beIds.lastName,\n    idNum:page.policyClaimsForm.value.beIds.idNumber,\n    gender:page.policyClaimsForm.value.beIds.gender\n    })",
        "functionName": "sd_HwSEW31qlijbdmJp",
        "category": "Function",
        "x": 1905,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_s7IAxRYDHIXfSJ12",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "checked.policyHolder",
        "propertyType": "this.page",
        "propertyGv": "this.page.checked.policyHolder",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_s7IAxRYDHIXfSJ12",
        "category": "Function",
        "x": 1105,
        "y": 40,
        "wires": [
            [
                "sd_Bymc6jPBYuJm79rv"
            ],
            [
                "sd_fT4QY8oO9nWmGN5R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_uvJwIne7tLU7d9Q9",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate2",
        "category": "General",
        "x": 1785,
        "y": 120,
        "wires": [
            [
                "sd_HwSEW31qlijbdmJp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_8uy7TQ48zgBugAZc",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('page.',page.deceased)",
        "functionName": "sd_8uy7TQ48zgBugAZc",
        "category": "Function",
        "x": 105,
        "y": 900,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_pN2ygQATPeLmzpIS",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload1",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_i0xoEvpROPITU08N"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_i0xoEvpROPITU08N",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload1 = document.getElementById('upload1') as HTMLInputElement;\n  if (bh.upload1) {\n   bh.upload1.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile1 = new FormData()\n       page.uploadedFile1.append('file', bh.file)\n       this.goToBackend1()\n    }\n  })\n  }\nconsole.log(\"page.uploadedFile1\",page.uploadedFile1)",
        "functionName": "sd_i0xoEvpROPITU08N",
        "category": "Function",
        "x": 160,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_HAh8e2O6WlsOH6LR",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HAh8e2O6WlsOH6LR",
        "category": "General",
        "x": 125,
        "y": 140,
        "wires": [
            [
                "sd_tEq1F4UeJuAdbLVa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_tEq1F4UeJuAdbLVa",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_tEq1F4UeJuAdbLVa",
        "category": "Function",
        "x": 225,
        "y": 140,
        "wires": [
            [
                "sd_pm7IM6MBn4iCRAJX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_pm7IM6MBn4iCRAJX",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_pm7IM6MBn4iCRAJX",
        "category": "HTTP",
        "x": 325,
        "y": 140,
        "wires": [
            [
                "sd_b1QBlwuGwfmxrU8X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_iwimDeYXL6XcUkV4",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend1",
        "category": "General",
        "x": 25,
        "y": 140,
        "wires": [
            [
                "sd_HAh8e2O6WlsOH6LR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_b1QBlwuGwfmxrU8X",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"idClaimer\",JSON.stringify(bh.result))\nthis.getFromBackend1()\n\nlet file = JSON.parse(sessionStorage.getItem(\"idClaimer\"))\n\npage.docs[0] = {\n    name: \"idClaimer\",\n    ...file\n}",
        "functionName": "sd_b1QBlwuGwfmxrU8X",
        "category": "Function",
        "x": 425,
        "y": 140,
        "wires": [
            [
                "sd_jr3k8kNfVkjaB5Ka"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_jr3k8kNfVkjaB5Ka",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "claimer id Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_jr3k8kNfVkjaB5Ka",
        "category": "General",
        "x": 525,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_y6PJt16z1WJHehyF",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend1",
        "category": "General",
        "x": 245,
        "y": 220,
        "wires": [
            [
                "sd_K6MUoKvNOAgAhK6i"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_K6MUoKvNOAgAhK6i",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idClaimer"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idclaimerFile"
        },
        "functionName": "sd_K6MUoKvNOAgAhK6i",
        "category": "Storage",
        "x": 385,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_kv8fOzN3JZKLGL8Y",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "id claimer file added on form",
        "script": "page.policyClaimsForm.value.idClaimer._id = page.idclaimerFile._id\npage.policyClaimsForm.value.idClaimer.filename = page.idclaimerFile.filename\npage.policyClaimsForm.value.idClaimer.length = page.idclaimerFile.length\npage.policyClaimsForm.value.idClaimer.chunkSize = page.idclaimerFile.chunkSize",
        "functionName": "idClaimerFileAddedOnForm",
        "category": "Function",
        "x": 285,
        "y": 740,
        "wires": [
            [
                "sd_snQrUVCSE6LP6Dgp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_S1gyKckXWRyS9lSM",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload2",
        "category": "General",
        "x": 65,
        "y": 440,
        "wires": [
            [
                "sd_G0j8bBjdh9weyiHG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_G0j8bBjdh9weyiHG",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload2 = document.getElementById('upload2') as HTMLInputElement;\n  if (bh.upload2) {\n   bh.upload2.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile2 = new FormData()\n       page.uploadedFile2.append('file', bh.file)\n        this.goToBackend2()\n    }\n  })\n  }",
        "functionName": "sd_G0j8bBjdh9weyiHG",
        "category": "Function",
        "x": 225,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_s4TFoVZaDvBKch2t",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload3",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload3",
        "category": "General",
        "x": 65,
        "y": 620,
        "wires": [
            [
                "sd_aT3O0eRMOtZ6LC7u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_aT3O0eRMOtZ6LC7u",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload3 = document.getElementById('upload3') as HTMLInputElement;\n  if (bh.upload3) {\n   bh.upload3.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile3= new FormData()\n       page.uploadedFile3.append('file', bh.file)\n        this.goToBackend3()\n    }\n  })\n}\n",
        "functionName": "sd_aT3O0eRMOtZ6LC7u",
        "category": "Function",
        "x": 145,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_LhQRZFr5wXEAmZrZ",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_LhQRZFr5wXEAmZrZ",
        "category": "General",
        "x": 165,
        "y": 340,
        "wires": [
            [
                "sd_TEc7ZPzpUyYtkEba"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_TEc7ZPzpUyYtkEba",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_TEc7ZPzpUyYtkEba",
        "category": "Function",
        "x": 265,
        "y": 340,
        "wires": [
            [
                "sd_HziKCOhAlC4JYwNt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_HziKCOhAlC4JYwNt",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_HziKCOhAlC4JYwNt",
        "category": "HTTP",
        "x": 365,
        "y": 340,
        "wires": [
            [
                "sd_naVFzQoHG9PNzmpr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_IgOlwuw484mmQ8YO",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend2",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_LhQRZFr5wXEAmZrZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_naVFzQoHG9PNzmpr",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"idDeceased\",JSON.stringify(bh.result))\nthis.getFromBackend2()\n\nlet file = JSON.parse(sessionStorage.getItem(\"idDeceased\"))\n\npage.docs[1] = {\n    name: \"idDeceased\",\n    ...file\n}",
        "functionName": "sd_naVFzQoHG9PNzmpr",
        "category": "Function",
        "x": 465,
        "y": 340,
        "wires": [
            [
                "sd_ByY2JldcpCcfHzI8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_ByY2JldcpCcfHzI8",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Deceased Id Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ByY2JldcpCcfHzI8",
        "category": "General",
        "x": 565,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_CjvWQiUircLfJOvq",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend2",
        "category": "General",
        "x": 325,
        "y": 440,
        "wires": [
            [
                "sd_9yKA7QsBVt0HSigs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_9yKA7QsBVt0HSigs",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idDeceased"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idDeceasedFile"
        },
        "functionName": "sd_9yKA7QsBVt0HSigs",
        "category": "Storage",
        "x": 465,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_NKq8I2oKOKqsJyCT",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Deceased id file in form",
        "script": "page.policyClaimsForm.value. idDecesed._id = page.idclaimerFile._id\npage.policyClaimsForm.value. idDecesed.filename = page.idDeceasedFile.filename\npage.policyClaimsForm.value. idDecesed.length = page.idDeceasedFile.length\npage.policyClaimsForm.value. idDecesed.chunkSize = page.idDeceasedFile.chunkSize",
        "functionName": "deceasedIdFileInForm",
        "category": "Function",
        "x": 185,
        "y": 780,
        "wires": [
            [
                "sd_kv8fOzN3JZKLGL8Y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_6uNK0kYpEsVrH7Ly",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_6uNK0kYpEsVrH7Ly",
        "category": "General",
        "x": 165,
        "y": 540,
        "wires": [
            [
                "sd_quK7nLtPiswS8Hr6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_quK7nLtPiswS8Hr6",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_quK7nLtPiswS8Hr6",
        "category": "Function",
        "x": 265,
        "y": 540,
        "wires": [
            [
                "sd_cXQZgmIjNnXGhMfB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_cXQZgmIjNnXGhMfB",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile3",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile3"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_cXQZgmIjNnXGhMfB",
        "category": "HTTP",
        "x": 365,
        "y": 540,
        "wires": [
            [
                "sd_PEs3jZ0F7V9TKive"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_7HMhDMyc2AKX2ucm",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend3",
        "category": "General",
        "x": 65,
        "y": 540,
        "wires": [
            [
                "sd_6uNK0kYpEsVrH7Ly"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_PEs3jZ0F7V9TKive",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"deathCetificatify\",JSON.stringify(bh.result))\nthis.getFromBackend3()\nconsole.log(\"bh\",bh.results)\n\nlet file = JSON.parse(sessionStorage.getItem(\"deathCetificatify\"))\n\npage.docs[2] = {\n    name: \"deathCetificatify\",\n    ...file\n}",
        "functionName": "sd_PEs3jZ0F7V9TKive",
        "category": "Function",
        "x": 465,
        "y": 540,
        "wires": [
            [
                "sd_8oQKKQYPcqVuI8TK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_8oQKKQYPcqVuI8TK",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Death Cetificatify Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_8oQKKQYPcqVuI8TK",
        "category": "General",
        "x": 565,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_wMUpwRzmLCauob6u",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend3",
        "category": "General",
        "x": 245,
        "y": 620,
        "wires": [
            [
                "sd_HpMne9ieeprru1TK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_HpMne9ieeprru1TK",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "deathCetificatify"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "deathCetificatifyFile"
        },
        "functionName": "sd_HpMne9ieeprru1TK",
        "category": "Storage",
        "x": 325,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_OMTsTOK7oXNTPdug",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Death Cetificatify file in form",
        "script": "page.policyClaimsForm.value.deathCertificate._id = page.deathCetificatifyFile._id\npage.policyClaimsForm.value.deathCertificate.filename = page.deathCetificatifyFile.filename\npage.policyClaimsForm.value.deathCertificate.length = page.deathCetificatifyFile.length\npage.policyClaimsForm.value.deathCertificate.chunkSize = page.deathCetificatifyFile.chunkSize\n\nconsole.log(\"The val\",page.deathCetificatifyFile)",
        "functionName": "deathCetificatifyFileInForm",
        "category": "Function",
        "x": 105,
        "y": 760,
        "wires": [
            [
                "sd_NKq8I2oKOKqsJyCT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_u4KB9PPIAMtnXNDe",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload4",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload4",
        "category": "General",
        "x": 785,
        "y": 320,
        "wires": [
            [
                "sd_pO4AAHrTGJHGxcJs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_pO4AAHrTGJHGxcJs",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload4 = document.getElementById('upload4') as HTMLInputElement;\n  if (bh.upload4) {\n   bh.upload4.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile4 = new FormData()\n       page.uploadedFile4.append('file', bh.file)\n        this.goToBackend4()\n    }\n  })\n  }",
        "functionName": "sd_pO4AAHrTGJHGxcJs",
        "category": "Function",
        "x": 905,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_RW6hTM1nuBoZ7wzr",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload5",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload5",
        "category": "General",
        "x": 805,
        "y": 540,
        "wires": [
            [
                "sd_1u0zIChRYRVWLz4w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_1u0zIChRYRVWLz4w",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload5 = document.getElementById('upload5') as HTMLInputElement;\n  if (bh.upload5) {\n   bh.upload5.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile5 = new FormData()\n       page.uploadedFile5.append('file', bh.file)\n        this.goToBackend5()\n    }\n  })\n  }",
        "functionName": "sd_1u0zIChRYRVWLz4w",
        "category": "Function",
        "x": 905,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_ch1LeIg0VFOP5L4f",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ch1LeIg0VFOP5L4f",
        "category": "General",
        "x": 885,
        "y": 200,
        "wires": [
            [
                "sd_VmKFEeemCRTBGk6S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_VmKFEeemCRTBGk6S",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_VmKFEeemCRTBGk6S",
        "category": "Function",
        "x": 985,
        "y": 200,
        "wires": [
            [
                "sd_rXIAeUYF30BWCUSh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_rXIAeUYF30BWCUSh",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile4",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile4"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_rXIAeUYF30BWCUSh",
        "category": "HTTP",
        "x": 1085,
        "y": 200,
        "wires": [
            [
                "sd_qAqklLHl7YggpvdV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_32LyDrjbYafwmVLT",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend4",
        "category": "General",
        "x": 785,
        "y": 200,
        "wires": [
            [
                "sd_ch1LeIg0VFOP5L4f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_qAqklLHl7YggpvdV",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"bi1663\",JSON.stringify(bh.result))\nthis.getFromBackend4()\n\nlet file = JSON.parse(sessionStorage.getItem(\"bi1663\"))\n\npage.docs[3] = {\n    name: \"bi1663\",\n    ...file\n}",
        "functionName": "sd_qAqklLHl7YggpvdV",
        "category": "Function",
        "x": 1185,
        "y": 200,
        "wires": [
            [
                "sd_lg9wvNZgvdJI59fo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_lg9wvNZgvdJI59fo",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_lg9wvNZgvdJI59fo",
        "category": "General",
        "x": 1285,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_ERMjX0BVtHqKFxGa",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend4",
        "category": "General",
        "x": 1025,
        "y": 320,
        "wires": [
            [
                "sd_gL8y6GZoB2NS2hdX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_gL8y6GZoB2NS2hdX",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bi1663"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bi1663File"
        },
        "functionName": "sd_gL8y6GZoB2NS2hdX",
        "category": "Storage",
        "x": 1105,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_JR3eNMxvH2KitFQv",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bi1663 file in form",
        "script": "page.policyClaimsForm.value.bi1662._id = page.bi1663File._id\npage.policyClaimsForm.value.bi1662.filename = page.bi1663File.filename\npage.policyClaimsForm.value.bi1662.length = page.bi1663File.length\npage.policyClaimsForm.value.bi1662.chunkSize = page.bi1663File.chunkSize",
        "functionName": "bi1663FileInForm",
        "category": "Function",
        "x": 485,
        "y": 780,
        "wires": [
            [
                "sd_6AIl6tNP9HfXh7UZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Q24KK8CQ39Px5KnJ",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Q24KK8CQ39Px5KnJ",
        "category": "General",
        "x": 905,
        "y": 420,
        "wires": [
            [
                "sd_GIH7bU9nx5ZqjZdu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_GIH7bU9nx5ZqjZdu",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_GIH7bU9nx5ZqjZdu",
        "category": "Function",
        "x": 1005,
        "y": 420,
        "wires": [
            [
                "sd_lZOqKwyx0IZ5HCE1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_lZOqKwyx0IZ5HCE1",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile5",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile5"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_lZOqKwyx0IZ5HCE1",
        "category": "HTTP",
        "x": 1105,
        "y": 420,
        "wires": [
            [
                "sd_lbjf2VgcIKFjsixy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_MQwP9s86fj7L1r2c",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend5",
        "category": "General",
        "x": 805,
        "y": 420,
        "wires": [
            [
                "sd_Q24KK8CQ39Px5KnJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_lbjf2VgcIKFjsixy",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"bankDetails\",JSON.stringify(bh.result))\nthis.getFromBackend5()\n\nlet file = JSON.parse(sessionStorage.getItem(\"bankDetails\"))\n\npage.docs[4] = {\n    name: \"bankDetails\",\n    ...file\n}",
        "functionName": "sd_lbjf2VgcIKFjsixy",
        "category": "Function",
        "x": 1205,
        "y": 420,
        "wires": [
            [
                "sd_rzesD82YORPSFkNR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_rzesD82YORPSFkNR",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_rzesD82YORPSFkNR",
        "category": "General",
        "x": 1305,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_21mSynYSb6vu6Khf",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend5",
        "category": "General",
        "x": 1025,
        "y": 540,
        "wires": [
            [
                "sd_shJhZakxr7p6z9TR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_shJhZakxr7p6z9TR",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bankDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bankDetailsFile"
        },
        "functionName": "sd_shJhZakxr7p6z9TR",
        "category": "Storage",
        "x": 1165,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_snQrUVCSE6LP6Dgp",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bankDetails file in form",
        "script": "page.policyClaimsForm.value.bankDetails._id = page.bankDetailsFile._id\npage.policyClaimsForm.value.bankDetails.filename = page.bankDetailsFile.filename\npage.policyClaimsForm.value.bankDetails.length = page.bankDetailsFile.length\npage.policyClaimsForm.value.bankDetails.chunkSize = page.bankDetailsFile.chunkSize",
        "functionName": "bankDetailsFileInForm",
        "category": "Function",
        "x": 385,
        "y": 740,
        "wires": [
            [
                "sd_JR3eNMxvH2KitFQv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_EiyEHm1Q0suBYnul",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "claim"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selectedClaim"
        },
        "functionName": "sd_EiyEHm1Q0suBYnul",
        "category": "Storage",
        "x": 485,
        "y": 1240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_0ZC8jSwPtvUkjiBJ",
        "type": "NavigationData",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "tmpOp": "",
        "tmpOpType": "",
        "operationType": "queryParams",
        "operation": "keys",
        "key": "bh",
        "resultMapping": "bh.routeData",
        "functionName": "sd_0ZC8jSwPtvUkjiBJ",
        "category": "Navigation",
        "x": 205,
        "y": 1200,
        "wires": [
            [
                "sd_yo4JoCQiVtNoLyHc"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "routeData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_j9GOsDaRPX1qn2HK",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "checkIfIsReview",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "checkIfIsReview",
        "category": "General",
        "x": 85,
        "y": 1200,
        "wires": [
            [
                "sd_0ZC8jSwPtvUkjiBJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_HbEDqAM5kG7ivWOE",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "removeItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "claim"
        },
        "value": {},
        "resultMapping": {},
        "functionName": "sd_HbEDqAM5kG7ivWOE",
        "category": "Storage",
        "x": 485,
        "y": 1140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_yo4JoCQiVtNoLyHc",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "routeData",
        "propertyType": "bh",
        "propertyGv": "bh.routeData",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_yo4JoCQiVtNoLyHc",
        "category": "Function",
        "x": 365,
        "y": 1200,
        "wires": [
            [
                "sd_HbEDqAM5kG7ivWOE"
            ],
            [
                "sd_EiyEHm1Q0suBYnul"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_QHKgZNl5Jio19cV7",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms1",
        "script": "// decesed details\n\nconsole.log(\"PH\")\n\npage.claimStatuses = [\n  { value: \"partially approved\", viewValue: \"Partially Approve\" },\n  { value: \"rejected\", viewValue: \"Reject\" },\n]\n\npage.deceased = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.deceased.firstName),\n  lastName: new FormControl(page.selectedClaim.deceased.lastName),\n  idNum: new FormControl(page.selectedClaim.deceased.idNum),\n  gender: new FormControl(page.selectedClaim.deceased.gender),\n  dateOfDeath: new FormControl(page.selectedClaim.deceased.dateOfDeath),\n  status: new FormControl(page.selectedClaim.status),\n})\n\nconsole.log(\"DECEASED\", page.deceased)\n\n// documents\npage.idClaimer = new FormGroup({\n  _id: new FormControl(page.selectedClaim.idClaimer._id),\n  filename: new FormControl(page.selectedClaim.idClaimer.filename),\n  // chunkSize: new FormControl(page.selectedClaim.idClaimer.chunkSize.length),\n  length: new FormControl(page.selectedClaim.idClaimer.length),\n\n})\n\npage.idDecesed = new FormGroup({\n  _id: new FormControl(page.selectedClaim.idDecesed._id),\n  filename: new FormControl(page.selectedClaim.idDecesed.filename),\n  // chunkSize: new FormControl(page.selectedClaim.idDecesed.chunkSize.length),\n  length: new FormControl(page.selectedClaim.idDecesed.length),\n\n})\n\npage.bi1662 = new FormGroup({\n  _id: new FormControl(page.selectedClaim.bi1662._id),\n  filename: new FormControl(page.selectedClaim.bi1662.filename),\n  // chunkSize: new FormControl(page.selectedClaim.bi1662.chunkSize.length),\n  length: new FormControl(page.selectedClaim.bi1662.length),\n\n})\n\npage.deathCertificate = new FormGroup({\n  _id: new FormControl(page.selectedClaim.deathCertificate._id),\n  filename: new FormControl(page.selectedClaim.deathCertificate.filename),\n  // chunkSize: new FormControl(page.selectedClaim.deathCertificate.chunkSize.length),\n  length: new FormControl(page.selectedClaim.deathCertificate.length),\n\n})\n\npage.bankDetails = new FormGroup({\n  _id: new FormControl(page.selectedClaim.bankDetails._id),\n  filename: new FormControl(page.selectedClaim.bankDetails.filename),\n  // chunkSize: new FormControl(page.selectedClaim.bankDetails.chunkSize.length),\n  length: new FormControl(page.selectedClaim.bankDetails.length),\n})\n\n//claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.firstName),\n  lastName: new FormControl(page.selectedClaim.lastName),\n  idNum: new FormControl(page.selectedClaim.idNum),\n  gender: new FormControl(page.selectedClaim.gender),\n  packageType: new FormControl(page.selectedClaim.packageType),\n  payoutAmount: new FormControl(page.selectedClaim.payoutAmount),\n  deceased: page.deceased,\n  deceased2: new FormControl(''),\n  idClaimer: page.idClaimer,\n  idClaimer2: new FormControl(''),\n  idDecesed: page.idDecesed,\n  idDeceased2: new FormControl(''),\n  bi1662: page.bi1662,\n  bi16632: new FormControl(''),\n  deathCertificate: page.deathCertificate,\n  deathCetificatify2: new FormControl(''),\n  bankDetails: page.bankDetails,\n  bankDetails2: new FormControl(''),\n  depsId: new FormControl(page.selectedClaim.depsId),\n  beIds: new FormControl(page.selectedClaim.beIds),\n  claimNumber: new FormControl(page.selectedClaim.claimNumber),\n  status: new FormControl(page.deceased.value.status),\n  _id: new FormControl(page.selectedClaim._id)\n\n})\n\npage.date = new Date()\n\nconsole.log(\"page.deceased\", page.deceased)\n\n\nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms1",
        "category": "Function",
        "x": 485,
        "y": 1460,
        "wires": [
            [
                "sd_H2rfObg2GTiF2OJI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_H2rfObg2GTiF2OJI",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_H2rfObg2GTiF2OJI",
        "category": "HTTP",
        "x": 685,
        "y": 1400,
        "wires": [
            [
                "sd_duOxmO19SUtDVgxP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_duOxmO19SUtDVgxP",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)",
        "functionName": "sd_duOxmO19SUtDVgxP",
        "category": "Function",
        "x": 785,
        "y": 1400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_KqW8tRDm0M48Qng2",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben1 form",
        "script": "// decesed details\n\nconsole.log(\"BEN\")\n\npage.claimStatuses = [\n  { value: \"partially approved\", viewValue: \"Partially Approve\" },\n  { value: \"rejected\", viewValue: \"Reject\" },\n]\n\npage.deceased = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.deceased.firstName),\n  lastName: new FormControl(page.selectedClaim.deceased.lastName),\n  idNum: new FormControl(page.selectedClaim.deceased.idNum),\n  gender: new FormControl(page.selectedClaim.deceased.gender),\n  dateOfDeath: new FormControl(page.selectedClaim.deceased.dateOfDeath, [Validators.required]),\n  status: new FormControl(page.selectedClaim, [Validators.required])\n})\n\nconsole.log(\"DECEASED\", page.deceased)\n\n// documents\npage.idClaimer = new FormGroup({\n  _id: new FormControl(page.selectedClaim.idClaimer._id),\n  filename: new FormControl(page.selectedClaim.idClaimer.filename),\n  // chunkSize: new FormControl(page.selectedClaim.idClaimer.chunkSize?.length),\n  length: new FormControl(page.selectedClaim.idClaimer.length),\n})\n\npage.idDecesed = new FormGroup({\n  _id: new FormControl(page.selectedClaim.idDecesed._id),\n  filename: new FormControl(page.selectedClaim.idDecesed.filename),\n  // chunkSize: new FormControl(page.selectedClaim.idDecesed.chunkSize?.length),\n  length: new FormControl(page.selectedClaim.idDecesed.length),\n\n})\n\npage.bi1663 = new FormGroup({\n  _id: new FormControl(page.selectedClaim.bi1662._id),\n  filename: new FormControl(page.selectedClaim.bi1662.filename),\n  // chunkSize: new FormControl(page.selectedClaim.bi1662.chunkSize?.length),\n  length: new FormControl(page.selectedClaim.bi1662.length),\n})\n\npage.deathCertificate = new FormGroup({\n  _id: new FormControl(page.selectedClaim.deathCertificate._id),\n  filename: new FormControl(page.selectedClaim.deathCertificate.filename),\n  // chunkSize: new FormControl(page.selectedClaim.deathCertificate.chunkSize?.length),\n  length: new FormControl(page.selectedClaim.deathCertificate.length),\n\n})\n\npage.bankDetails = new FormGroup({\n  _id: new FormControl(page.selectedClaim.bankDetails._id),\n  filename: new FormControl(page.selectedClaim.bankDetails.filename),\n  // chunkSize: new FormControl(page.selectedClaim.bankDetails.chunkSize?.length),\n  length: new FormControl(page.selectedClaim.bankDetails.length),\n})\n\n//claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.firstName),\n  lastName: new FormControl(page.selectedClaim.lastName),\n  idNum: new FormControl(page.selectedClaim.idNum),\n  gender: new FormControl(page.selectedClaim.gender),\n  packageType: new FormControl(page.selectedClaim.packageType),\n  payoutAmount: new FormControl(page.selectedClaim.payoutAmount),\n  deceased: page.deceased,\n  status: new FormControl(page.selectedClaim.status),\n  deceased2: new FormControl(''),\n  idClaimer: page.idClaimer,\n  idClaimer2: new FormControl(''),\n  idDecesed: page.idDecesed,\n  idDeceased2: new FormControl(''),\n  bi1663: page.bi1663,\n  bi16632: new FormControl(''),\n  deathCertificate: page.deathCertificate,\n  deathCetificatify2: new FormControl(''),\n  bankDetails: page.bankDetails,\n  bankDetails2: new FormControl(''),\n  depsId: new FormControl(page.selectedClaim.depsId),\n  beIds: new FormControl(page.selectedClaim.beIds),\n  _id: new FormControl(page.selectedClaim._id),\n  claimNumber: new FormControl(page.selectedClaim.claimNumber)\n})\n\npage.date = new Date()\n\nconsole.log(\"page.deceased\", page.deceased)\n\n\nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "ben1Form",
        "category": "Function",
        "x": 485,
        "y": 1340,
        "wires": [
            [
                "sd_H2rfObg2GTiF2OJI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_TKthgYuBJaq7ONFh",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "reviewPatch",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "reviewPatch",
        "category": "General",
        "x": 85,
        "y": 1400,
        "wires": [
            [
                "sd_3UFHNmHQ6gr6Z6rE",
                "sd_tTEL46pK2xh7B0lI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_ypuYcwTSxbHCyLl9",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "selectedClaim.depsId",
        "propertyType": "this.page",
        "propertyGv": "this.page.selectedClaim.depsId",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ypuYcwTSxbHCyLl9",
        "category": "Function",
        "x": 365,
        "y": 1400,
        "wires": [
            [
                "sd_KqW8tRDm0M48Qng2"
            ],
            [
                "sd_QHKgZNl5Jio19cV7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_YYpzaqPjgqnQDOvA",
        "type": "PageCallService",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_N4CyuOQSKrbNKzFe",
            "type": "tab",
            "createdDate": "2024-08-25T14:37:24.681Z",
            "label": "claims_register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_j9GOsDaRPX1qn2HK",
            "flowName": "checkIfIsReview"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "checkIfIsReview",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_YYpzaqPjgqnQDOvA",
        "category": "General",
        "x": 725,
        "y": 40,
        "wires": [
            [
                "sd_FZutB5HUJlZZ3mXi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_FZutB5HUJlZZ3mXi",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "selectedClaim",
        "propertyType": "this.page",
        "propertyGv": "this.page.selectedClaim",
        "rules": [
            {
                "t": "istype",
                "v": "\"undefined\"",
                "vt": "\"undefined\"",
                "gv": "\"undefined\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FZutB5HUJlZZ3mXi",
        "category": "Function",
        "x": 805,
        "y": 40,
        "wires": [
            [
                "sd_VmZ87Aum2rOPCu6Y"
            ],
            [
                "sd_0dgCvNhXnv2EDp9O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_0dgCvNhXnv2EDp9O",
        "type": "PageCallService",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_N4CyuOQSKrbNKzFe",
            "type": "tab",
            "createdDate": "2024-08-25T14:37:24.681Z",
            "label": "claims_register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_TKthgYuBJaq7ONFh",
            "flowName": "reviewPatch"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "reviewPatch",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_0dgCvNhXnv2EDp9O",
        "category": "General",
        "x": 985,
        "y": 120,
        "wires": [
            [
                "sd_vlg7Jz5xPnAHOlgA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_vlg7Jz5xPnAHOlgA",
        "type": "Log",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.selectedClaim",
        "functionName": "sd_vlg7Jz5xPnAHOlgA",
        "category": "General",
        "x": 1105,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "selectedClaim",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_3UFHNmHQ6gr6Z6rE",
        "type": "Log",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.selectedClaim",
        "functionName": "sd_3UFHNmHQ6gr6Z6rE",
        "category": "General",
        "x": 225,
        "y": 1540,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "selectedClaim",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_M9HeUA5hjXD09RPR",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "open",
        "category": "General",
        "x": 105,
        "y": 1040,
        "wires": [
            [
                "sd_sZzw2GvSrAzcQ1Zs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_sZzw2GvSrAzcQ1Zs",
        "type": "OpenDialog",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_PR3nvRTcpHmbFIoL",
            "label": "view_document"
        },
        "relativePath": "app/components/Authentication/view_document",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_sZzw2GvSrAzcQ1Zs",
        "category": "Dialog",
        "x": 260,
        "y": 1040,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_UmdtwXC1AB0nhAbw",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.claimKeys = Object.keys(page.selectedClaim)\n\npage.docs = [] \n\nbh.claimKeys.forEach(key => {\n    if(page.selectedClaim[key]?.filename) {\n        let doc = {...page.selectedClaim[key],\n                    name: key}\n        page.docs.push(doc)\n    }\n    \n    }) \n\nconsole.log(\"DOCS: \", page.docs)\n\npage.fileURL = page.ssdUrl + 'download/'\n\nconsole.log(\"URL:\", page.ssdUrl)",
        "functionName": "sd_UmdtwXC1AB0nhAbw",
        "category": "Function",
        "x": 285,
        "y": 1400,
        "wires": [
            [
                "sd_ypuYcwTSxbHCyLl9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_tTEL46pK2xh7B0lI",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_tTEL46pK2xh7B0lI",
        "category": "General",
        "x": 185,
        "y": 1400,
        "wires": [
            [
                "sd_UmdtwXC1AB0nhAbw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_d6vseXRHCyuRWjnv",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "updateClaim",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "claim",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateClaim",
        "category": "General",
        "x": 85,
        "y": 1640,
        "wires": [
            [
                "sd_p3ivOtVgfXm0I0Z5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_Jp5WhdAT8tH6NXXw",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"update_claim\"\n\nconsole.log(\"URL: \", bh.url)",
        "functionName": "sd_Jp5WhdAT8tH6NXXw",
        "category": "Function",
        "x": 305,
        "y": 1640,
        "wires": [
            [
                "sd_9j0Sbn07mNgWcy1F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_9j0Sbn07mNgWcy1F",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.claim",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "claim"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_9j0Sbn07mNgWcy1F",
        "category": "HTTP",
        "x": 425,
        "y": 1640,
        "wires": [
            [
                "sd_aaERlUkwBglNdw0w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_p3ivOtVgfXm0I0Z5",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_p3ivOtVgfXm0I0Z5",
        "category": "General",
        "x": 180,
        "y": 1640,
        "wires": [
            [
                "sd_Jp5WhdAT8tH6NXXw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_e6cgpzrBPGD5XQ4t",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "CLAIM UPDATED SUCCESSFULY"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_e6cgpzrBPGD5XQ4t",
        "category": "General",
        "x": 665,
        "y": 1640,
        "wires": [
            [
                "sd_nZ3fyQZGNTByR3Yl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_aaERlUkwBglNdw0w",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "res.lastErrorObject.updatedExisting",
        "propertyType": "this.page",
        "propertyGv": "this.page.res.lastErrorObject.updatedExisting",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_aaERlUkwBglNdw0w",
        "category": "Function",
        "x": 540,
        "y": 1640,
        "wires": [
            [
                "sd_e6cgpzrBPGD5XQ4t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_nZ3fyQZGNTByR3Yl",
        "type": "Navigation",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/claims",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_nZ3fyQZGNTByR3Yl",
        "category": "Navigation",
        "x": 760,
        "y": 1640,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_hGyKu4GCZrIhOO7t",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_hGyKu4GCZrIhOO7t",
        "category": "Storage",
        "x": 480,
        "y": 40,
        "wires": [
            [
                "sd_t7WBGNUYn2Qn9klf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    }
]
