designs/pages/Admin claims/claims_register.json
[
    {
        "id": "sd_N4CyuOQSKrbNKzFe",
        "type": "tab",
        "createdDate": "2024-08-25T14:37:24.681Z",
        "label": "claims_register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_WDAEQKzleIjERFxE",
        "type": "OnInit",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_WDAEQKzleIjERFxE",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_TLAQgRUW9oXzXEcO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_8uegiEQyOnacegW8",
        "type": "PageVariables",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "policyClaimsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyNo",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyholder",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "beneficiary",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "desname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "claimStatuses",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "docs",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fileURL",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "updatedClaim",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "value",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "notification",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "mes",
                "typedIpValue": {
                    "type": "str",
                    "value": "READING DOCUMENT"
                }
            },
            {
                "textIp": "disabled",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            }
        ],
        "functionName": "sd_8uegiEQyOnacegW8",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_RAZi7XEL1v8YuoKq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_fT4QY8oO9nWmGN5R",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms",
        "script": "// decesed details\n\n\n\npage.deceased = new FormGroup({\n      firstName :new FormControl(\"\"),\n      lastName: new FormControl( \"\"),\n      idNum :new FormControl(\"\"),\n       gender: new FormControl(\"\"),\n       dateOfDeath:new FormControl( '',[Validators.required]),\n    })\n  \n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.newClient[0].firstName),\n    lastName:new FormControl(page.newClient[0].lastName),\n    idNum:new FormControl( page.newClient[0].idNumber),\n    gender:new FormControl( page.newClient[0].gender),\n    packageType : new FormControl( page.newClient[0].packageType),\n    payoutAmount :new FormControl(''),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    idClaimer2:new FormControl(''),\n     idDeceased2:new FormControl(''),\n    bi16632:new FormControl(''),\n    deathCetificatify2:new FormControl(''),\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl (),\n     beIds: new FormControl(),\n    //  claimReason: new FormControl()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms",
        "category": "Function",
        "x": 1225,
        "y": 100,
        "wires": [
            [
                "sd_lc7a7aI8KJ997bHn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_TLAQgRUW9oXzXEcO",
        "type": "UseDependency",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_TLAQgRUW9oXzXEcO",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_8uegiEQyOnacegW8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Pmcf2QLXpNt1xmib",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "start",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "start",
        "category": "General",
        "x": 105,
        "y": 1340,
        "wires": [
            [
                "sd_gTV26jkDQkSajvI6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_VS9kuSjxODDIjqLl",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_VS9kuSjxODDIjqLl",
        "category": "General",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_YYpzaqPjgqnQDOvA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_lc7a7aI8KJ997bHn",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_lc7a7aI8KJ997bHn",
        "category": "HTTP",
        "x": 1365,
        "y": 60,
        "wires": [
            [
                "sd_2zMKByS1YzyZkcY2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_2zMKByS1YzyZkcY2",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)",
        "functionName": "sd_2zMKByS1YzyZkcY2",
        "category": "Function",
        "x": 1465,
        "y": 60,
        "wires": [
            [
                "sd_7BWzeJjISBuILSaE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_RAZi7XEL1v8YuoKq",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "check"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "checked"
        },
        "functionName": "sd_RAZi7XEL1v8YuoKq",
        "category": "Storage",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_tRNzeK7FO7O5eZY6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_t7WBGNUYn2Qn9klf",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.checked.policyHolder == true) {\n    page.beneficiary = false\n    page.policyHolder = true\n} else {\n    page.beneficiary = true\n    page.policyHolder = false\n}\n\npage.policyNo = page.newClient[0].policyNumber\n\npage.notification = {\n    \"status\": \"pending\",\n    \"notificationID\": `NOT-${new Date().getTime()}`,\n    \"claimNumber\": `CN-${page.policyNo}`,\n    \"addedBy\": page.user.role\n}",
        "functionName": "sd_t7WBGNUYn2Qn9klf",
        "category": "Function",
        "x": 565,
        "y": 40,
        "wires": [
            [
                "sd_VS9kuSjxODDIjqLl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_tRNzeK7FO7O5eZY6",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "client"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "newClient"
        },
        "functionName": "sd_tRNzeK7FO7O5eZY6",
        "category": "Storage",
        "x": 400,
        "y": 40,
        "wires": [
            [
                "sd_hGyKu4GCZrIhOO7t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_VmZ87Aum2rOPCu6Y",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben and depen array for selectors and year",
        "script": "// Dependency\n\npage.fileURL = page.ssdUrl + 'download/'\n\npage.deparray = page.newClient[0].dependencies\nconsole.log(\"depnarray\",page.deparray)\n// beneficary\npage.benarray = page.newClient[0].beneficaries\nconsole.log(\"benearray\",page.benarray)\n\npage.docs = []\n\npage.ids = [\n   {value: page.deparray[0], viewValue: page.deparray[0].idNumber},\n   {value: page.deparray[1], viewValue: page.deparray[1].idNumber},\n   {value: page.deparray[2], viewValue: page.deparray[2].idNumber}\n];\n\npage.beIds = [\n   {value: page.benarray[0], viewValue: page.benarray[0].idNumber},\n   {value: page.benarray[1], viewValue: page.benarray[1].idNumber}\n];\npage.year =parseInt( new Date().getFullYear().toString().slice(-2))\n",
        "functionName": "benAndDepenArrayForSelectorsAndYear",
        "category": "Function",
        "x": 985,
        "y": 40,
        "wires": [
            [
                "sd_s7IAxRYDHIXfSJ12"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_aLg7SMgOK7JFbf8d",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate",
        "category": "General",
        "x": 1785,
        "y": 40,
        "wires": [
            [
                "sd_YRFsW4mmP13CYVr4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_YRFsW4mmP13CYVr4",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.name = page.policyClaimsForm.value.depsId.firstName\n// page.surname = page.policyClaimsForm.value.depsId.lastName\n// page.idnum = page.policyClaimsForm.value.depsId.idNumber\n// page.gender = page.policyClaimsForm.value.depsId.gender\n\n// patchValue({\n\n// })\npage.deceased.patchValue ({\n      firstName :page.policyClaimsForm.value.depsId.firstName,\n      lastName:  page.policyClaimsForm.value.depsId.lastName,\n      idNum :page.policyClaimsForm.value.depsId.idNumber,\n       gender:page.policyClaimsForm.value.depsId.gender ,\n       \n    })",
        "functionName": "sd_YRFsW4mmP13CYVr4",
        "category": "Function",
        "x": 1905,
        "y": 40,
        "wires": [
            [
                "sd_WY4rbMDeXIxPRC44"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_gTV26jkDQkSajvI6",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrl + 'add-claim'\nconsole.log(\"The val\",page.deathCetificatifyFile)\nbh.body = page.policyClaimsForm.value\nbh.body.policyNo = page.policyNo\nbh.body.claimNumber = `CN-${page.policyNo}`\n\ndelete bh.body.deathCetificatify2\ndelete bh.body.deceased2\ndelete bh.body.idClaimer2\ndelete bh.body.idDeceased2\ndelete bh.body.bi16632\ndelete bh.body.bankDetails2\n\nconsole.log(\"This is bh body\", bh.body)",
        "functionName": "sd_gTV26jkDQkSajvI6",
        "category": "Function",
        "x": 325,
        "y": 1340,
        "wires": [
            [
                "sd_hWEJxhxU43a7daez"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_GDDWmjjIVPTba5A7",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_GDDWmjjIVPTba5A7",
        "category": "HTTP",
        "x": 665,
        "y": 1340,
        "wires": [
            [
                "sd_wZzTriFZ4B4Kx6yx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_wZzTriFZ4B4Kx6yx",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Claim Added"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wZzTriFZ4B4Kx6yx",
        "category": "General",
        "x": 825,
        "y": 1340,
        "wires": [
            [
                "sd_EZV9KScHEbVQ3VZL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_EZV9KScHEbVQ3VZL",
        "type": "Navigation",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/claims",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_EZV9KScHEbVQ3VZL",
        "category": "Navigation",
        "x": 945,
        "y": 1340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Bymc6jPBYuJm79rv",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben form",
        "script": "// decesed details\n\nconsole.log(\"BEN\")\n\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.newClient[0].firstName),\n      lastName: new FormControl(page.newClient[0].lastName ),\n      idNum :new FormControl( page.newClient[0].idNumber),\n       gender: new FormControl(page.newClient[0].gender),\n       dateOfDeath:new FormControl( '',[Validators.required]),\n    })\n  //   // documents\n  // page.idClaimer=new FormGroup({\n  //  _id: new FormControl(\"\"),\n  //   filename: new FormControl(\"\"),\n  //   chunkSize: new FormControl(\"\"),\n  //   length: new FormControl(\"\"), \n     \n  //   })\n  //    page.idDecesed =new FormGroup({\n  //  _id: new FormControl(\"\"),\n  //   filename: new FormControl(\"\"),\n  //   chunkSize: new FormControl(\"\"),\n  //   length: new FormControl(\"\"), \n     \n  //   })\n  //     page.bi1663 =new FormGroup({\n  //  _id: new FormControl(\"\"),\n  //   filename: new FormControl(\"\"),\n  //   chunkSize: new FormControl(\"\"),\n  //   length: new FormControl(\"\"), \n     \n  //   })\n  //     page.deathCertificate =new FormGroup({\n  //  _id: new FormControl(\"\"),\n  //   filename: new FormControl(\"\"),\n  //   chunkSize: new FormControl(\"\"),\n  //   length: new FormControl(\"\"), \n     \n  //   })\n  //     page.bankDetails =new FormGroup({\n  //  _id: new FormControl(\"\"),\n  //   filename: new FormControl(\"\"),\n  //   chunkSize: new FormControl(\"\"),\n  //   length: new FormControl(\"\"), \n     \n  //   })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(\"\"),\n    lastName:new FormControl(\"\"),\n    idNum:new FormControl( \"\"),\n    gender:new FormControl(\"\"),\n    packageType : new FormControl( page.newClient[0].packageType),\n    payoutAmount :new FormControl(page.payamount),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    // idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(''),\n    // idDecesed:page.idDecesed,\n    idDeceased2:new FormControl(''),\n    // bi1663:page.bi1663,\n    bi16632:new FormControl(''),\n    // deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(''),\n    // bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl (),\n     beIds: new FormControl()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "benForm",
        "category": "Function",
        "x": 1265,
        "y": 20,
        "wires": [
            [
                "sd_lc7a7aI8KJ997bHn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_HwSEW31qlijbdmJp",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.name1 = page.policyClaimsForm.value.beIds.firstName\n// page.surname1 = page.policyClaimsForm.value.beIds.lastName\n// page.idnum1 = page.policyClaimsForm.value.beIds.idNumber\n// page.gender1 = page.policyClaimsForm.value.beIds.gender\n\npage.policyClaimsForm.patchValue({\n    firstName :page.policyClaimsForm.value.beIds.firstName,\n    lastName: page.policyClaimsForm.value.beIds.lastName,\n    idNum:page.policyClaimsForm.value.beIds.idNumber,\n    gender:page.policyClaimsForm.value.beIds.gender\n    })",
        "functionName": "sd_HwSEW31qlijbdmJp",
        "category": "Function",
        "x": 1905,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_s7IAxRYDHIXfSJ12",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "checked.policyHolder",
        "propertyType": "this.page",
        "propertyGv": "this.page.checked.policyHolder",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_s7IAxRYDHIXfSJ12",
        "category": "Function",
        "x": 1105,
        "y": 40,
        "wires": [
            [
                "sd_MsyP7rUIfmYVgK6U"
            ],
            [
                "sd_fT4QY8oO9nWmGN5R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_uvJwIne7tLU7d9Q9",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate2",
        "category": "General",
        "x": 1785,
        "y": 120,
        "wires": [
            [
                "sd_HwSEW31qlijbdmJp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_EiyEHm1Q0suBYnul",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "claim"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selectedClaim"
        },
        "functionName": "sd_EiyEHm1Q0suBYnul",
        "category": "Storage",
        "x": 585,
        "y": 1860,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_0ZC8jSwPtvUkjiBJ",
        "type": "NavigationData",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "queryParams",
        "operation": "keys",
        "key": "bh",
        "resultMapping": "bh.routeData",
        "functionName": "sd_0ZC8jSwPtvUkjiBJ",
        "category": "Navigation",
        "x": 285,
        "y": 1820,
        "wires": [
            [
                "sd_yo4JoCQiVtNoLyHc"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "routeData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_j9GOsDaRPX1qn2HK",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "checkIfIsReview",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "checkIfIsReview",
        "category": "General",
        "x": 165,
        "y": 1820,
        "wires": [
            [
                "sd_0ZC8jSwPtvUkjiBJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_HbEDqAM5kG7ivWOE",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "removeItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "claim"
        },
        "value": {},
        "resultMapping": {},
        "functionName": "sd_HbEDqAM5kG7ivWOE",
        "category": "Storage",
        "x": 565,
        "y": 1760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_yo4JoCQiVtNoLyHc",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "routeData",
        "propertyType": "bh",
        "propertyGv": "bh.routeData",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_yo4JoCQiVtNoLyHc",
        "category": "Function",
        "x": 445,
        "y": 1820,
        "wires": [
            [
                "sd_HbEDqAM5kG7ivWOE"
            ],
            [
                "sd_EiyEHm1Q0suBYnul"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_QHKgZNl5Jio19cV7",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms1",
        "script": "page.value = {}\n\nif(page.user.role === \"admin\"){\n    page.claimStatuses = [\n      { value: \"partially approved\", viewValue: \"Partially Approve\" },\n      { value: \"rejected\", viewValue: \"Reject\" },\n  ]\n} else if (page.user.role === \"director\"){\n  page.claimStatuses = [\n      { value: \"approved\", viewValue: \"Approve\" },\n      { value: \"rejected\", viewValue: \"Reject\" },\n  ]\n}\n\n\npage.deceased = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.deceased.firstName),\n  lastName: new FormControl(page.selectedClaim.deceased.lastName),\n  idNum: new FormControl(page.selectedClaim.deceased.idNum),\n  gender: new FormControl(page.selectedClaim.deceased.gender),\n  dateOfDeath: new FormControl(page.selectedClaim.deceased.dateOfDeath),\n  // status: new FormControl({value: page.selectedClaim.status, disabled: true}),\n  status: new FormControl(page.selectedClaim.status )\n})\n\n// documents\n// page.idClaimer = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.idClaimer._id),\n//   filename: new FormControl(page.selectedClaim.idClaimer.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.idClaimer.chunkSize.length),\n//   length: new FormControl(page.selectedClaim.idClaimer.length),\n\n// })\n\n// page.idDecesed = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.idDecesed._id),\n//   filename: new FormControl(page.selectedClaim.idDecesed.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.idDecesed.chunkSize.length),\n//   length: new FormControl(page.selectedClaim.idDecesed.length),\n\n// })\n\n// page.bi1663 = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.bi1662._id),\n//   filename: new FormControl(page.selectedClaim.bi1662.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.bi1662.chunkSize.length),\n//   length: new FormControl(page.selectedClaim.bi1662.length),\n\n// })\n\n// page.deathCertificate = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.deathCertificate._id),\n//   filename: new FormControl(page.selectedClaim.deathCertificate.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.deathCertificate.chunkSize.length),\n//   length: new FormControl(page.selectedClaim.deathCertificate.length),\n\n// })\n\n// page.bankDetails = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.bankDetails._id),\n//   filename: new FormControl(page.selectedClaim.bankDetails.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.bankDetails.chunkSize.length),\n//   length: new FormControl(page.selectedClaim.bankDetails.length),\n// })\n\n//claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.firstName),\n  lastName: new FormControl(page.selectedClaim.lastName),\n  idNum: new FormControl(page.selectedClaim.idNum),\n  gender: new FormControl(page.selectedClaim.gender),\n  packageType: new FormControl(page.selectedClaim.packageType),\n  payoutAmount: new FormControl(page.selectedClaim.payoutAmount),\n  deceased: page.deceased,\n  deceased2: new FormControl(''),\n  ID :new  FormControl(page.selectedClaim.ID),\n  IDfile:new FormControl(page.selectedClaim['IDfile']),\n  IDDecesed:new FormControl(page.selectedClaim['IDDecesed']),\n  IDDecesedfile:new FormControl(page.selectedClaim['IDDecesedfile']),\n  DeathCertificate :new FormControl(page.selectedClaim['DeathCertificate']),\nDeathCertificatefile :new FormControl(page.selectedClaim['DeathCertificatefile']),\n bi1663 :new FormControl(page.selectedClaim['bi1663']),\nbi1663file :new FormControl(page.selectedClaim['bi1663file']),\n bankDetails :new FormControl(page.selectedClaim['bankDetails']),\nbankDetailsfile :new FormControl(page.selectedClaim['bankDetailsfile']),\n  idClaimer2: new FormControl(''),\n  idDeceased2: new FormControl(''),\n  bi16632: new FormControl(''),\n  deathCetificatify2: new FormControl(''),\n  bankDetails2: new FormControl(''),\n  depsId: new FormControl(page.selectedClaim.depsId),\n  beIds: new FormControl(page.selectedClaim.beIds),\n  claimNumber: new FormControl(page.selectedClaim.claimNumber),\n  status: new FormControl(page.value?.status),\n  _id: new FormControl(page.selectedClaim._id)\n\n})\n\n// page.deceased.get('status')?.valueChanges.subscribe( value => {\n//   page.value = {status: value} \n//   if ( page.user.role == \"admin\" && value == 'partially approved' || page.user.role === \"admin\" && value == 'rejected'){\n//     page.deceased.get('status')?.disable()\n//     page.policyClaimsForm.value.status = page.value.status\n//     if(page.user.role === \"director\" && value === 'partially approved'){\n//       page.deceased.get('status')?.enable()\n//     }\n//   } else if ( page.user.role === \"director\" && value === 'approved' || page.user.role === \"director\" && value === 'rejected'){\n//     page.deceased.get('status')?.disable()\n//     page.policyClaimsForm.value.status = page.value.status\n//   }\n// })\n\npage.date = new Date()\n\nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms1",
        "category": "Function",
        "x": 685,
        "y": 2060,
        "wires": [
            [
                "sd_H2rfObg2GTiF2OJI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_H2rfObg2GTiF2OJI",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_H2rfObg2GTiF2OJI",
        "category": "HTTP",
        "x": 765,
        "y": 2020,
        "wires": [
            [
                "sd_duOxmO19SUtDVgxP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_duOxmO19SUtDVgxP",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)",
        "functionName": "sd_duOxmO19SUtDVgxP",
        "category": "Function",
        "x": 865,
        "y": 2020,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_KqW8tRDm0M48Qng2",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben1 form ",
        "script": "// decesed details\n\n// console.log(\"BEN\")\n// console.log(page.user.role)\n\nif(page.user.role === \"admin\"){\n    page.claimStatuses = [\n      { value: \"partially approved\", viewValue: \"Partially Approve\" },\n      { value: \"rejected\", viewValue: \"Reject\" },\n  ]\n} else if (page.user.role === \"director\"){\n  page.claimStatuses = [\n      { value: \"approved\", viewValue: \"Approve\" },\n      { value: \"rejected\", viewValue: \"Reject\" },\n  ]\n}\n\npage.deceased = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.deceased.firstName),\n  lastName: new FormControl(page.selectedClaim.deceased.lastName),\n  idNum: new FormControl(page.selectedClaim.deceased.idNum),\n  gender: new FormControl(page.selectedClaim.deceased.gender),\n  dateOfDeath: new FormControl(page.selectedClaim.deceased.dateOfDeath, [Validators.required]),\n  status: new FormControl(page.selectedClaim, [Validators.required])\n})\n\n\n// documents\n// page.idClaimer = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.idClaimer._id),\n//   filename: new FormControl(page.selectedClaim.idClaimer.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.idClaimer.chunkSize?.length),\n//   length: new FormControl(page.selectedClaim.idClaimer.length),\n// })\n\n// page.idDecesed = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.idDecesed._id),\n//   filename: new FormControl(page.selectedClaim.idDecesed.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.idDecesed.chunkSize?.length),\n//   length: new FormControl(page.selectedClaim.idDecesed.length),\n\n// })\n\n// page.bi1662 = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.bi1662._id),\n//   filename: new FormControl(page.selectedClaim.bi1662.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.bi1662.chunkSize?.length),\n//   length: new FormControl(page.selectedClaim.bi1662.length),\n// })\n\n// page.deathCertificate = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.deathCertificate._id),\n//   filename: new FormControl(page.selectedClaim.deathCertificate.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.deathCertificate.chunkSize?.length),\n//   length: new FormControl(page.selectedClaim.deathCertificate.length),\n\n// })\n\n// page.bankDetails = new FormGroup({\n//   _id: new FormControl(page.selectedClaim.bankDetails._id),\n//   filename: new FormControl(page.selectedClaim.bankDetails.filename),\n//   // chunkSize: new FormControl(page.selectedClaim.bankDetails.chunkSize?.length),\n//   length: new FormControl(page.selectedClaim.bankDetails.length),\n// })\n\n//claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n  firstName: new FormControl(page.selectedClaim.firstName),\n  lastName: new FormControl(page.selectedClaim.lastName),\n  idNum: new FormControl(page.selectedClaim.idNum),\n  gender: new FormControl(page.selectedClaim.gender),\n  packageType: new FormControl(page.selectedClaim.packageType),\n  payoutAmount: new FormControl(page.selectedClaim.payoutAmount),\n  deceased: page.deceased,\n  status: new FormControl(page.deceased.value.status),\n  ID:new  FormControl(page.selectedClaim.ID),\n  IDfile:new FormControl(page.selectedClaim['IDfile']),\n  IDDecesed:new FormControl(page.selectedClaim['IDDecesed']),\n  IDDecesedfile:new FormControl(page.selectedClaim['IDDecesedfile']),\n  DeathCertificate :new FormControl(page.selectedClaim['DeathCertificate']),\nDeathCertificatefile :new FormControl(page.selectedClaim['DeathCertificatefile']),\n bi1663 :new FormControl(page.selectedClaim['bi1663']),\nbi1663file :new FormControl(page.selectedClaim['bi1663file']),\n bankDetails :new FormControl(page.selectedClaim['bankDetails']),\nbankDetailsfile :new FormControl(page.selectedClaim['bankDetailsfile']),\n  // deceased2: new FormControl(''),\n  // idClaimer: page.idClaimer,\n  // idClaimer2: new FormControl(''),\n  // idDecesed: page.idDecesed,\n  // idDeceased2: new FormControl(''),\n  // bi1662: page.bi1663,\n  // bi16632: new FormControl(''),\n  // deathCertificate: page.deathCertificate,\n  // deathCetificatify2: new FormControl(''),\n  // bankDetails: page.bankDetails,\n  // bankDetails2: new FormControl(''),\n  // depsId: new FormControl(page.selectedClaim.depsId),\n  // beIds: new FormControl(page.selectedClaim.beIds),\n  _id: new FormControl(page.selectedClaim._id),\n  claimNumber: new FormControl(page.selectedClaim.claimNumber)\n})\n\n// page.deceased.get('status')?.valueChanges.subscribe( value => {\n//   page.value = {status: value} \n//   if ( page.user.role == \"admin\" && value == 'partially approved' || page.user.role === \"admin\" && value == 'rejected'){\n//     page.deceased.get('status')?.disable()\n//     page.policyClaimsForm.value.status = page.value.status\n//   } else if ( page.user.role === \"director\" && value === 'approved' || page.user.role === \"director\" && value === 'rejected'){\n//     page.deceased.get('status')?.disable()\n//     page.policyClaimsForm.value.status = page.value.status\n//   }\n// })\n\npage.date = new Date()\n\nconsole.log(\"page.deceased\", page.deceased)\n\n\nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "ben1Form",
        "category": "Function",
        "x": 665,
        "y": 1940,
        "wires": [
            [
                "sd_H2rfObg2GTiF2OJI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_TKthgYuBJaq7ONFh",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "reviewPatch",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "reviewPatch",
        "category": "General",
        "x": 165,
        "y": 2020,
        "wires": [
            [
                "sd_2V5D2n28pUkU7tCx",
                "sd_tTEL46pK2xh7B0lI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_ypuYcwTSxbHCyLl9",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "selectedClaim.depsId",
        "propertyType": "this.page",
        "propertyGv": "this.page.selectedClaim.depsId",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ypuYcwTSxbHCyLl9",
        "category": "Function",
        "x": 525,
        "y": 2020,
        "wires": [
            [
                "sd_hNf9MpU9Y55whZpO"
            ],
            [
                "sd_uFC9Kp0n2fbzRNN3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_YYpzaqPjgqnQDOvA",
        "type": "PageCallService",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_N4CyuOQSKrbNKzFe",
            "type": "tab",
            "createdDate": "2024-08-25T14:37:24.681Z",
            "label": "claims_register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_j9GOsDaRPX1qn2HK",
            "flowName": "checkIfIsReview"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "checkIfIsReview",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_YYpzaqPjgqnQDOvA",
        "category": "General",
        "x": 725,
        "y": 40,
        "wires": [
            [
                "sd_FZutB5HUJlZZ3mXi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_FZutB5HUJlZZ3mXi",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "selectedClaim",
        "propertyType": "this.page",
        "propertyGv": "this.page.selectedClaim",
        "rules": [
            {
                "t": "istype",
                "v": "\"undefined\"",
                "vt": "\"undefined\"",
                "gv": "\"undefined\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FZutB5HUJlZZ3mXi",
        "category": "Function",
        "x": 805,
        "y": 40,
        "wires": [
            [
                "sd_VmZ87Aum2rOPCu6Y"
            ],
            [
                "sd_0dgCvNhXnv2EDp9O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_0dgCvNhXnv2EDp9O",
        "type": "PageCallService",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_N4CyuOQSKrbNKzFe",
            "type": "tab",
            "createdDate": "2024-08-25T14:37:24.681Z",
            "label": "claims_register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_TKthgYuBJaq7ONFh",
            "flowName": "reviewPatch"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "reviewPatch",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_0dgCvNhXnv2EDp9O",
        "category": "General",
        "x": 985,
        "y": 120,
        "wires": [
            [
                "sd_vlg7Jz5xPnAHOlgA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_vlg7Jz5xPnAHOlgA",
        "type": "Log",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.selectedClaim",
        "functionName": "sd_vlg7Jz5xPnAHOlgA",
        "category": "General",
        "x": 1105,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "selectedClaim",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_M9HeUA5hjXD09RPR",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "open",
        "category": "General",
        "x": 105,
        "y": 1460,
        "wires": [
            [
                "sd_sZzw2GvSrAzcQ1Zs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_sZzw2GvSrAzcQ1Zs",
        "type": "OpenDialog",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_PR3nvRTcpHmbFIoL",
            "label": "view_document"
        },
        "relativePath": "app/components/Authentication/view_document",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_sZzw2GvSrAzcQ1Zs",
        "category": "Dialog",
        "x": 260,
        "y": 1460,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_UmdtwXC1AB0nhAbw",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.claimKeys = Object.keys(page.selectedClaim)\n\n// page.docs = [] \n\n// bh.claimKeys.forEach(key => {\n//     if(page.selectedClaim[key]?.filename) {\n//         let doc = {...page.selectedClaim[key],\n//                     name: key}\n//         page.docs.push(doc)\n//     }\n    \n//     }) \n\n// console.log(\"DOCS: \", page.docs)\n\npage.fileURL = page.ssdUrl + 'download/'\n\nconsole.log(\"URL:\", page.ssdUrl)",
        "functionName": "sd_UmdtwXC1AB0nhAbw",
        "category": "Function",
        "x": 365,
        "y": 2020,
        "wires": [
            [
                "sd_xLAtfgHKTyGPt8n2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_tTEL46pK2xh7B0lI",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_tTEL46pK2xh7B0lI",
        "category": "General",
        "x": 265,
        "y": 2020,
        "wires": [
            [
                "sd_UmdtwXC1AB0nhAbw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_d6vseXRHCyuRWjnv",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "updateClaim",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "claim",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateClaim",
        "category": "General",
        "x": 165,
        "y": 2260,
        "wires": [
            [
                "sd_p3ivOtVgfXm0I0Z5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_Jp5WhdAT8tH6NXXw",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"update_claim\"\n\npage.updatedClaim = page.policyClaimsForm.value\npage.updatedClaim.status = page.value.status\n\n\n\nconsole.log(\"page.updatedClaim\", page.updatedClaim)",
        "functionName": "sd_Jp5WhdAT8tH6NXXw",
        "category": "Function",
        "x": 385,
        "y": 2260,
        "wires": [
            [
                "sd_9j0Sbn07mNgWcy1F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_9j0Sbn07mNgWcy1F",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.updatedClaim",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updatedClaim"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_9j0Sbn07mNgWcy1F",
        "category": "HTTP",
        "x": 505,
        "y": 2260,
        "wires": [
            [
                "sd_aaERlUkwBglNdw0w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_p3ivOtVgfXm0I0Z5",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_p3ivOtVgfXm0I0Z5",
        "category": "General",
        "x": 260,
        "y": 2260,
        "wires": [
            [
                "sd_Jp5WhdAT8tH6NXXw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_e6cgpzrBPGD5XQ4t",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "CLAIM UPDATED SUCCESSFULY"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_e6cgpzrBPGD5XQ4t",
        "category": "General",
        "x": 745,
        "y": 2260,
        "wires": [
            [
                "sd_v6ld535K0dqcmZGj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_aaERlUkwBglNdw0w",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "res.lastErrorObject.updatedExisting",
        "propertyType": "this.page",
        "propertyGv": "this.page.res.lastErrorObject.updatedExisting",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_aaERlUkwBglNdw0w",
        "category": "Function",
        "x": 620,
        "y": 2260,
        "wires": [
            [
                "sd_e6cgpzrBPGD5XQ4t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_nZ3fyQZGNTByR3Yl",
        "type": "Navigation",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/claims",
        "functionName": "sd_nZ3fyQZGNTByR3Yl",
        "category": "Navigation",
        "x": 1105,
        "y": 2360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_xLAtfgHKTyGPt8n2",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_xLAtfgHKTyGPt8n2",
        "category": "Storage",
        "x": 445,
        "y": 2020,
        "wires": [
            [
                "sd_ypuYcwTSxbHCyLl9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_3FCYJiLfE5GXt05I",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addReason",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "value",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addReason",
        "category": "General",
        "x": 165,
        "y": 2400,
        "wires": [
            [
                "sd_6K1LlQR7ORYPgDAJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_SHTSpPSJUWaQ9ceQ",
        "type": "OpenDialog",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_BcfQ7HWdDjhV9OJ2",
            "label": "director_note"
        },
        "relativePath": "app/components/Director/director_note",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "\"200px\"",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "\"400px\"",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page.resFromPop",
        "functionName": "sd_SHTSpPSJUWaQ9ceQ",
        "category": "Dialog",
        "x": 565,
        "y": 2400,
        "wires": [
            [],
            [
                "sd_1m4XSqRry2h3n56Z"
            ],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "str",
                "value": "200px",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "str",
                "value": "400px",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "resFromPop",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_6K1LlQR7ORYPgDAJ",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_6K1LlQR7ORYPgDAJ",
        "category": "Storage",
        "x": 245,
        "y": 2400,
        "wires": [
            [
                "sd_O61HpZCZtU1qpQWn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_WhX0AWiqqtFEb3rr",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.role",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.role",
        "rules": [
            {
                "t": "se",
                "v": "director",
                "vt": "str",
                "gv": "\"director\""
            },
            {
                "t": "eq",
                "v": "admin",
                "vt": "str",
                "gv": "\"admin\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WhX0AWiqqtFEb3rr",
        "category": "Function",
        "x": 405,
        "y": 2400,
        "wires": [
            [
                "sd_ZUohxf8XSY12QfLL"
            ],
            [
                "sd_ZUohxf8XSY12QfLL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_UIrQhv0U3JraGvFH",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.updatedClaim = page.policyClaimsForm.value\npage.updatedClaim.claimReason = page.popupClaimReason\n\n",
        "functionName": "sd_UIrQhv0U3JraGvFH",
        "category": "Function",
        "x": 785,
        "y": 2400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_1m4XSqRry2h3n56Z",
        "type": "PageCallService",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_mZtkuYkkTI8tLdyV",
            "type": "tab",
            "createdDate": "2024-08-28T09:36:49.759Z",
            "label": "variables",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_sr5Ud7ts2hkaks9g",
            "flowName": "getVariable"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "this.page",
                "value": "popupClaimReason",
                "mapVarName": "data",
                "localVar": "this.page.popupClaimReason"
            }
        ],
        "serviceImportPath": "app/sd-services/variables",
        "startName": "getVariable",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_1m4XSqRry2h3n56Z",
        "category": "General",
        "x": 685,
        "y": 2400,
        "wires": [
            [
                "sd_UIrQhv0U3JraGvFH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_cAN8JzyGJi1Oq1V5",
        "type": "AfterViewInit",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "start",
        "name": "After View Init",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 801,
        "y": 2145.46875,
        "wires": [
            [
                "sd_dMv4RgmBK75eHTvZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_5wzAXg1SAFazVW4X",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.deceased.get('status')?.value !== 'pending'){\n  page.deceased.get('status')?.disable()\n}\n\nif(page.deceased.get('status')?.value === 'partially approved' && page.user.role === 'director'){\n  page.deceased.get('status')?.enable()\n}",
        "functionName": "sd_5wzAXg1SAFazVW4X",
        "category": "Function",
        "x": 985,
        "y": 2140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_ZUohxf8XSY12QfLL",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "value",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.value",
        "rules": [
            {
                "t": "eq",
                "v": "rejected",
                "vt": "str",
                "gv": "\"rejected\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_ZUohxf8XSY12QfLL",
        "category": "Function",
        "x": 465,
        "y": 2400,
        "wires": [
            [
                "sd_SHTSpPSJUWaQ9ceQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_7BWzeJjISBuILSaE",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_7BWzeJjISBuILSaE",
        "category": "Storage",
        "x": 1585,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_dMv4RgmBK75eHTvZ",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_dMv4RgmBK75eHTvZ",
        "category": "Storage",
        "x": 885,
        "y": 2140,
        "wires": [
            [
                "sd_5wzAXg1SAFazVW4X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_v6ld535K0dqcmZGj",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.role",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.role",
        "rules": [
            {
                "t": "se",
                "v": "director",
                "vt": "str",
                "gv": "\"director\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_v6ld535K0dqcmZGj",
        "category": "Function",
        "x": 845,
        "y": 2260,
        "wires": [
            [
                "sd_nzrNljXRVpixxCrc"
            ],
            [
                "sd_nZ3fyQZGNTByR3Yl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_nzrNljXRVpixxCrc",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.sendMsg = page.ssdUrl + 'send-message'\npage.getUsers = page.ssdUrl + 'get-users'\n\n",
        "functionName": "sd_nzrNljXRVpixxCrc",
        "category": "Function",
        "x": 945,
        "y": 2220,
        "wires": [
            [
                "sd_jQUYu0lvcMzZSRhu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_jQUYu0lvcMzZSRhu",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "this.page.getUsers",
        "urlMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "getUsers"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.users",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "users"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_jQUYu0lvcMzZSRhu",
        "category": "HTTP",
        "x": 1045,
        "y": 2220,
        "wires": [
            [
                "sd_0JdhwakS1r4tZGSu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_0JdhwakS1r4tZGSu",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.users.find(item => {\n    if(item.idNumber === page.updatedClaim.idNum){\n        page.userEmail = item.email\n\n    }\n})\n\n\nbh.body = {\n    email: page.userEmail, \n    title: `DOA Claim Update - ${page.updatedClaim.claimNumber}`,\n    message: `Your claim's status has been updated. Please log in to the system to view more details regarding your claim.`\n}",
        "functionName": "sd_0JdhwakS1r4tZGSu",
        "category": "Function",
        "x": 1145,
        "y": 2220,
        "wires": [
            [
                "sd_iLRwB3gmY1wyNMMJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_iLRwB3gmY1wyNMMJ",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "this.page.sendMsg",
        "urlMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "sendMsg"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.sendMsgres",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "sendMsgres"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_iLRwB3gmY1wyNMMJ",
        "category": "HTTP",
        "x": 1245,
        "y": 2220,
        "wires": [
            [
                "sd_nZ3fyQZGNTByR3Yl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_hGyKu4GCZrIhOO7t",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_hGyKu4GCZrIhOO7t",
        "category": "Storage",
        "x": 480,
        "y": 40,
        "wires": [
            [
                "sd_t7WBGNUYn2Qn9klf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_3QrXrgXm95pU3x0Q",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_3QrXrgXm95pU3x0Q",
        "category": "General",
        "x": 525,
        "y": 1340,
        "wires": [
            [
                "sd_GDDWmjjIVPTba5A7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_GPMxiYwAHW5mcTLG",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload1",
        "category": "General",
        "x": 165,
        "y": 380,
        "wires": [
            [
                "sd_n4hbMh10Eh3z3ZsU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_n4hbMh10Eh3z3ZsU",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload1 = document.getElementById('upload1') as HTMLInputElement;\n  if (bh.upload1) {\n   bh.upload1.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file =  input.files[0]\n       page.uploadedFile1 = new FormData()\n       page.uploadedFile1.append('file', page.file)\n       page.id = page.file.name\n       page.showId = true\n    \n\n       this.goToBackend1()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_n4hbMh10Eh3z3ZsU",
        "category": "Function",
        "x": 260,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_TCg0MA5sCko3aWQh",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_TCg0MA5sCko3aWQh",
        "category": "General",
        "x": 225,
        "y": 300,
        "wires": [
            [
                "sd_KNrgPYlP3jE0IjKb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_KNrgPYlP3jE0IjKb",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-id'\npage.loading = true\n\n",
        "functionName": "sd_KNrgPYlP3jE0IjKb",
        "category": "Function",
        "x": 325,
        "y": 300,
        "wires": [
            [
                "sd_XHdElQNByHl5VK22"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_XHdElQNByHl5VK22",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_XHdElQNByHl5VK22",
        "category": "HTTP",
        "x": 425,
        "y": 300,
        "wires": [
            [
                "sd_40hhfTwkSFIrUcrN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_g3pyJj48j834jEvI",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend1",
        "category": "General",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "sd_TCg0MA5sCko3aWQh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_IZgxjqgrv1Lxpdv0",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_IZgxjqgrv1Lxpdv0",
        "category": "General",
        "x": 685,
        "y": 340,
        "wires": [
            [
                "sd_fr38MztJ59haWIf9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_w4xmd0ohQzJQ2yEp",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend1",
        "category": "General",
        "x": 345,
        "y": 380,
        "wires": [
            [
                "sd_n6Kfln4aV96ozLG0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_n6Kfln4aV96ozLG0",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idClaimer"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idclaimerFile"
        },
        "functionName": "sd_n6Kfln4aV96ozLG0",
        "category": "Storage",
        "x": 485,
        "y": 380,
        "wires": [
            [
                "sd_AeJuuCeGt9BZhvyy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_7xTXSTkRD7MJjbAf",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bankDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bankDetailsFile"
        },
        "functionName": "sd_7xTXSTkRD7MJjbAf",
        "category": "Storage",
        "x": 525,
        "y": 1200,
        "wires": [
            [
                "sd_PZgdaN3b5b40uvLb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_zpdugbbDIBJ7pnwT",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_zpdugbbDIBJ7pnwT",
        "category": "Function",
        "x": 605,
        "y": 300,
        "wires": [
            [
                "sd_5emoPH54CKDeVpDe"
            ],
            [
                "sd_IZgxjqgrv1Lxpdv0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_KWeqeqVVPOahuUgn",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_KWeqeqVVPOahuUgn",
        "category": "HTTP",
        "x": 865,
        "y": 260,
        "wires": [
            [
                "sd_yp2jx88OTfj4ri6g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_diMduR0duogwPLSp",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_diMduR0duogwPLSp",
        "category": "General",
        "x": 1145,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_yp2jx88OTfj4ri6g",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"idClaimer\",JSON.stringify(page.res))\nthis.getFromBackend1()",
        "functionName": "sd_yp2jx88OTfj4ri6g",
        "category": "Function",
        "x": 965,
        "y": 260,
        "wires": [
            [
                "sd_diMduR0duogwPLSp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_PU6FAJfhwtXXaRfu",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n\n",
        "functionName": "sd_PU6FAJfhwtXXaRfu",
        "category": "Function",
        "x": 765,
        "y": 260,
        "wires": [
            [
                "sd_KWeqeqVVPOahuUgn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_40hhfTwkSFIrUcrN",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_40hhfTwkSFIrUcrN",
        "category": "Function",
        "x": 525,
        "y": 300,
        "wires": [
            [
                "sd_zpdugbbDIBJ7pnwT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_5emoPH54CKDeVpDe",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid ID"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_5emoPH54CKDeVpDe",
        "category": "General",
        "x": 685,
        "y": 260,
        "wires": [
            [
                "sd_PU6FAJfhwtXXaRfu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_fr38MztJ59haWIf9",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n page.showId = false",
        "functionName": "sd_fr38MztJ59haWIf9",
        "category": "Function",
        "x": 765,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Em1vOdfMEJ8s3HQp",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload2",
        "category": "General",
        "x": 165,
        "y": 560,
        "wires": [
            [
                "sd_BmPWz1VDSzl4brQG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_BmPWz1VDSzl4brQG",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload2 = document.getElementById('upload2') as HTMLInputElement;\n  if (bh.upload2) {\n   bh.upload2.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file =  input.files[0]\n       page.uploadedFile2 = new FormData()\n       page.uploadedFile2.append('file', page.file)\n       page.iddes = page.file.name\n       page.showIddes = true\n    \n\n       this.goToBackend2()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_BmPWz1VDSzl4brQG",
        "category": "Function",
        "x": 260,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_VEJHUpqnMMqY74Ix",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_VEJHUpqnMMqY74Ix",
        "category": "General",
        "x": 225,
        "y": 480,
        "wires": [
            [
                "sd_Ui7aSNufSpgMf5fn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Ui7aSNufSpgMf5fn",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl +'verify-id'\npage.loading = true\n\n",
        "functionName": "sd_Ui7aSNufSpgMf5fn",
        "category": "Function",
        "x": 325,
        "y": 480,
        "wires": [
            [
                "sd_IMaHyAZE5QQC5qoY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_IMaHyAZE5QQC5qoY",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_IMaHyAZE5QQC5qoY",
        "category": "HTTP",
        "x": 425,
        "y": 480,
        "wires": [
            [
                "sd_WkXs3FOj5CqQoFDb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_aU0Zzwoqe2CxVNau",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend2",
        "category": "General",
        "x": 125,
        "y": 480,
        "wires": [
            [
                "sd_VEJHUpqnMMqY74Ix"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_zdEMATSS2fZwHuHk",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zdEMATSS2fZwHuHk",
        "category": "General",
        "x": 685,
        "y": 520,
        "wires": [
            [
                "sd_l0q77Sv2C3DOAzlk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_cG6OLBbbJnyGx17V",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend2",
        "category": "General",
        "x": 345,
        "y": 560,
        "wires": [
            [
                "sd_etlERJRr2he1KIA9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_etlERJRr2he1KIA9",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idDeceased"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idDeceasedFile"
        },
        "functionName": "sd_etlERJRr2he1KIA9",
        "category": "Storage",
        "x": 485,
        "y": 560,
        "wires": [
            [
                "sd_czoEwkzdVrJb88db"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_OwhZYGyh4M3aw8tB",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_OwhZYGyh4M3aw8tB",
        "category": "Function",
        "x": 605,
        "y": 480,
        "wires": [
            [
                "sd_puEvbf1XS4POeSIc"
            ],
            [
                "sd_zdEMATSS2fZwHuHk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_HCVB864LcTTxbL8y",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_HCVB864LcTTxbL8y",
        "category": "HTTP",
        "x": 865,
        "y": 440,
        "wires": [
            [
                "sd_Sfgpgbn6oSSCvTf9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_8vC8q9h3Ifgo5fL1",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_8vC8q9h3Ifgo5fL1",
        "category": "General",
        "x": 1145,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Sfgpgbn6oSSCvTf9",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"idDeceased\",JSON.stringify( page.res))\nthis.getFromBackend2()",
        "functionName": "sd_Sfgpgbn6oSSCvTf9",
        "category": "Function",
        "x": 965,
        "y": 440,
        "wires": [
            [
                "sd_8vC8q9h3Ifgo5fL1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_nIkGAXfUZtDik97i",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_nIkGAXfUZtDik97i",
        "category": "Function",
        "x": 765,
        "y": 440,
        "wires": [
            [
                "sd_HCVB864LcTTxbL8y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_WkXs3FOj5CqQoFDb",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_WkXs3FOj5CqQoFDb",
        "category": "Function",
        "x": 525,
        "y": 480,
        "wires": [
            [
                "sd_OwhZYGyh4M3aw8tB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_puEvbf1XS4POeSIc",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_puEvbf1XS4POeSIc",
        "category": "General",
        "x": 685,
        "y": 440,
        "wires": [
            [
                "sd_nIkGAXfUZtDik97i"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_l0q77Sv2C3DOAzlk",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\npage.showIddes = false",
        "functionName": "sd_l0q77Sv2C3DOAzlk",
        "category": "Function",
        "x": 765,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_hxQnprRmARpZj6zV",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload3",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload3",
        "category": "General",
        "x": 185,
        "y": 760,
        "wires": [
            [
                "sd_c0R9DuWKyrUGeBUV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_c0R9DuWKyrUGeBUV",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload3 = document.getElementById('upload3') as HTMLInputElement;\n  if (bh.upload3) {\n   bh.upload3.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file3 =  input.files[0]\n       page.uploadedFile3 = new FormData()\n       page.uploadedFile3.append('file', page.file3)\n       page.deathCetificatify = page.file3.name\n       page.showdeathCetificatify = true\n    \n\n       this.goToBackend3()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_c0R9DuWKyrUGeBUV",
        "category": "Function",
        "x": 280,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_vprqtHXSLnaUznHL",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_vprqtHXSLnaUznHL",
        "category": "General",
        "x": 245,
        "y": 680,
        "wires": [
            [
                "sd_L7eAMtZ9L7FDAjiW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_L7eAMtZ9L7FDAjiW",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-death-certificate'\npage.loading = true\n\n",
        "functionName": "sd_L7eAMtZ9L7FDAjiW",
        "category": "Function",
        "x": 345,
        "y": 680,
        "wires": [
            [
                "sd_9t3d8zPDyWfPekAl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_9t3d8zPDyWfPekAl",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile3",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile3"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_9t3d8zPDyWfPekAl",
        "category": "HTTP",
        "x": 445,
        "y": 680,
        "wires": [
            [
                "sd_BW0q4HIeZBR3J30E"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_qou4s0Qzgx0yyj89",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend3",
        "category": "General",
        "x": 145,
        "y": 680,
        "wires": [
            [
                "sd_vprqtHXSLnaUznHL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_NHCmLOBtpCuQlfep",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_NHCmLOBtpCuQlfep",
        "category": "General",
        "x": 705,
        "y": 720,
        "wires": [
            [
                "sd_V1HbmZo7pmieVovM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_egn7UeF0wWzIPEe4",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_egn7UeF0wWzIPEe4",
        "category": "Function",
        "x": 625,
        "y": 680,
        "wires": [
            [
                "sd_Z2f4l6fKycVYScrb"
            ],
            [
                "sd_NHCmLOBtpCuQlfep"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_6mGK9KSGfzm7ZcQi",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile3",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile3"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_6mGK9KSGfzm7ZcQi",
        "category": "HTTP",
        "x": 885,
        "y": 640,
        "wires": [
            [
                "sd_7wYZ6BZ5Hs3pmFDt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_dnGuHoVleFKMzu4X",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Death Certificate has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_dnGuHoVleFKMzu4X",
        "category": "General",
        "x": 1165,
        "y": 640,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_7wYZ6BZ5Hs3pmFDt",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"deathCetificatify\",JSON.stringify(page.res))\nthis.getFromBackend3()",
        "functionName": "sd_7wYZ6BZ5Hs3pmFDt",
        "category": "Function",
        "x": 985,
        "y": 640,
        "wires": [
            [
                "sd_dnGuHoVleFKMzu4X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_unoAVLPII4YchOmm",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_unoAVLPII4YchOmm",
        "category": "Function",
        "x": 785,
        "y": 640,
        "wires": [
            [
                "sd_6mGK9KSGfzm7ZcQi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_BW0q4HIeZBR3J30E",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_BW0q4HIeZBR3J30E",
        "category": "Function",
        "x": 545,
        "y": 680,
        "wires": [
            [
                "sd_egn7UeF0wWzIPEe4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Z2f4l6fKycVYScrb",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Z2f4l6fKycVYScrb",
        "category": "General",
        "x": 705,
        "y": 640,
        "wires": [
            [
                "sd_unoAVLPII4YchOmm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_V1HbmZo7pmieVovM",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\npage.showdeathCetificatify = false",
        "functionName": "sd_V1HbmZo7pmieVovM",
        "category": "Function",
        "x": 785,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_3Vxa7F2M3Q8j4u5q",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend3",
        "category": "General",
        "x": 365,
        "y": 760,
        "wires": [
            [
                "sd_zOzYuojeT4wvbvTJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_V7KAHoxPKIn498z1",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bi1663"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bi1663File"
        },
        "functionName": "sd_V7KAHoxPKIn498z1",
        "category": "Storage",
        "x": 445,
        "y": 980,
        "wires": [
            [
                "sd_Gg074IKkyV8UM9EK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_2OeZZceBHpduKz76",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload4",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload4",
        "category": "General",
        "x": 185,
        "y": 980,
        "wires": [
            [
                "sd_LXObBzwaRqR61Jqk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_LXObBzwaRqR61Jqk",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload4 = document.getElementById('upload4') as HTMLInputElement;\n  if (bh.upload4) {\n   bh.upload4.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file4 =  input.files[0]\n       page.uploadedFile4 = new FormData()\n       page.uploadedFile4.append('file', page.file4)\n       page.bi1663 = page.file4.name\n       page.showbi1663= true\n    \n\n       this.goToBackend4()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_LXObBzwaRqR61Jqk",
        "category": "Function",
        "x": 280,
        "y": 980,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_cxxe2TLoSCvtqnNn",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_cxxe2TLoSCvtqnNn",
        "category": "General",
        "x": 245,
        "y": 900,
        "wires": [
            [
                "sd_kDRrqQKpoOEBcofH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_kDRrqQKpoOEBcofH",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-doc'\npage.loading = true\n\n",
        "functionName": "sd_kDRrqQKpoOEBcofH",
        "category": "Function",
        "x": 345,
        "y": 900,
        "wires": [
            [
                "sd_AztcCs191XZyomXZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_AztcCs191XZyomXZ",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile4",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile4"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_AztcCs191XZyomXZ",
        "category": "HTTP",
        "x": 445,
        "y": 900,
        "wires": [
            [
                "sd_3UaXhjaZHu9MWu9l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_DU7tkUKDDCiQlKRa",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend4",
        "category": "General",
        "x": 145,
        "y": 900,
        "wires": [
            [
                "sd_cxxe2TLoSCvtqnNn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_CSUA7LpeGyXXcJp0",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_CSUA7LpeGyXXcJp0",
        "category": "General",
        "x": 705,
        "y": 940,
        "wires": [
            [
                "sd_OGuXfGlvtWGZ0ZpS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_bmuO4CjlIKu05DjM",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_bmuO4CjlIKu05DjM",
        "category": "Function",
        "x": 625,
        "y": 900,
        "wires": [
            [
                "sd_dGIKNHvYFGxGNEHH"
            ],
            [
                "sd_CSUA7LpeGyXXcJp0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_foH5VmeTCCHcIdoI",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile4",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile4"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_foH5VmeTCCHcIdoI",
        "category": "HTTP",
        "x": 885,
        "y": 860,
        "wires": [
            [
                "sd_YqUCILGT4NrXjhuV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_V1ZD3Ouxu3nWTqXk",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_V1ZD3Ouxu3nWTqXk",
        "category": "General",
        "x": 1165,
        "y": 860,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_YqUCILGT4NrXjhuV",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"bi1663\",JSON.stringify(page.res))\nthis.getFromBackend4()",
        "functionName": "sd_YqUCILGT4NrXjhuV",
        "category": "Function",
        "x": 985,
        "y": 860,
        "wires": [
            [
                "sd_V1ZD3Ouxu3nWTqXk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_6Q8v0t0e9SrguOQ4",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_6Q8v0t0e9SrguOQ4",
        "category": "Function",
        "x": 785,
        "y": 860,
        "wires": [
            [
                "sd_foH5VmeTCCHcIdoI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_3UaXhjaZHu9MWu9l",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true\n",
        "functionName": "sd_3UaXhjaZHu9MWu9l",
        "category": "Function",
        "x": 545,
        "y": 900,
        "wires": [
            [
                "sd_bmuO4CjlIKu05DjM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_dGIKNHvYFGxGNEHH",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_dGIKNHvYFGxGNEHH",
        "category": "General",
        "x": 705,
        "y": 860,
        "wires": [
            [
                "sd_6Q8v0t0e9SrguOQ4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_OGuXfGlvtWGZ0ZpS",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n page.showbi1663= false",
        "functionName": "sd_OGuXfGlvtWGZ0ZpS",
        "category": "Function",
        "x": 785,
        "y": 940,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_lQRp7otYHu2k6FIb",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend4",
        "category": "General",
        "x": 365,
        "y": 980,
        "wires": [
            [
                "sd_V7KAHoxPKIn498z1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_zOzYuojeT4wvbvTJ",
        "type": "Storage",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "deathCetificatify"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "deathCetificatifyFile"
        },
        "functionName": "sd_zOzYuojeT4wvbvTJ",
        "category": "Storage",
        "x": 465,
        "y": 760,
        "wires": [
            [
                "sd_CdS7H7sanKbQ7Mqy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_A4ieF4I6nYcolXIT",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload5",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload5",
        "category": "General",
        "x": 205,
        "y": 1200,
        "wires": [
            [
                "sd_R1vMQTyO0uOzv33b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_ONu5zn9LOqoT8qaM",
        "type": "Environment",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ONu5zn9LOqoT8qaM",
        "category": "General",
        "x": 265,
        "y": 1120,
        "wires": [
            [
                "sd_5tCTBxmpsLA3klKs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_5tCTBxmpsLA3klKs",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-bank-statement'\npage.loading = true\n\n",
        "functionName": "sd_5tCTBxmpsLA3klKs",
        "category": "Function",
        "x": 365,
        "y": 1120,
        "wires": [
            [
                "sd_9qynJoGLZsJNWVO6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_9qynJoGLZsJNWVO6",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile5",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile5"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_9qynJoGLZsJNWVO6",
        "category": "HTTP",
        "x": 465,
        "y": 1120,
        "wires": [
            [
                "sd_sZPfO2PsIP2h9I7N"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_3G76a3FUpNh3YFzw",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend5",
        "category": "General",
        "x": 165,
        "y": 1120,
        "wires": [
            [
                "sd_ONu5zn9LOqoT8qaM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_NyV6mC49f4wqJxFf",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_NyV6mC49f4wqJxFf",
        "category": "General",
        "x": 725,
        "y": 1160,
        "wires": [
            [
                "sd_OG0jcXxonpVksHoG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_PqxywdsOemp5Igql",
        "type": "PageSwitch",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_PqxywdsOemp5Igql",
        "category": "Function",
        "x": 645,
        "y": 1120,
        "wires": [
            [
                "sd_eexTfZTyTRa8FjLM"
            ],
            [
                "sd_NyV6mC49f4wqJxFf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_g2R76Jxfr5l49SmZ",
        "type": "HttpRequest",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile5",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile5"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_g2R76Jxfr5l49SmZ",
        "category": "HTTP",
        "x": 905,
        "y": 1080,
        "wires": [
            [
                "sd_nP1bqNxyA7hXoBSZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_iZN5m4nyuGYcHyMH",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Bank Details has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_iZN5m4nyuGYcHyMH",
        "category": "General",
        "x": 1185,
        "y": 1080,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_nP1bqNxyA7hXoBSZ",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\npage.loading = false\nsessionStorage.setItem(\"bankDetails\",JSON.stringify( page.res))\nthis.getFromBackend5()\npage.loading = false",
        "functionName": "sd_nP1bqNxyA7hXoBSZ",
        "category": "Function",
        "x": 1005,
        "y": 1080,
        "wires": [
            [
                "sd_iZN5m4nyuGYcHyMH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_E4OwG14i68Eq3UXP",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_E4OwG14i68Eq3UXP",
        "category": "Function",
        "x": 805,
        "y": 1080,
        "wires": [
            [
                "sd_g2R76Jxfr5l49SmZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_sZPfO2PsIP2h9I7N",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_sZPfO2PsIP2h9I7N",
        "category": "Function",
        "x": 565,
        "y": 1120,
        "wires": [
            [
                "sd_PqxywdsOemp5Igql"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_eexTfZTyTRa8FjLM",
        "type": "SnackBar",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_eexTfZTyTRa8FjLM",
        "category": "General",
        "x": 725,
        "y": 1080,
        "wires": [
            [
                "sd_E4OwG14i68Eq3UXP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_OG0jcXxonpVksHoG",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\npage.showbankDetails= false",
        "functionName": "sd_OG0jcXxonpVksHoG",
        "category": "Function",
        "x": 805,
        "y": 1160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_CkI94gGI0K26rsvw",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend5",
        "category": "General",
        "x": 385,
        "y": 1200,
        "wires": [
            [
                "sd_7xTXSTkRD7MJjbAf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_R1vMQTyO0uOzv33b",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload5 = document.getElementById('upload5') as HTMLInputElement;\n  if (bh.upload5) {\n   bh.upload5.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file5 =  input.files[0]\n       page.uploadedFile5 = new FormData()\n       page.uploadedFile5.append('file', page.file5)\n       page.bankDetails = page.file5.name\n       page.showbankDetails= true\n    \n\n       this.goToBackend5()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_R1vMQTyO0uOzv33b",
        "category": "Function",
        "x": 300,
        "y": 1200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_AeJuuCeGt9BZhvyy",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.idclaimerfilename = page.idclaimerFile.filename",
        "functionName": "sd_AeJuuCeGt9BZhvyy",
        "category": "Function",
        "x": 600,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_czoEwkzdVrJb88db",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.idDeceasedfilename = page.idDeceasedFile.filename",
        "functionName": "sd_czoEwkzdVrJb88db",
        "category": "Function",
        "x": 565,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_CdS7H7sanKbQ7Mqy",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.deathCetificatifyfilename= page.deathCetificatifyFile.filename",
        "functionName": "sd_CdS7H7sanKbQ7Mqy",
        "category": "Function",
        "x": 545,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_Gg074IKkyV8UM9EK",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.bi1663filename = page.bi1663File.filename",
        "functionName": "sd_Gg074IKkyV8UM9EK",
        "category": "Function",
        "x": 545,
        "y": 980,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_PZgdaN3b5b40uvLb",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.bankDetailsfilename = page.bankDetailsFile.filename",
        "functionName": "sd_PZgdaN3b5b40uvLb",
        "category": "Function",
        "x": 615.5555419921875,
        "y": 1220.89111328125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_hWEJxhxU43a7daez",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "file in form",
        "script": "\npage.policyClaimsForm.value['ID'] = page.id\npage.policyClaimsForm.value['IDfile'] = page.idclaimerfilename\npage.policyClaimsForm.value['IDDeceased'] = page.iddes\npage.policyClaimsForm.value['IDDeceasedfile'] = page.idDeceasedfilename\npage.policyClaimsForm.value['DeathCertificate'] = page.deathCetificatify\npage.policyClaimsForm.value['DeathCertificatefile'] = page.deathCetificatifyfilename\npage.policyClaimsForm.value['bi1663'] =  page.bi1663\npage.policyClaimsForm.value['bi1663file'] =  page.bi1663filename\npage.policyClaimsForm.value['bankDetails'] = page.bankDetails\npage.policyClaimsForm.value['bankDetailsfile'] = page.bankDetailsfilename\n\nconsole.log(\"The val\",page.policyClaimsForm.value)",
        "functionName": "fileInForm",
        "category": "Function",
        "x": 425,
        "y": 1340,
        "wires": [
            [
                "sd_3QrXrgXm95pU3x0Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_WY4rbMDeXIxPRC44",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n page.year = parseInt(new Date().getFullYear().toString().slice(-2))\n   page.birthyear = parseInt(\n        page.policyClaimsForm.value.depsId.idNumber.slice(0, 2)\n      );\n      page.years = page.birthyear - page.year;\n   \n       if (page.newClient[0].packageType == 'Package 1') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 1500';\n        } else {\n          page.payamount = 'R 3000';\n        }\n      }\n      if (page.newClient[0].packageType == 'Package 2') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 2500';\n        } else {\n          page.payamount = 'R 5000';\n        }\n      }\n      if (page.newClient[0].packageType == 'Package 3') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 4000';\n        } else {\n          page.payamount = 'R 10000';\n        }\n      }\n      page.policyClaimsForm.patchValue({\n        payoutAmount: page.payamount,\n      }); \n        console.log(\"payout\",page.newClient[0].packageType) \n           console.log(\"yearcurrent\",page.year) \n              console.log(\"from id\",page.birthyear ) ",
        "functionName": "sd_WY4rbMDeXIxPRC44",
        "category": "Function",
        "x": 2020,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_MsyP7rUIfmYVgK6U",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n page.year = parseInt(new Date().getFullYear().toString().slice(-2))\n   page.birthyear = parseInt(\n        page.newClient[0].idNumber.slice(0, 2)\n      );\n      page.years = page.birthyear - page.year;\n   \n       if (page.newClient[0].packageType == 'Package 1') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 1500';\n        } else {\n          page.payamount = 'R 3000';\n        }\n      }\n      if (page.newClient[0].packageType == 'Package 2') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 2500';\n        } else {\n          page.payamount = 'R 5000';\n        }\n      }\n      if (page.newClient[0].packageType == 'Package 3') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 4000';\n        } else {\n          page.payamount = 'R 10000';\n        }\n      }\n      // page.policyClaimsForm.patchValue({\n      //   payoutAmount: page.payamount,\n      // }); \n        console.log(\"payout\",page.newClient[0].packageType) \n           console.log(\"yearcurrent\",page.year) \n              console.log(\"from id\",page.birthyear ) ",
        "functionName": "sd_MsyP7rUIfmYVgK6U",
        "category": "Function",
        "x": 1185,
        "y": 20,
        "wires": [
            [
                "sd_Bymc6jPBYuJm79rv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_2V5D2n28pUkU7tCx",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"selectedclaim\", page.selectedClaim)",
        "functionName": "sd_2V5D2n28pUkU7tCx",
        "category": "Function",
        "x": 280,
        "y": 2160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_t0xwfkAzWhoFaJh1",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "formsrfhgj",
        "script": "console.log(\"claimeee\", page.claim.policyNo)\npage.policy = page.claim.policyNo\npage.claim.claimReason = (page.claimReason ? page.claim.claimReason : \"\")\n// decesed details\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.claim.deceased.firstName),\n      lastName: new FormControl( page.claim.deceased.lastName),\n      idNum :new FormControl( page.claim.deceased.idNum),\n       gender: new FormControl(page.claim.deceased.gender),\n       \n    })\n    // documents\n  // page.idClaimer=new FormGroup({\n  //   filename: new FormControl(\"\"),\n  //   })\n  //    page.idDecesed =new FormGroup({\n   \n    \n     \n  //   })\n  //     page.bi1662 =new FormGroup({\n   \n    \n     \n  //   })\n  //     page.deathCertificate =new FormGroup({\n   \n    \n     \n  //   })\n  //     page.bankDetails =new FormGroup({\n   \n    \n     \n  //   })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.claim.firstName),\n    lastName:new FormControl(page.claim.lastName),\n    idNum:new FormControl( page.claim.idNum),\n    gender:new FormControl( page.claim.gender),\n    packageType : new FormControl( page.claim.packageType),\n    payoutAmount :new FormControl( page.claim.payoutAmount),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    // idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(page.claim['ID']),\n    \n     idDeceased2:new FormControl(page.claim.idDecesed),\n   \n     bi16632:new FormControl(page.claim.bi1663),\n    // deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(page.claim['DeathCertificate']),\n    // bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(page.claim.bankDetails),\n     status:new FormControl(page.claim.status),\n     reason:new FormControl( \"\"),\n     depsId : new FormControl ()\n     \n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \n// bh.url = page.ssdUrl + 'get-users'",
        "functionName": "formsrfhgj",
        "category": "Function",
        "x": 845,
        "y": 1880,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_hNf9MpU9Y55whZpO",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.DeathCertificatefile = page.selectedClaim['DeathCertificatefile'] \npage.bi1663file =page.selectedClaim['bi1663file']\npage['IDDeceasedfile'] =page.selectedClaim['IDDeceasedfile']\npage['IDfile'] = page.selectedClaim['IDfile']\npage['bankDetailsfile'] = page.selectedClaim['bankDetailsfile']\nconsole.log(\"page.claim\",page['DeathCertificatefile'])\n",
        "functionName": "sd_hNf9MpU9Y55whZpO",
        "category": "Function",
        "x": 585,
        "y": 1940,
        "wires": [
            [
                "sd_KqW8tRDm0M48Qng2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_uFC9Kp0n2fbzRNN3",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"page.claim\",page.claim)\npage['DeathCertificatefile'] = page.selectedClaim['DeathCertificatefile'] \npage.bi1663file =page.selectedClaim['bi1663file']\npage['IDDeceasedfile'] =page.selectedClaim['IDDeceasedfile']\npage['IDfile'] = page.selectedClaim['IDfile']\npage['bankDetailsfile'] = page.selectedClaim['bankDetailsfile']\n\n",
        "functionName": "sd_uFC9Kp0n2fbzRNN3",
        "category": "Function",
        "x": 605,
        "y": 2060,
        "wires": [
            [
                "sd_QHKgZNl5Jio19cV7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_neIC7BNFCyHTAt2a",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.disabled = false",
        "functionName": "sd_neIC7BNFCyHTAt2a",
        "category": "Function",
        "x": 305,
        "y": 2580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    },
    {
        "id": "sd_cshsG28izG1iGkld",
        "type": "Script",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.disabled = (page.policyClaimsForm.status.value == \"pending\")",
        "functionName": "sd_cshsG28izG1iGkld",
        "category": "Function",
        "x": 785,
        "y": 1840,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_CJakOjzWChnqchWN",
        "type": "PageStart",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "start",
        "name": "disabled",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "disabled",
        "category": "General",
        "x": 200,
        "y": 2580,
        "wires": [
            [
                "sd_neIC7BNFCyHTAt2a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "claims_registerComponent"
    },
    {
        "id": "sd_O61HpZCZtU1qpQWn",
        "type": "PageCallService",
        "z": "sd_N4CyuOQSKrbNKzFe",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_N4CyuOQSKrbNKzFe",
            "type": "tab",
            "createdDate": "2024-08-25T14:37:24.681Z",
            "label": "claims_register",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_CJakOjzWChnqchWN",
            "flowName": "disabled"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "disabled",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_O61HpZCZtU1qpQWn",
        "category": "General",
        "x": 325,
        "y": 2400,
        "wires": [
            [
                "sd_WhX0AWiqqtFEb3rr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "claims_registerComponent",
        "generated": true
    }
]
