designs/services/Notifications.json
[
    {
        "id": "sd_2F1jRXPpIvh6BKAw",
        "type": "tab",
        "createdDate": "2024-09-10T12:10:37.327Z",
        "label": "Notifications",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "client",
        "generateNext": true,
        "serviceName": "Notifications",
        "relativeParentPath": ""
    },
    {
        "id": "sd_7Gra8AgAem9ujuDY",
        "type": "Start",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "genericGet",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "path",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "genericGet",
        "category": "General",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_Tf4fvJoktY8gN2Nz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Notifications"
    },
    {
        "id": "sd_KK0dsv4rbjWPXqKI",
        "type": "Script",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.ssdURL + bh.input.path",
        "functionName": "sd_KK0dsv4rbjWPXqKI",
        "category": "Function",
        "x": 265,
        "y": 60,
        "wires": [
            [
                "sd_69Jfv3ADnOkXm9a7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Notifications",
        "generated": true
    },
    {
        "id": "sd_Tf4fvJoktY8gN2Nz",
        "type": "Environment",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Tf4fvJoktY8gN2Nz",
        "category": "General",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "sd_KK0dsv4rbjWPXqKI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Notifications",
        "generated": true
    },
    {
        "id": "sd_69Jfv3ADnOkXm9a7",
        "type": "HttpRequest",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.data",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "data"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_69Jfv3ADnOkXm9a7",
        "category": "HTTP",
        "x": 380,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Notifications",
        "generated": true
    },
    {
        "id": "sd_zfwDC0oeL1PnlPpm",
        "type": "Start",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "genericPost",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "path",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "payload",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "genericPost",
        "category": "General",
        "x": 85,
        "y": 200,
        "wires": [
            [
                "sd_t9iOOiIX26jIc6Y8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Notifications"
    },
    {
        "id": "sd_AZYvYq8p9bttzcea",
        "type": "Script",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.ssdURL + bh.input.path",
        "functionName": "sd_AZYvYq8p9bttzcea",
        "category": "Function",
        "x": 265,
        "y": 200,
        "wires": [
            [
                "sd_eD9sbenMelWr6yyk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Notifications",
        "generated": true
    },
    {
        "id": "sd_t9iOOiIX26jIc6Y8",
        "type": "Environment",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_t9iOOiIX26jIc6Y8",
        "category": "General",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "sd_AZYvYq8p9bttzcea"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Notifications",
        "generated": true
    },
    {
        "id": "sd_eD9sbenMelWr6yyk",
        "type": "HttpRequest",
        "z": "sd_2F1jRXPpIvh6BKAw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.payload",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "payload"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_eD9sbenMelWr6yyk",
        "category": "HTTP",
        "x": 380,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Notifications",
        "generated": true
    }
]
