designs/pages/Admin Dashboard/dashboard.json
[
    {
        "id": "sd_5GPzHp6kREM9zmOq",
        "type": "tab",
        "createdDate": "2024-08-16T12:48:51.296Z",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_4EgQNEX4lGDSV4H7",
        "type": "OnInit",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_4EgQNEX4lGDSV4H7",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_BZk5VYcbok7vTCa5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_BZk5VYcbok7vTCa5",
        "type": "UseDependency",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatMenuModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/menu",
        "serviceDesignerType": "pages",
        "functionName": "sd_BZk5VYcbok7vTCa5",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_p4UqDj3fR0sGlSfo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_9ULu0EXL31v1xkfC",
        "type": "Storage",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_9ULu0EXL31v1xkfC",
        "category": "Storage",
        "x": 365,
        "y": 140,
        "wires": [
            [
                "sd_B01D0BB3EZJ9HeSh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_56AGvs0kJAnAzGrL",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fetchLoggedInUser",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fetchLoggedInUser",
        "category": "General",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "sd_9ULu0EXL31v1xkfC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_p4UqDj3fR0sGlSfo",
        "type": "PageCallService",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_5GPzHp6kREM9zmOq",
            "type": "tab",
            "createdDate": "2024-08-16T12:48:51.296Z",
            "label": "dashboard",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_56AGvs0kJAnAzGrL",
            "flowName": "fetchLoggedInUser"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "fetchLoggedInUser",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_p4UqDj3fR0sGlSfo",
        "category": "General",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_WD0j2CjRN6RRbsuo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_WD0j2CjRN6RRbsuo",
        "type": "PageVariables",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "navItem",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "selectedItem",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user.name"
                }
            },
            {
                "textIp": "surname",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user.surname"
                }
            }
        ],
        "functionName": "sd_WD0j2CjRN6RRbsuo",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_pSDSROkDxza5Z3hc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_AXTFUrLCHdiuiemj",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getInitials",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getInitials",
        "category": "General",
        "x": 65,
        "y": 300,
        "wires": [
            [
                "sd_cd1QrV5LjbnLQkbt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_aSuB2dcKyxmaLU6f",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.name = page.name.charAt(0).toUpperCase();\npage.surname = page.surname.charAt(0).toUpperCase();\n",
        "functionName": "sd_aSuB2dcKyxmaLU6f",
        "category": "Function",
        "x": 225,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_pSDSROkDxza5Z3hc",
        "type": "PageCallService",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_5GPzHp6kREM9zmOq",
            "type": "tab",
            "createdDate": "2024-08-16T12:48:51.296Z",
            "label": "dashboard",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_AXTFUrLCHdiuiemj",
            "flowName": "getInitials"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getInitials",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_pSDSROkDxza5Z3hc",
        "category": "General",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_WiXpGH1Toryzavqq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_72RyqGrd9xSHuPJ4",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.sideNav = [\n    {label: \"Home\", icon: \"home\", route: \"/dashboard/home\"},\n    {label: \"Claims\", icon: \"description\", route: \"/dashboard/claims\"},\n    {label: \"Register Client\", icon: \"edit\", route:\"/dashboard/register\"},\n    {label: \"Schedules\", icon: \"today\", route: \"/dashboard/schedules\"},\n    {label: \"Reports\", icon: \"folder_open\"},\n    {label: \"Audit Logs\", icon: \"trending_up\"}\n]",
        "functionName": "sd_72RyqGrd9xSHuPJ4",
        "category": "Function",
        "x": 805,
        "y": 40,
        "wires": [
            [
                "sd_W0OwtP64wP8RAEg3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_1Hc7CpWDYjpI9LYE",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "logout",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "logout",
        "category": "General",
        "x": 60,
        "y": 420,
        "wires": [
            [
                "sd_Fde7P8ntbklt8Rlj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_Fde7P8ntbklt8Rlj",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.clear()",
        "functionName": "sd_Fde7P8ntbklt8Rlj",
        "category": "Function",
        "x": 145,
        "y": 420,
        "wires": [
            [
                "sd_6aBkqmJxzZVLrfOa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_6aBkqmJxzZVLrfOa",
        "type": "Navigation",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_6aBkqmJxzZVLrfOa",
        "category": "Navigation",
        "x": 225,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_SqXtYD2RjekqCj5k",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.sideNav = [\n    {label: \"Plan details\", icon: \"description\", route: \"/client_plan_details\"},\n    {label: \"Payment History\", icon: \"edit\", route:\"/payment-history\"},\n    {label: \"Claims\", icon: \"today\", route: \"/claims\"},\n]",
        "functionName": "sd_SqXtYD2RjekqCj5k",
        "category": "Function",
        "x": 805,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_cd1QrV5LjbnLQkbt",
        "type": "PageSwitch",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.role",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.role",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str",
                "gv": "\"admin\""
            },
            {
                "t": "eq",
                "v": "client",
                "vt": "str",
                "gv": "\"client\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_cd1QrV5LjbnLQkbt",
        "category": "Function",
        "x": 145,
        "y": 300,
        "wires": [
            [
                "sd_aSuB2dcKyxmaLU6f"
            ],
            [
                "sd_FjqAocSbCmtINlLP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_FjqAocSbCmtINlLP",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.name = (page.user.firstName?.charAt(0) || '').toUpperCase();\npage.surname = (page.user.lastName?.charAt(0) || '').toUpperCase();",
        "functionName": "sd_FjqAocSbCmtINlLP",
        "category": "Function",
        "x": 225,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_Oxa4JU6JEwuflFFv",
        "type": "PageSwitch",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.role",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.role",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str",
                "gv": "\"admin\""
            },
            {
                "t": "eq",
                "v": "client",
                "vt": "str",
                "gv": "\"client\""
            },
            {
                "t": "eq",
                "v": "director",
                "vt": "str",
                "gv": "\"director\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_Oxa4JU6JEwuflFFv",
        "category": "Function",
        "x": 665,
        "y": 40,
        "wires": [
            [
                "sd_72RyqGrd9xSHuPJ4"
            ],
            [
                "sd_SqXtYD2RjekqCj5k"
            ],
            [
                "sd_2avvXWvVpTW2xwRf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_B01D0BB3EZJ9HeSh",
        "type": "Log",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.user.role",
        "functionName": "sd_B01D0BB3EZJ9HeSh",
        "category": "General",
        "x": 445,
        "y": 140,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "user.role",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_WiXpGH1Toryzavqq",
        "type": "Storage",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "navItem"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "navItem"
        },
        "functionName": "sd_WiXpGH1Toryzavqq",
        "category": "Storage",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "sd_PQQ1BfHCiczywJYh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_W0OwtP64wP8RAEg3",
        "type": "PageVariables",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "navItem",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "navItem"
                }
            },
            {
                "textIp": "selectedItem",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user.name"
                }
            },
            {
                "textIp": "surname",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user.surname"
                }
            }
        ],
        "functionName": "sd_W0OwtP64wP8RAEg3",
        "category": "Function",
        "x": 885,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_b1GI13Nw8KRjwiIQ",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getSessionItem",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getSessionItem",
        "category": "General",
        "x": 65,
        "y": 500,
        "wires": [
            [
                "sd_q2NLm7f3ES5CuB3k"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_q2NLm7f3ES5CuB3k",
        "type": "Storage",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "navItem"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "navItem"
        },
        "functionName": "sd_q2NLm7f3ES5CuB3k",
        "category": "Storage",
        "x": 165,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_2avvXWvVpTW2xwRf",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.sideNav = [\n    {label: \"Home\", icon: \"home\", route: \"/dashboard/home\"},\n    {label: \"Claims\", icon: \"description\"},\n    {label: \"Schedules\", icon: \"today\", route: \"/dashboard/schedules\"},\n]",
        "functionName": "sd_2avvXWvVpTW2xwRf",
        "category": "Function",
        "x": 805,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_xsVhSI4ADzgb2Kn2",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "UpdatePayment",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "path",
                "defaultValue": {
                    "type": "str",
                    "value": "get-monthly-payments"
                },
                "output": false
            }
        ],
        "flow_type": "sync",
        "functionName": "updatePayment",
        "category": "General",
        "x": 65,
        "y": 600,
        "wires": [
            [
                "sd_ycxSItTbw1QKWzlU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_tmQQTWA5auKGP18O",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"PAYMENT: \", page.payments)\n\npage.payments = page.payments.filter(payment => {\n    console.log(\"PAYMENT ITEM: \", payment)\n    let paidDate = new Date(payment.date)\n    if (paidDate.getMonth() === new Date().getMonth()) {\n        if (paidDate.getFullYear() === new Date().getFullYear()) {\n            return payment\n        }\n    }\n}\n)\n\nbh.path = \"get-users\"\n\nconsole.log(\"THIS MONTH'S PAYMENT: \", page.payments)\n",
        "functionName": "sd_tmQQTWA5auKGP18O",
        "category": "Function",
        "x": 265,
        "y": 600,
        "wires": [
            [
                "sd_uU1egWMUwJGEYeZ5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_ycxSItTbw1QKWzlU",
        "type": "PageCallService",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_2F1jRXPpIvh6BKAw",
            "type": "tab",
            "createdDate": "2024-09-10T12:10:37.327Z",
            "label": "Notifications",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7Gra8AgAem9ujuDY",
            "flowName": "genericGet"
        },
        "inputVariables": [
            {
                "key": "path",
                "map": true,
                "valueType": "bh.local",
                "value": "path"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "this.page",
                "value": "payments",
                "mapVarName": "data",
                "localVar": "this.page.payments"
            }
        ],
        "serviceImportPath": "app/sd-services/Notifications",
        "startName": "genericGet",
        "inputParams": [
            "bh.local.path"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ycxSItTbw1QKWzlU",
        "category": "General",
        "x": 165,
        "y": 600,
        "wires": [
            [
                "sd_tmQQTWA5auKGP18O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_PQQ1BfHCiczywJYh",
        "type": "PageCallService",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_5GPzHp6kREM9zmOq",
            "type": "tab",
            "createdDate": "2024-08-16T12:48:51.296Z",
            "label": "dashboard",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_xsVhSI4ADzgb2Kn2",
            "flowName": "updatePayment"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "updatePayment",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_PQQ1BfHCiczywJYh",
        "category": "General",
        "x": 525,
        "y": 40,
        "wires": [
            [
                "sd_Oxa4JU6JEwuflFFv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_JWSjjJaLEskD2kAh",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.form = {\n    name: \"\",\n    surname: \"\",\n    policyNumber: \"\",\n    amount: 0,\n    loggedBY: \"Automated Overdue\",\n    event: \"Missed payment\"\n}\n\nlet foundClients = page.clients.\n\n\npage.clients.forEach(client => {\n    let day = new Date().getDate()\n    let year = new Date().getFullYear()\n    // console.log(\"day: \", day)\n    // console.log(\"CLIENT: 1\", client)\n\n    page.payments.forEach(payment => {\n        if (payment.policyNumber !== client.policyNumber && client.role == \"client\") {\n            console.log(\"PAYMENTS: \", payment)\n            console.log(\"CLIENT: \", client)\n            if (client?.paymentDate <= day) {\n                // console.log(\"CLIENT: 2\", client)\n                // console.log(\"PAYMENT: \", payment)\n                bh.form.name = client.firstName\n                bh.form.surname = client.lastName\n                bh.form.policyNumber = client.policyNumber\n                // this.storePayment(bh.form)\n                console.log(\"FORM TO BE SENT: \", bh.form)\n            }\n        }\n    })\n})\n",
        "functionName": "sd_JWSjjJaLEskD2kAh",
        "category": "Function",
        "x": 445,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_9vLC9WAKEYTGA3rm",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "storePayment",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "path",
                "defaultValue": {
                    "type": "str",
                    "value": "log-payment"
                },
                "output": false
            }
        ],
        "flow_type": "sync",
        "functionName": "storePayment",
        "category": "General",
        "x": 60,
        "y": 720,
        "wires": [
            [
                "sd_U7JmgLxfZX6fz3XN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_U7JmgLxfZX6fz3XN",
        "type": "PageCallService",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_2F1jRXPpIvh6BKAw",
            "type": "tab",
            "createdDate": "2024-09-10T12:10:37.327Z",
            "label": "Notifications",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_zfwDC0oeL1PnlPpm",
            "flowName": "genericPost"
        },
        "inputVariables": [
            {
                "key": "path",
                "map": true,
                "valueType": "bh.local",
                "value": "path"
            },
            {
                "key": "payload",
                "map": true,
                "valueType": "bh.input",
                "value": "form"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "res",
                "mapVarName": "result",
                "localVar": "bh.res"
            }
        ],
        "serviceImportPath": "app/sd-services/Notifications",
        "startName": "genericPost",
        "inputParams": [
            "bh.local.path",
            "bh.input.form"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_U7JmgLxfZX6fz3XN",
        "category": "General",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "sd_FrMw5MzCSmIAFIWA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_FrMw5MzCSmIAFIWA",
        "type": "Log",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.res",
        "functionName": "sd_FrMw5MzCSmIAFIWA",
        "category": "General",
        "x": 280,
        "y": 720,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_uU1egWMUwJGEYeZ5",
        "type": "PageCallService",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_2F1jRXPpIvh6BKAw",
            "type": "tab",
            "createdDate": "2024-09-10T12:10:37.327Z",
            "label": "Notifications",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7Gra8AgAem9ujuDY",
            "flowName": "genericGet"
        },
        "inputVariables": [
            {
                "key": "path",
                "map": true,
                "valueType": "bh",
                "value": "path"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "this.page",
                "value": "clients",
                "mapVarName": "data",
                "localVar": "this.page.clients"
            }
        ],
        "serviceImportPath": "app/sd-services/Notifications",
        "startName": "genericGet",
        "inputParams": [
            "bh.path"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_uU1egWMUwJGEYeZ5",
        "category": "General",
        "x": 345,
        "y": 600,
        "wires": [
            [
                "sd_JWSjjJaLEskD2kAh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    }
]
