designs/pages/Admin Dashboard/home.json
[
    {
        "id": "sd_o4ikLTEW12PcNWYL",
        "type": "tab",
        "createdDate": "2024-08-18T19:15:05.395Z",
        "label": "home",
        "disabled": false,
        "info": "",
        "functionSeq": 9,
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_1t0DhsI5kAmqEWqm",
        "type": "OnInit",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_1t0DhsI5kAmqEWqm",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_PqjDEZrkZowpbFwi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_SqQamlbgHC0CMDv2",
        "type": "Environment",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_SqQamlbgHC0CMDv2",
        "category": "General",
        "x": 525,
        "y": 40,
        "wires": [
            [
                "sd_7gioBFKVWHaZ95Yw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_7gioBFKVWHaZ95Yw",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"get-users\"",
        "functionName": "sd_7gioBFKVWHaZ95Yw",
        "category": "Function",
        "x": 605,
        "y": 40,
        "wires": [
            [
                "sd_RRKQV3ETWYI7Umxb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_RRKQV3ETWYI7Umxb",
        "type": "HttpRequest",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_RRKQV3ETWYI7Umxb",
        "category": "HTTP",
        "x": 685,
        "y": 40,
        "wires": [
            [
                "sd_sQz2RUgYmK2eNRYZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_sQz2RUgYmK2eNRYZ",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.tableDataSource = page.result.filter((user:any) =>{\nreturn    user.role == \"client\"\n})\n\npage.table = bh.tableDataSource \npage.backupapplicationsDatasource = page.table;\npage.table.paginator = page.paginator;\nconsole.log(\"bh\" ,bh)\n\n",
        "functionName": "sd_sQz2RUgYmK2eNRYZ",
        "category": "Function",
        "x": 765,
        "y": 40,
        "wires": [
            [
                "sd_Q9kpfJBrwcNwMSIq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_26B83wPaElPthlwe",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (!page.backupapplicationsDatasource) {\n    page.backupapplicationsDatasource = [...page.table];\n}\n\nconst searchValue = (bh.input.filterEvent.target as HTMLInputElement).value.trim().toLowerCase();\npage.searchValue = searchValue;\n\nif (searchValue) {\n    const searchResults = page.backupapplicationsDatasource.filter((row) => {\n        return (\n            (row.firstName && row.firstName.toLowerCase().includes(searchValue)) ||\n            (row.lastName && row.lastName.toLowerCase().includes(searchValue)) ||\n            (row.policyNumber && row.policyNumber.toString().toLowerCase().includes(searchValue)) ||  // Convert policyNumber to string\n            (row.packageType && row.packageType.toLowerCase().includes(searchValue))\n        );\n    });\n    page.table = searchResults;\n} else {\n    // Reset to original data if search value is empty\n    page.table = [...page.backupapplicationsDatasource];\n}\n",
        "functionName": "sd_iBlFYTlpoczCmWts_5",
        "category": "Function",
        "x": 205,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_c9oNeYPHHXzRmfhx",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter",
        "category": "General",
        "x": 60,
        "y": 280,
        "wires": [
            [
                "sd_26B83wPaElPthlwe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_k3j5KbTZTS6UvlPT",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cards_filter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "plan",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cardsFilter",
        "category": "General",
        "x": 65,
        "y": 360,
        "wires": [
            [
                "sd_cDHK0KhL1bspOFcv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_cDHK0KhL1bspOFcv",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n    if (!page.backupapplicationsDatasource) {\n        page.backupapplicationsDatasource = [...page.table];\n    }\n\n    const filteredResults = page.backupapplicationsDatasource.filter((row) => {\n        return row.packageType && row.packageType.toLowerCase() === bh.input.plan.toLowerCase();\n    });\n\n    page.table = filteredResults;\n\n",
        "functionName": "sd_cDHK0KhL1bspOFcv",
        "category": "Function",
        "x": 140,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_MVMh0WBg4s6QqZUr",
        "type": "UseDependency",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginatorModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "sd_MVMh0WBg4s6QqZUr",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_FQOoBfBlmATSyjPd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_yN9biohu3MCF1RRs",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "set client data",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "setClientData",
        "category": "General",
        "x": 85,
        "y": 460,
        "wires": [
            [
                "sd_iLkoHwTtrAd37cM8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_iLkoHwTtrAd37cM8",
        "type": "PageCallService",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_mZtkuYkkTI8tLdyV",
            "type": "tab",
            "createdDate": "2024-08-28T09:36:49.759Z",
            "label": "variables",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJNBQsNOvW2mw7Dt",
            "flowName": "setVariable"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh",
                "value": "input.row"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "data",
                "valueType": "bh",
                "value": "",
                "mapVarName": "data"
            }
        ],
        "serviceImportPath": "app/sd-services/variables",
        "startName": "setVariable",
        "inputParams": [
            "bh.input.row"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_iLkoHwTtrAd37cM8",
        "category": "General",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "sd_ApqA9ISLMNGfknzq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_oYuxO86FKvA3jf09",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go to view payment",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToViewPayment",
        "category": "General",
        "x": 85,
        "y": 560,
        "wires": [
            [
                "sd_WnahUlnrdMBkCHsS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_WnahUlnrdMBkCHsS",
        "type": "Navigation",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/view-payments",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_WnahUlnrdMBkCHsS",
        "category": "Navigation",
        "x": 180,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_nrUbOI69LYzRt4La",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "sendUser",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendUser",
        "category": "General",
        "x": 97,
        "y": 646.8020629882812,
        "wires": [
            [
                "sd_eVczpAOdwofO12md"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_eVczpAOdwofO12md",
        "type": "Storage",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userData"
        },
        "value": {
            "type": "bh.input",
            "value": "row"
        },
        "resultMapping": {},
        "functionName": "sd_eVczpAOdwofO12md",
        "category": "Storage",
        "x": 177,
        "y": 646.8020629882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_ApqA9ISLMNGfknzq",
        "type": "Storage",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userData"
        },
        "value": {
            "type": "bh.input",
            "value": "row"
        },
        "resultMapping": {},
        "functionName": "sd_ApqA9ISLMNGfknzq",
        "category": "Storage",
        "x": 245,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_FQOoBfBlmATSyjPd",
        "type": "UseDependency",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSortModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sd_FQOoBfBlmATSyjPd",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_S0vzAMRd3kpQdYu4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_Q9kpfJBrwcNwMSIq",
        "type": "PageVariables",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "table.paginator",
                "typedIpValue": {
                    "type": "bh",
                    "value": "tableDataSource.paginator"
                }
            },
            {
                "textIp": "table.sort",
                "typedIpValue": {
                    "type": "bh",
                    "value": "tableDataSource.sort"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_Q9kpfJBrwcNwMSIq",
        "category": "Function",
        "x": 865,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_aw4OH46OM1EzQrTS",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "On page change",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "ev",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onPageChange",
        "category": "General",
        "x": 465,
        "y": 180,
        "wires": [
            [
                "sd_av9XUpIkWkjumDhd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_av9XUpIkWkjumDhd",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.currentPageIndex = bh.input.ev.pageIndex;\nconsole.log(\"current\", page.currentPageIndex)",
        "functionName": "sd_av9XUpIkWkjumDhd",
        "category": "Function",
        "x": 565,
        "y": 180,
        "wires": [
            [
                "sd_CdCXJ8wOH3CkcJYj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_CdCXJ8wOH3CkcJYj",
        "type": "PageCallService",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_o4ikLTEW12PcNWYL",
            "type": "tab",
            "createdDate": "2024-08-18T19:15:05.395Z",
            "label": "home",
            "disabled": false,
            "info": "",
            "functionSeq": 8
        },
        "flow": {
            "flowId": "sd_6Uycp6i4VVxlHjZ2",
            "flowName": "updateApplicationToShow"
        },
        "inputVariables": [
            {
                "key": "itemsPerPage",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "updateApplicationToShow",
        "inputParams": [
            null
        ],
        "accept_csd": false,
        "functionName": "sd_CdCXJ8wOH3CkcJYj",
        "category": "General",
        "x": 665,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_0myDzscgXXTxK4WK",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.startIndex = page.currentPageIndex * bh.input.itemsPerPage;\nbh.endIndex = bh.startIndex + bh.input.itemsPerPage;\npage.table = page.backupapplicationsDatasource.slice(bh.startIndex, bh.endIndex);",
        "functionName": "sd_0myDzscgXXTxK4WK",
        "category": "Function",
        "x": 585,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_6Uycp6i4VVxlHjZ2",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "updateApplicationToShow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "itemsPerPage",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateApplicationToShow",
        "category": "General",
        "x": 480,
        "y": 300,
        "wires": [
            [
                "sd_0myDzscgXXTxK4WK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_PifxfaDM06rskNkb",
        "type": "OnChanges",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Changes",
        "functionName": "ngOnChanges",
        "category": "Lifecycle Events",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "sd_2DIjYQbf6CS17DYx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_2DIjYQbf6CS17DYx",
        "type": "PageCallService",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_o4ikLTEW12PcNWYL",
            "type": "tab",
            "createdDate": "2024-08-18T19:15:05.395Z",
            "label": "home",
            "disabled": false,
            "info": "",
            "functionSeq": 8
        },
        "flow": {
            "flowId": "sd_aw4OH46OM1EzQrTS",
            "flowName": "onPageChange"
        },
        "inputVariables": [
            {
                "key": "ev",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "onPageChange",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_2DIjYQbf6CS17DYx",
        "category": "General",
        "x": 485,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_0fGu5LvUcHdhb2Ac",
        "type": "AfterViewInit",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 756.8020629882812,
        "wires": [
            [
                "sd_wuV2zSw5nsWGD6kg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_wuV2zSw5nsWGD6kg",
        "type": "ViewPicker",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "MatPaginator",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_9",
        "category": "Function",
        "x": 205,
        "y": 756.8020629882812,
        "wires": [
            [
                "sd_7VuYIUgtmhqPsXpX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_7VuYIUgtmhqPsXpX",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.table.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_9",
        "category": "Function",
        "x": 345,
        "y": 756.8020629882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_PqjDEZrkZowpbFwi",
        "type": "PageVariables",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            },
            {
                "textIp": "table",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "literal",
                    "value": "''"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "currentPageIndex",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_MVMh0WBg4s6QqZUr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_S0vzAMRd3kpQdYu4",
        "type": "UseDependency",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "AfterViewInit",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ViewChild",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/core",
        "serviceDesignerType": "pages",
        "functionName": "sd_S0vzAMRd3kpQdYu4",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_SqQamlbgHC0CMDv2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    }
]
