designs/pages/Admin Dashboard/pay_management.json
[
    {
        "id": "sd_cZLPHcExM7qPlfNz",
        "type": "tab",
        "createdDate": "2024-09-16T11:12:24.326Z",
        "label": "pay_management",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_H6aJaOAoVp4vq6dU",
        "type": "OnInit",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_H6aJaOAoVp4vq6dU",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 80,
        "wires": [
            [
                "sd_Arzy8uB4k1GWBhCI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_gKIcVTMlDc071Xta",
        "type": "Environment",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_gKIcVTMlDc071Xta",
        "category": "General",
        "x": 585,
        "y": 80,
        "wires": [
            [
                "sd_aLNDbQf84ZZgYS7k"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_aLNDbQf84ZZgYS7k",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"get-monthly-payments\"",
        "functionName": "sd_aLNDbQf84ZZgYS7k",
        "category": "Function",
        "x": 665,
        "y": 80,
        "wires": [
            [
                "sd_tZj98HRMrxvqzJnn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_tZj98HRMrxvqzJnn",
        "type": "HttpRequest",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_tZj98HRMrxvqzJnn",
        "category": "HTTP",
        "x": 745,
        "y": 80,
        "wires": [
            [
                "sd_mSUodGizS2HbDJrx",
                "sd_N1aALxkUGzCMyqIq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_mSUodGizS2HbDJrx",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.table = page.result\n\n\n// page.table = bh.tableDataSource\n// page.table.policyActive = page.policyActiveStatus \n\n// page.table.forEach ( (item) => {\n//     if(item.policyActive === true){\n//         item.policyActive = \"Active\"\n//     } else {\n//     item.policyActive = \"Deactivated\"\n// }\n// })\n\n\n\npage.backupapplicationsDatasource = page.table;\npage.table.paginator = page.paginator;\nconsole.log(\"page.table \" ,page.table )\n\n",
        "functionName": "sd_mSUodGizS2HbDJrx",
        "category": "Function",
        "x": 825,
        "y": 80,
        "wires": [
            [
                "sd_cSgr6Vttfp6vdarU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_AcZlV0st0RdhUgzm",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (!page.backupapplicationsDatasource) {\n    page.backupapplicationsDatasource = [...page.table];\n}\n\nconst searchValue = (bh.input.filterEvent.target as HTMLInputElement).value.trim().toLowerCase();\npage.searchValue = searchValue;\n\nif (searchValue) {\n    const searchResults = page.backupapplicationsDatasource.filter((row) => {\n        return (\n            (row.name && row.surname.toLowerCase().includes(searchValue)) ||\n            (row.surname && row.surname.toLowerCase().includes(searchValue)) ||\n            (row.policyNumber && row.policyNumber.toString().toLowerCase().includes(searchValue)) ||  // Convert policyNumber to string\n            (row.event && row.event.toLowerCase().includes(searchValue)) ||\n            (row.date && row.date.toLowerCase().includes(searchValue)) ||\n            (row.loggedBY && row.loggedBY.toLowerCase().includes(searchValue)) \n        );\n    });\n    page.table = searchResults;\n} else {\n    // Reset to original data if search value is empty\n    page.table = [...page.backupapplicationsDatasource];\n}\n",
        "functionName": "sd_iBlFYTlpoczCmWts_5",
        "category": "Function",
        "x": 265,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_YmLJJATuCRfSkQUz",
        "type": "PageStart",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter",
        "category": "General",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "sd_AcZlV0st0RdhUgzm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_Jq8cIy67f6yRxXmD",
        "type": "PageStart",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cards_filter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cardsFilter",
        "category": "General",
        "x": 125,
        "y": 400,
        "wires": [
            [
                "sd_7diO4Gn0urLXDAf6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_7diO4Gn0urLXDAf6",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n    if (!page.backupapplicationsDatasource) {\n        page.backupapplicationsDatasource = [...page.table];\n    }\n\n    const filteredResults = page.backupapplicationsDatasource.filter((row) => {\n        return row.event && row.event.toLowerCase() === bh.input.event.toLowerCase();\n    });\n\n    page.table = filteredResults;\n\n",
        "functionName": "sd_7diO4Gn0urLXDAf6",
        "category": "Function",
        "x": 200,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_nIWaz3kqf6y3N9bn",
        "type": "UseDependency",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginatorModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "sd_nIWaz3kqf6y3N9bn",
        "category": "Function",
        "x": 285,
        "y": 80,
        "wires": [
            [
                "sd_50cMX6H4SfXx91KF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_61UKXyNOabPg4ItU",
        "type": "PageStart",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "set client data",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "setClientData",
        "category": "General",
        "x": 145,
        "y": 500,
        "wires": [
            [
                "sd_c9z9zMbt03zMNBq1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_c9z9zMbt03zMNBq1",
        "type": "PageCallService",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_mZtkuYkkTI8tLdyV",
            "type": "tab",
            "createdDate": "2024-08-28T09:36:49.759Z",
            "label": "variables",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJNBQsNOvW2mw7Dt",
            "flowName": "setVariable"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh",
                "value": "input.row"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "data",
                "valueType": "bh",
                "value": "",
                "mapVarName": "data"
            }
        ],
        "serviceImportPath": "app/sd-services/variables",
        "startName": "setVariable",
        "inputParams": [
            "bh.input.row"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_c9z9zMbt03zMNBq1",
        "category": "General",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "sd_KuuhBRGHKT9ixMsa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_C9Skm2DHnQpJXDAK",
        "type": "PageStart",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go to view payment",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToViewPayment",
        "category": "General",
        "x": 145,
        "y": 600,
        "wires": [
            [
                "sd_sEEfqfrbKc6PncYs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_sEEfqfrbKc6PncYs",
        "type": "Navigation",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/view-payments",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_sEEfqfrbKc6PncYs",
        "category": "Navigation",
        "x": 240,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_KrM20LgHX16CJOuJ",
        "type": "PageStart",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "sendUser",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendUser",
        "category": "General",
        "x": 157,
        "y": 686.8020629882812,
        "wires": [
            [
                "sd_UqGhBvQPon07bGFI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_UqGhBvQPon07bGFI",
        "type": "Storage",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userData"
        },
        "value": {
            "type": "bh.input",
            "value": "row"
        },
        "resultMapping": {},
        "functionName": "sd_UqGhBvQPon07bGFI",
        "category": "Storage",
        "x": 237,
        "y": 686.8020629882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_KuuhBRGHKT9ixMsa",
        "type": "Storage",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userData"
        },
        "value": {
            "type": "bh.input",
            "value": "row"
        },
        "resultMapping": {},
        "functionName": "sd_KuuhBRGHKT9ixMsa",
        "category": "Storage",
        "x": 305,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_50cMX6H4SfXx91KF",
        "type": "UseDependency",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSortModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sd_50cMX6H4SfXx91KF",
        "category": "Function",
        "x": 365,
        "y": 80,
        "wires": [
            [
                "sd_0S5xz4kOPvdicmdq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_cSgr6Vttfp6vdarU",
        "type": "PageVariables",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "table.paginator",
                "typedIpValue": {
                    "type": "bh",
                    "value": "tableDataSource.paginator"
                }
            },
            {
                "textIp": "table.sort",
                "typedIpValue": {
                    "type": "bh",
                    "value": "tableDataSource.sort"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user"
                }
            }
        ],
        "functionName": "sd_cSgr6Vttfp6vdarU",
        "category": "Function",
        "x": 925,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_IJb4gnvvTJfK3E63",
        "type": "AfterViewInit",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 125,
        "y": 796.8020629882812,
        "wires": [
            [
                "sd_GNFPyM3JOScm1d7o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_GNFPyM3JOScm1d7o",
        "type": "ViewPicker",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "MatPaginator",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_9",
        "category": "Function",
        "x": 265,
        "y": 796.8020629882812,
        "wires": [
            [
                "sd_9z0TUmIphR7dUFhM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_9z0TUmIphR7dUFhM",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.table.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_9",
        "category": "Function",
        "x": 405,
        "y": 796.8020629882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_Arzy8uB4k1GWBhCI",
        "type": "PageVariables",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            },
            {
                "textIp": "table",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "literal",
                    "value": "''"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "currentPageIndex",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 185,
        "y": 80,
        "wires": [
            [
                "sd_nIWaz3kqf6y3N9bn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_0S5xz4kOPvdicmdq",
        "type": "UseDependency",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "AfterViewInit",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ViewChild",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/core",
        "serviceDesignerType": "pages",
        "functionName": "sd_0S5xz4kOPvdicmdq",
        "category": "Function",
        "x": 465,
        "y": 80,
        "wires": [
            [
                "sd_gKIcVTMlDc071Xta"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_huDbdJ9Pi7C7l1SX",
        "type": "PageStart",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getRowColor",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getRowColor",
        "category": "General",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "sd_1xg11F8aWQBYU9Ef"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_managementComponent"
    },
    {
        "id": "sd_1xg11F8aWQBYU9Ef",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nif (bh.input.row.packageType == 'Package 1') {\n      return 'lightblue';  // Change to the color you want for this condition\n    }\n    return '';  // Default color (no color change)\n  ",
        "functionName": "sd_1xg11F8aWQBYU9Ef",
        "category": "Function",
        "x": 225,
        "y": 980,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    },
    {
        "id": "sd_N1aALxkUGzCMyqIq",
        "type": "Script",
        "z": "sd_cZLPHcExM7qPlfNz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"payments ==>\", page.result)",
        "functionName": "sd_N1aALxkUGzCMyqIq",
        "category": "Function",
        "x": 825,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_managementComponent",
        "generated": true
    }
]
