designs/pages/Admin Dashboard/payment_form.json
[
    {
        "id": "sd_7Y0FdLD4v3Ji9ha6",
        "type": "tab",
        "createdDate": "2024-08-28T13:27:11.041Z",
        "label": "payment_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "payment_formComponent"
    },
    {
        "id": "sd_pv9WDQQTAb5TdcRu",
        "type": "OnInit",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_pv9WDQQTAb5TdcRu",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 60,
        "wires": [
            [
                "sd_1mWJDUJMcNFR2L50"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_formComponent"
    },
    {
        "id": "sd_1mWJDUJMcNFR2L50",
        "type": "PageVariables",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "amount",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "amounts",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "disabled",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_1mWJDUJMcNFR2L50",
        "category": "Function",
        "x": 105,
        "y": 60,
        "wires": [
            [
                "sd_6JYmM4GgmH550ZuL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_wFLj92XcWVhb5iwB",
        "type": "PageCallService",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "get service",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_mZtkuYkkTI8tLdyV",
            "type": "tab",
            "createdDate": "2024-08-28T09:36:49.759Z",
            "label": "variables",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_sr5Ud7ts2hkaks9g",
            "flowName": "getVariable"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "this.page",
                "value": "userData",
                "mapVarName": "data",
                "localVar": "this.page.userData"
            }
        ],
        "serviceImportPath": "app/sd-services/variables",
        "startName": "getVariable",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "getService",
        "category": "General",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_pHYVQ6qVqoPeCrHB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_LV7KwD0nrfUeJXen",
        "type": "Script",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n    page.paymentForm = new FormGroup({\n    name: new FormControl(page.userData.firstName),\n    surname: new FormControl(page.userData.lastName),\n    policyNumber: new FormControl(page.userData.policyNumber),\n    amount: new FormControl(page.amount),\n    loggedBY: new FormControl(page.loggedInUser.email),\n    event: new FormControl(\"\",[Validators.required])\n})",
        "functionName": "sd_LV7KwD0nrfUeJXen",
        "category": "Function",
        "x": 565,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_6JYmM4GgmH550ZuL",
        "type": "UseDependency",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_6JYmM4GgmH550ZuL",
        "category": "Function",
        "x": 205,
        "y": 60,
        "wires": [
            [
                "sd_wFLj92XcWVhb5iwB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_cKmiPodGA3tDIBUK",
        "type": "PageStart",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "start",
        "name": "packageType",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "packageType",
        "category": "General",
        "x": 65,
        "y": 200,
        "wires": [
            [
                "sd_ZcCdk3M89Mu75WMQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_formComponent"
    },
    {
        "id": "sd_ZcCdk3M89Mu75WMQ",
        "type": "Script",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.userData.packageType == \"Package 1\"){\n    page.amount = 90;\n} else if (page.userData.packageType == \"Package 2\"){\n    page.amount = 110;\n} else {\n    page.amount = 130;\n}\n\n\n",
        "functionName": "sd_ZcCdk3M89Mu75WMQ",
        "category": "Function",
        "x": 165,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_pHYVQ6qVqoPeCrHB",
        "type": "PageCallService",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_7Y0FdLD4v3Ji9ha6",
            "type": "tab",
            "createdDate": "2024-08-28T13:27:11.041Z",
            "label": "payment_form",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_cKmiPodGA3tDIBUK",
            "flowName": "packageType"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "packageType",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_pHYVQ6qVqoPeCrHB",
        "category": "General",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "sd_U9h9VOBbE3QabBzk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_U9h9VOBbE3QabBzk",
        "type": "Storage",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_U9h9VOBbE3QabBzk",
        "category": "Storage",
        "x": 425,
        "y": 60,
        "wires": [
            [
                "sd_jwX2q1MiFsMprSdE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_v3rJupcK1WyIppav",
        "type": "PageStart",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "start",
        "name": "log payment",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "logPayment",
        "category": "General",
        "x": 65,
        "y": 480,
        "wires": [
            [
                "sd_JNmxql6OuxRq7sK4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_formComponent"
    },
    {
        "id": "sd_VcaQ1xF5Yh44J1gA",
        "type": "Environment",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_VcaQ1xF5Yh44J1gA",
        "category": "General",
        "x": 425,
        "y": 420,
        "wires": [
            [
                "sd_b3DUrK8OijuTIvWT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_b3DUrK8OijuTIvWT",
        "type": "Script",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"log-payment\"",
        "functionName": "sd_b3DUrK8OijuTIvWT",
        "category": "Function",
        "x": 525,
        "y": 420,
        "wires": [
            [
                "sd_K8VOPjLQKX8kul5n"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_K8VOPjLQKX8kul5n",
        "type": "HttpRequest",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "log pay",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.paymentForm.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "paymentForm.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "logPay",
        "category": "HTTP",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "sd_mEg74lKeqcx440aD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_lTyEMTbjU8Va6qET",
        "type": "PageStart",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close",
        "category": "General",
        "x": 65,
        "y": 320,
        "wires": [
            [
                "sd_gu3HmZZofEmUAShG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_formComponent"
    },
    {
        "id": "sd_gu3HmZZofEmUAShG",
        "type": "CloseDialog",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.system",
        "functionName": "sd_gu3HmZZofEmUAShG",
        "category": "Dialog",
        "x": 160,
        "y": 320,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "system",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_mEg74lKeqcx440aD",
        "type": "PageCallService",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_7Y0FdLD4v3Ji9ha6",
            "type": "tab",
            "createdDate": "2024-08-28T13:27:11.041Z",
            "label": "payment_form",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_lTyEMTbjU8Va6qET",
            "flowName": "close"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "close",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_mEg74lKeqcx440aD",
        "category": "General",
        "x": 765,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_0i3SdyDhQNDUdx2z",
        "type": "OnChanges",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Changes",
        "functionName": "ngOnChanges",
        "category": "Lifecycle Events",
        "x": 305,
        "y": 240,
        "wires": [
            [
                "sd_IJvi4mnr0YOvwVXV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_formComponent"
    },
    {
        "id": "sd_IJvi4mnr0YOvwVXV",
        "type": "PageCallService",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "get service2",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_mZtkuYkkTI8tLdyV",
            "type": "tab",
            "createdDate": "2024-08-28T09:36:49.759Z",
            "label": "variables",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_sr5Ud7ts2hkaks9g",
            "flowName": "getVariable"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "this.page",
                "value": "userData",
                "mapVarName": "data",
                "localVar": "this.page.userData"
            }
        ],
        "serviceImportPath": "app/sd-services/variables",
        "startName": "getVariable",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "getService2",
        "category": "General",
        "x": 410,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_JNmxql6OuxRq7sK4",
        "type": "PageSwitch",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "paymentForm.valid",
        "propertyType": "this.page",
        "propertyGv": "this.page.paymentForm.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_JNmxql6OuxRq7sK4",
        "category": "Function",
        "x": 145,
        "y": 480,
        "wires": [
            [
                "sd_I5Rbhf557X0UwI4G"
            ],
            [
                "sd_ClT4kYvauiOhUVm4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_ClT4kYvauiOhUVm4",
        "type": "SnackBar",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill in all fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ClT4kYvauiOhUVm4",
        "category": "General",
        "x": 225,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_jwX2q1MiFsMprSdE",
        "type": "Storage",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "payment_event"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "action"
        },
        "functionName": "sd_jwX2q1MiFsMprSdE",
        "category": "Storage",
        "x": 500,
        "y": 60,
        "wires": [
            [
                "sd_LV7KwD0nrfUeJXen"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_I5Rbhf557X0UwI4G",
        "type": "PageSwitch",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "action",
        "propertyType": "this.page",
        "propertyGv": "this.page.action",
        "rules": [
            {
                "t": "eq",
                "v": "Log a payment",
                "vt": "str",
                "gv": "\"Log a payment\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_I5Rbhf557X0UwI4G",
        "category": "Function",
        "x": 225,
        "y": 420,
        "wires": [
            [
                "sd_VcaQ1xF5Yh44J1gA"
            ],
            [
                "sd_COdHzFpxTfkZBA7P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_3ok8FgGvYdDG4q0g",
        "type": "Environment",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_3ok8FgGvYdDG4q0g",
        "category": "General",
        "x": 425,
        "y": 500,
        "wires": [
            [
                "sd_cWxhUrz5tTNmVqV0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_cWxhUrz5tTNmVqV0",
        "type": "Script",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"edit-pay\"\n\nif(page.paymentForm.controls['event'].value == \"Missed payment\") {\n   page.amounts = 0;\n}else {\n   page.amounts = page.amount\n}\n\nbh.body = {\n    event : page.paymentForm.controls['event'].value,\n    loggedBY : page.paymentForm.controls['loggedBY'].value,\n    date: new Date(),\n    _id: page.editDetails._id,\n    amount: page.amounts\n    }\n\n    console.log(\"edit body ==>\", bh.body)",
        "functionName": "sd_cWxhUrz5tTNmVqV0",
        "category": "Function",
        "x": 525,
        "y": 500,
        "wires": [
            [
                "sd_3L8TtjmFRGB6uQp0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_3L8TtjmFRGB6uQp0",
        "type": "HttpRequest",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "edit pay",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "editPay",
        "category": "HTTP",
        "x": 625,
        "y": 500,
        "wires": [
            [
                "sd_mEg74lKeqcx440aD",
                "sd_2k0JgxD760sDJbA1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_2k0JgxD760sDJbA1",
        "type": "Log",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.result",
        "functionName": "sd_2k0JgxD760sDJbA1",
        "category": "General",
        "x": 765,
        "y": 580,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_COdHzFpxTfkZBA7P",
        "type": "Storage",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "edit_info"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "editDetails"
        },
        "functionName": "sd_COdHzFpxTfkZBA7P",
        "category": "Storage",
        "x": 305,
        "y": 500,
        "wires": [
            [
                "sd_3ok8FgGvYdDG4q0g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_formComponent",
        "generated": true
    },
    {
        "id": "sd_gKA6xVjHA4ym50YD",
        "type": "PageStart",
        "z": "sd_7Y0FdLD4v3Ji9ha6",
        "viewType": "pages",
        "nodeType": "start",
        "name": "checkPolicyActive",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "checkPolicyActive",
        "category": "General",
        "x": 120,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_formComponent"
    }
]
