designs/pages/search Policy/searchPolicy.json
[
    {
        "id": "sd_DhHQUCCXlUUb7ZvE",
        "type": "tab",
        "createdDate": "2024-08-30T08:56:49.519Z",
        "label": "searchPolicy",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "searchPolicyComponent"
    },
    {
        "id": "sd_2pkBa5MBR75O7Is9",
        "type": "OnInit",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_2pkBa5MBR75O7Is9",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_1H9eZKXPIZpHkx8G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "searchPolicyComponent"
    },
    {
        "id": "sd_txpmGjlMyQdX6vLy",
        "type": "PageVariables",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_txpmGjlMyQdX6vLy",
        "category": "Function",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_xeoRoLeihzWy8efa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_xeoRoLeihzWy8efa",
        "type": "Script",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.searchPolicyForm = new FormGroup({\n    search: new FormControl('',Validators.required)\n})",
        "functionName": "sd_xeoRoLeihzWy8efa",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_1H9eZKXPIZpHkx8G",
        "type": "UseDependency",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_1H9eZKXPIZpHkx8G",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_txpmGjlMyQdX6vLy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_rU0R3WzeGLC0CJEH",
        "type": "PageStart",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "pages",
        "nodeType": "start",
        "name": "find",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "find",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_tWBNhkIBx5C151la"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "searchPolicyComponent"
    },
    {
        "id": "sd_RJfWSc1iaoIPZp3C",
        "type": "Script",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.searchPolicyForm.value)\nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "sd_RJfWSc1iaoIPZp3C",
        "category": "Function",
        "x": 305,
        "y": 160,
        "wires": [
            [
                "sd_bvvL7YmEZnHQdKek"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_bvvL7YmEZnHQdKek",
        "type": "HttpRequest",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_bvvL7YmEZnHQdKek",
        "category": "HTTP",
        "x": 405,
        "y": 160,
        "wires": [
            [
                "sd_ux8rhjGFxIE2uNBH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_ux8rhjGFxIE2uNBH",
        "type": "Script",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clients = page.result.filter((item) => item.policyNumber == page.searchPolicyForm.value.search);\n",
        "functionName": "sd_ux8rhjGFxIE2uNBH",
        "category": "Function",
        "x": 485,
        "y": 160,
        "wires": [
            [
                "sd_FQaTWhsdsnTZhqFY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_7reQ1uGtj2XhgmOg",
        "type": "Environment",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_7reQ1uGtj2XhgmOg",
        "category": "General",
        "x": 205,
        "y": 160,
        "wires": [
            [
                "sd_RJfWSc1iaoIPZp3C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_GrC07KTLi0xBLPf5",
        "type": "Navigation",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/claim-register",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_GrC07KTLi0xBLPf5",
        "category": "Navigation",
        "x": 1065,
        "y": 180,
        "wires": [
            [
                "sd_IO4IqWL9nrM5vCKf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_uK9SFyo7OgJzOK8J",
        "type": "Storage",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "client"
        },
        "value": {
            "type": "this.page",
            "value": "clients"
        },
        "resultMapping": {},
        "functionName": "sd_uK9SFyo7OgJzOK8J",
        "category": "Storage",
        "x": 945,
        "y": 180,
        "wires": [
            [
                "sd_GrC07KTLi0xBLPf5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_IO4IqWL9nrM5vCKf",
        "type": "CloseDialog",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.clients",
        "functionName": "sd_IO4IqWL9nrM5vCKf",
        "category": "Dialog",
        "x": 1165,
        "y": 180,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "clients",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_FQaTWhsdsnTZhqFY",
        "type": "PageSwitch",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "clients",
        "propertyType": "this.page",
        "propertyGv": "this.page.clients",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FQaTWhsdsnTZhqFY",
        "category": "Function",
        "x": 565,
        "y": 160,
        "wires": [
            [
                "sd_kPBY0flPvVW2qs8E"
            ],
            [
                "sd_M3Mx5SO6Ewwd84IC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_kPBY0flPvVW2qs8E",
        "type": "SnackBar",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "THE  POLICY NUMBER ENTERED DOESN'T EXIST"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "4000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_kPBY0flPvVW2qs8E",
        "category": "General",
        "x": 645,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_tWBNhkIBx5C151la",
        "type": "PageSwitch",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "searchPolicyForm.valid",
        "propertyType": "this.page",
        "propertyGv": "this.page.searchPolicyForm.valid",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_tWBNhkIBx5C151la",
        "category": "Function",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "sd_7reQ1uGtj2XhgmOg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_M3Mx5SO6Ewwd84IC",
        "type": "Script",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.total = page.clients[0].trialCount - 6\n\n// if(page.total  > 0) {\n//     console.log(\" liable for claim\")\n// } else {\n//     console.log(\" not liable for claim\")\n// }",
        "functionName": "sd_M3Mx5SO6Ewwd84IC",
        "category": "Function",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "sd_eELT5pMxSfee5Pj1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_eELT5pMxSfee5Pj1",
        "type": "PageSwitch",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "total",
        "propertyType": "this.page",
        "propertyGv": "this.page.total",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "literal",
                "gv": "0"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_eELT5pMxSfee5Pj1",
        "category": "Function",
        "x": 760,
        "y": 240,
        "wires": [
            [
                "sd_FSRNBESiivi2xjRH"
            ],
            [
                "sd_7yMY6xtRM932937O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_FSRNBESiivi2xjRH",
        "type": "SnackBar",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "liable for claim"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_FSRNBESiivi2xjRH",
        "category": "General",
        "x": 840,
        "y": 180,
        "wires": [
            [
                "sd_uK9SFyo7OgJzOK8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_7yMY6xtRM932937O",
        "type": "PageCallService",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_mZtkuYkkTI8tLdyV",
            "type": "tab",
            "createdDate": "2024-08-28T09:36:49.759Z",
            "label": "variables",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJNBQsNOvW2mw7Dt",
            "flowName": "setVariable"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "clients[0]"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "data",
                "valueType": "bh",
                "value": "results",
                "mapVarName": "data",
                "localVar": "bh.results"
            }
        ],
        "serviceImportPath": "app/sd-services/variables",
        "startName": "setVariable",
        "inputParams": [
            "this.page.clients[0]"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_7yMY6xtRM932937O",
        "category": "General",
        "x": 845,
        "y": 320,
        "wires": [
            [
                "sd_8VXYA6N57Vm8tm0h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_ZVCUNk8rfZjdDM9Z",
        "type": "OpenDialog",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_TR0TQjMMISFiPvpl",
            "label": "not_liable_popUp"
        },
        "relativePath": "app/components/search Policy/not_liable_popUp",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "\"65vh\"",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "\"45vw\"",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_ZVCUNk8rfZjdDM9Z",
        "category": "Dialog",
        "x": 1025,
        "y": 320,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "str",
                "value": "65vh",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "str",
                "value": "45vw",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    },
    {
        "id": "sd_8VXYA6N57Vm8tm0h",
        "type": "CloseDialog",
        "z": "sd_DhHQUCCXlUUb7ZvE",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.clients",
        "functionName": "sd_8VXYA6N57Vm8tm0h",
        "category": "Dialog",
        "x": 925,
        "y": 320,
        "wires": [
            [
                "sd_ZVCUNk8rfZjdDM9Z"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "clients",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "searchPolicyComponent",
        "generated": true
    }
]
