designs/pages/Client/client_view_claim.json
[
    {
        "id": "sd_dG2UOa6KZSqqQWfL",
        "type": "tab",
        "createdDate": "2024-09-11T20:59:04.329Z",
        "label": "client_view_claim",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "client_view_claimComponent"
    },
    {
        "id": "sd_dfFKsPO9eitEjN7M",
        "type": "OnInit",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_dfFKsPO9eitEjN7M",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_wpYrgOag9aqCjhHl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_view_claimComponent"
    },
    {
        "id": "sd_fJ8m3FaaUfnjTh9C",
        "type": "PageVariables",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "claimReason",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fileUR",
                "typedIpValue": {
                    "type": "literal",
                    "value": "'http://localhost:8081/api/download/'"
                }
            },
            {
                "textIp": "filename",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fileURL",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_fJ8m3FaaUfnjTh9C",
        "category": "Function",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_c8NOjDUYzS2u7cWO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_view_claimComponent",
        "generated": true
    },
    {
        "id": "sd_wpYrgOag9aqCjhHl",
        "type": "UseDependency",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_wpYrgOag9aqCjhHl",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_fJ8m3FaaUfnjTh9C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_view_claimComponent",
        "generated": true
    },
    {
        "id": "sd_6nloMKrs7E7KI7sJ",
        "type": "Script",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms",
        "script": "console.log(\"claimeee\", page.claim.policyNo)\npage.policy = page.claim.policyNo\npage.claim.claimReason = (page.claimReason ? page.claim.claimReason : \"\")\n// decesed details\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.claim.deceased.firstName),\n      lastName: new FormControl( page.claim.deceased.lastName),\n      idNum :new FormControl( page.claim.deceased.idNum),\n       gender: new FormControl(page.claim.deceased.gender),\n       \n    })\n    // documents\n  // page.idClaimer=new FormGroup({\n  //   filename: new FormControl(\"\"),\n  //   })\n  //    page.idDecesed =new FormGroup({\n   \n    \n     \n  //   })\n  //     page.bi1662 =new FormGroup({\n   \n    \n     \n  //   })\n  //     page.deathCertificate =new FormGroup({\n   \n    \n     \n  //   })\n  //     page.bankDetails =new FormGroup({\n   \n    \n     \n  //   })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.claim.firstName),\n    lastName:new FormControl(page.claim.lastName),\n    idNum:new FormControl( page.claim.idNum),\n    gender:new FormControl( page.claim.gender),\n    packageType : new FormControl( page.claim.packageType),\n    payoutAmount :new FormControl( page.claim.payoutAmount),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    // idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(page.claim['ID']),\n    \n     idDeceased2:new FormControl(page.claim.idDecesed),\n   \n     bi16632:new FormControl(page.claim.bi1663),\n    // deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(page.claim['DeathCertificate']),\n    // bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(page.claim.bankDetails),\n     status:new FormControl(page.claim.status),\n     reason:new FormControl( \"\"),\n     depsId : new FormControl ()\n     \n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \n// bh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms",
        "category": "Function",
        "x": 765,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_view_claimComponent",
        "generated": true
    },
    {
        "id": "sd_c8NOjDUYzS2u7cWO",
        "type": "Storage",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "claim"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "claim"
        },
        "functionName": "sd_c8NOjDUYzS2u7cWO",
        "category": "Storage",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_b6qQdvlEhU2Qucbs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_view_claimComponent",
        "generated": true
    },
    {
        "id": "sd_b6qQdvlEhU2Qucbs",
        "type": "Script",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"page.claim\",page.claim)\npage['DeathCertificatefile'] = page.claim['DeathCertificatefile'] \npage.bi1663file =page.claim['bi1663file']\npage['IDDeceasedfile'] =page.claim['IDDeceasedfile']\npage['IDfile'] = page.claim['IDfile']\npage['bankDetailsfile'] = page.claim['bankDetailsfile']\n\n",
        "functionName": "sd_b6qQdvlEhU2Qucbs",
        "category": "Function",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_6nloMKrs7E7KI7sJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_view_claimComponent",
        "generated": true
    },
    {
        "id": "sd_FCDpS1aYE4uVTqya",
        "type": "Environment",
        "z": "sd_dG2UOa6KZSqqQWfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_FCDpS1aYE4uVTqya",
        "category": "General",
        "x": 385,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_view_claimComponent"
    }
]
