designs/pages/Client/client_claim_form.json
[
    {
        "id": "sd_w93AbqYMQ4LWwqYF",
        "type": "tab",
        "createdDate": "2024-09-03T11:00:06.172Z",
        "label": "client_claim_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_PiQavN0P6CM1ZSuF",
        "type": "OnInit",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PiQavN0P6CM1ZSuF",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_qNp8Tafga8zcs2Tx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_37zMadhqe6cOjrj2",
        "type": "PageVariables",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "policyClaimsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policy",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyholder",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "beneficiary",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "desname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_37zMadhqe6cOjrj2",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_n3Yjb7EcHOgLqxD2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Vil0sp4ZguItd5eA",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms",
        "script": "// decesed details\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.name),\n      lastName: new FormControl( ''),\n      idNum :new FormControl( ''),\n       gender: new FormControl(''),\n       \n    })\n    // documents\n  page.idClaimer=new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n     page.idDecesed =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bi1663 =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.deathCertificate =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bankDetails =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.user.firstName),\n    lastName:new FormControl(page.user.lastName),\n    idNum:new FormControl( page.user.idNumber),\n    gender:new FormControl( page.user.gender),\n    packageType : new FormControl( page.user.packageType),\n    payoutAmount :new FormControl( ''),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(''),\n    idDecesed:page.idDecesed,\n     idDeceased2:new FormControl(''),\n    bi1663:page.bi1663,\n     bi16632:new FormControl(''),\n    deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(''),\n    bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl ()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms",
        "category": "Function",
        "x": 865,
        "y": 40,
        "wires": [
            [
                "sd_eeDqEW48y1aYDdzq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_qNp8Tafga8zcs2Tx",
        "type": "UseDependency",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_qNp8Tafga8zcs2Tx",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_37zMadhqe6cOjrj2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_zPjBtt8sz0eTZp6R",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zPjBtt8sz0eTZp6R",
        "category": "General",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_LyXmTCpxaT7G7Ddd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_eeDqEW48y1aYDdzq",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_eeDqEW48y1aYDdzq",
        "category": "HTTP",
        "x": 945,
        "y": 40,
        "wires": [
            [
                "sd_DGtQxckWxt0Ra1cO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n35N3qgHD6dTmjSZ",
        "type": "Log",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.clients",
        "functionName": "sd_n35N3qgHD6dTmjSZ",
        "category": "General",
        "x": 1125,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "clients",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_DGtQxckWxt0Ra1cO",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.policy = 35855297\npage.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)\nconsole.log(\"claimer\",page.claim)",
        "functionName": "sd_DGtQxckWxt0Ra1cO",
        "category": "Function",
        "x": 1040,
        "y": 40,
        "wires": [
            [
                "sd_n35N3qgHD6dTmjSZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n3ZmIInEaqwuOf5e",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\n// console.log(page.newClient[0].policyNumber)\n\n page.policyno = page.user.policyNumber\nconsole.log(\"users\",page.user)",
        "functionName": "sd_n3ZmIInEaqwuOf5e",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_zPjBtt8sz0eTZp6R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n3Yjb7EcHOgLqxD2",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_n3Yjb7EcHOgLqxD2",
        "category": "Storage",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_n3ZmIInEaqwuOf5e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LyXmTCpxaT7G7Ddd",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben and depen array for selectors",
        "script": "// Dependency\npage.deparray = page.user.dependencies\nconsole.log(\"depnarray\",page.deparray)\n// beneficary\n\n\npage.ids = [\n   {value: page.deparray[0], viewValue: page.deparray[0].idNumber},\n   {value: page.deparray[1], viewValue: page.deparray[1].idNumber},\n   {value: page.deparray[2], viewValue: page.deparray[2].idNumber}\n];\n\n",
        "functionName": "benAndDepenArrayForSelectors",
        "category": "Function",
        "x": 745,
        "y": 40,
        "wires": [
            [
                "sd_Vil0sp4ZguItd5eA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_nsLME7WgAVVodWLW",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.name1 = page.policyClaimsForm.value.beIds.firstName\n// page.surname1 = page.policyClaimsForm.value.beIds.lastName\n// page.idnum1 = page.policyClaimsForm.value.beIds.idNumber\n// page.gender1 = page.policyClaimsForm.value.beIds.gender\n\npage.policyClaimsForm.patchValue({\n    firstName :page.policyClaimsForm.value.beIds.firstName,\n    lastName: page.policyClaimsForm.value.beIds.lastName,\n    idNum:page.policyClaimsForm.value.beIds.idNumber,\n    gender:page.policyClaimsForm.value.beIds.gender\n    })",
        "functionName": "sd_nsLME7WgAVVodWLW",
        "category": "Function",
        "x": 1445,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_NmV9iXXzB0gokAZe",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate2",
        "category": "General",
        "x": 1325,
        "y": 260,
        "wires": [
            [
                "sd_nsLME7WgAVVodWLW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_eaMbugEjSr6BdxcD",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload1",
        "category": "General",
        "x": 85,
        "y": 360,
        "wires": [
            [
                "sd_PxnKHFtUiUE6Ezgr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_PxnKHFtUiUE6Ezgr",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload1 = document.getElementById('upload1') as HTMLInputElement;\n  if (bh.upload1) {\n   bh.upload1.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile1 = new FormData()\n       page.uploadedFile1.append('file', bh.file)\n       this.goToBackend1()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_PxnKHFtUiUE6Ezgr",
        "category": "Function",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_5khnoqzpKbg2Y0rb",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_5khnoqzpKbg2Y0rb",
        "category": "General",
        "x": 145,
        "y": 280,
        "wires": [
            [
                "sd_p4B7idTFiqPSmL4H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_p4B7idTFiqPSmL4H",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_p4B7idTFiqPSmL4H",
        "category": "Function",
        "x": 245,
        "y": 280,
        "wires": [
            [
                "sd_qE3ziIXUvXb5u3JI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_qE3ziIXUvXb5u3JI",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_qE3ziIXUvXb5u3JI",
        "category": "HTTP",
        "x": 345,
        "y": 280,
        "wires": [
            [
                "sd_Kqc6WzWwm9zzqnSk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_XXsnkh2tsBkA97A5",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend1",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_5khnoqzpKbg2Y0rb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_Kqc6WzWwm9zzqnSk",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"idClaimer\",JSON.stringify(bh.result))\nthis.getFromBackend1()\nconsole.log(\"data to use\",page.idclaimerFile)\n\n",
        "functionName": "sd_Kqc6WzWwm9zzqnSk",
        "category": "Function",
        "x": 445,
        "y": 280,
        "wires": [
            [
                "sd_YWEx409WHZc5ptpT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_YWEx409WHZc5ptpT",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "claimer id Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_YWEx409WHZc5ptpT",
        "category": "General",
        "x": 545,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Lzibvu44Pm3wNe3u",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend1",
        "category": "General",
        "x": 265,
        "y": 360,
        "wires": [
            [
                "sd_3oPD9URBTiO6W2ii"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_3oPD9URBTiO6W2ii",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idClaimer"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idclaimerFile"
        },
        "functionName": "sd_3oPD9URBTiO6W2ii",
        "category": "Storage",
        "x": 405,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_WCxdLs5ArZ5kjXEK",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload2",
        "category": "General",
        "x": 85,
        "y": 580,
        "wires": [
            [
                "sd_FI84TGbT75vwA7et"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_FI84TGbT75vwA7et",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload2 = document.getElementById('upload2') as HTMLInputElement;\n  if (bh.upload2) {\n   bh.upload2.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile2 = new FormData()\n       page.uploadedFile2.append('file', bh.file)\n        this.goToBackend2()\n    }\n  })\n  }",
        "functionName": "sd_FI84TGbT75vwA7et",
        "category": "Function",
        "x": 245,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_8VDT9gx1zEcf0fce",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload3",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload3",
        "category": "General",
        "x": 85,
        "y": 760,
        "wires": [
            [
                "sd_6v56ozONeXLjjrlv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_6v56ozONeXLjjrlv",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload3 = document.getElementById('upload3') as HTMLInputElement;\n  if (bh.upload3) {\n   bh.upload3.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile3= new FormData()\n       page.uploadedFile3.append('file', bh.file)\n        this.goToBackend3()\n    }\n  })\n}\n",
        "functionName": "sd_6v56ozONeXLjjrlv",
        "category": "Function",
        "x": 165,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_rIocvYAynFrNBRhC",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_rIocvYAynFrNBRhC",
        "category": "General",
        "x": 185,
        "y": 480,
        "wires": [
            [
                "sd_f55zoNvUGGWrTWC5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_f55zoNvUGGWrTWC5",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_f55zoNvUGGWrTWC5",
        "category": "Function",
        "x": 285,
        "y": 480,
        "wires": [
            [
                "sd_kqDJ2BiotifqExKK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_kqDJ2BiotifqExKK",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_kqDJ2BiotifqExKK",
        "category": "HTTP",
        "x": 385,
        "y": 480,
        "wires": [
            [
                "sd_RgxzFFTTyWkfgomq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_lWF4l4xUDmnMvpx3",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend2",
        "category": "General",
        "x": 85,
        "y": 480,
        "wires": [
            [
                "sd_rIocvYAynFrNBRhC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_RgxzFFTTyWkfgomq",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"idDeceased\",JSON.stringify(bh.result))\nthis.getFromBackend2()",
        "functionName": "sd_RgxzFFTTyWkfgomq",
        "category": "Function",
        "x": 485,
        "y": 480,
        "wires": [
            [
                "sd_ip9jfBvGXmplXnvG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ip9jfBvGXmplXnvG",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Deceased Id Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ip9jfBvGXmplXnvG",
        "category": "General",
        "x": 585,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_FQIgjNR2FdwVDvRk",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend2",
        "category": "General",
        "x": 345,
        "y": 580,
        "wires": [
            [
                "sd_vaSZMZ6cbFM75eCs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_vaSZMZ6cbFM75eCs",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idDeceased"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idDeceasedFile"
        },
        "functionName": "sd_vaSZMZ6cbFM75eCs",
        "category": "Storage",
        "x": 485,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_prE5JKEBKZxPl1Hm",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_prE5JKEBKZxPl1Hm",
        "category": "General",
        "x": 185,
        "y": 680,
        "wires": [
            [
                "sd_thDxeQbDwCfzEA7N"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_thDxeQbDwCfzEA7N",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_thDxeQbDwCfzEA7N",
        "category": "Function",
        "x": 285,
        "y": 680,
        "wires": [
            [
                "sd_20Gl4jiFtBLsuQOG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_20Gl4jiFtBLsuQOG",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile3",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile3"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_20Gl4jiFtBLsuQOG",
        "category": "HTTP",
        "x": 385,
        "y": 680,
        "wires": [
            [
                "sd_qaZdy6OTBx6ajuJL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_F6whCttWtBkIwTHk",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend3",
        "category": "General",
        "x": 85,
        "y": 680,
        "wires": [
            [
                "sd_prE5JKEBKZxPl1Hm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_qaZdy6OTBx6ajuJL",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"deathCetificatify\",JSON.stringify(bh.result))\nthis.getFromBackend3()\nconsole.log(\"bh\",bh.results)",
        "functionName": "sd_qaZdy6OTBx6ajuJL",
        "category": "Function",
        "x": 485,
        "y": 680,
        "wires": [
            [
                "sd_V1ht4BqD8D7UWsta"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_V1ht4BqD8D7UWsta",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Death Cetificatify Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_V1ht4BqD8D7UWsta",
        "category": "General",
        "x": 585,
        "y": 680,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_WKlCweVLuaAFSxJc",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend3",
        "category": "General",
        "x": 265,
        "y": 760,
        "wires": [
            [
                "sd_cTQM1ews8f491wu1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_cTQM1ews8f491wu1",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "deathCetificatify"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "deathCetificatifyFile"
        },
        "functionName": "sd_cTQM1ews8f491wu1",
        "category": "Storage",
        "x": 345,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_houwI8ihnjMC8RV8",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload4",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload4",
        "category": "General",
        "x": 805,
        "y": 460,
        "wires": [
            [
                "sd_YFzc5D0e3ZnKmkIy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_YFzc5D0e3ZnKmkIy",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload4 = document.getElementById('upload4') as HTMLInputElement;\n  if (bh.upload4) {\n   bh.upload4.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile4 = new FormData()\n       page.uploadedFile4.append('file', bh.file)\n        this.goToBackend4()\n    }\n  })\n  }",
        "functionName": "sd_YFzc5D0e3ZnKmkIy",
        "category": "Function",
        "x": 925,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_mz2TWXQYdMMPObGq",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload5",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload5",
        "category": "General",
        "x": 825,
        "y": 680,
        "wires": [
            [
                "sd_hAV6j2lg8RUkJagP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_hAV6j2lg8RUkJagP",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload5 = document.getElementById('upload5') as HTMLInputElement;\n  if (bh.upload5) {\n   bh.upload5.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile5 = new FormData()\n       page.uploadedFile5.append('file', bh.file)\n        this.goToBackend5()\n    }\n  })\n  }",
        "functionName": "sd_hAV6j2lg8RUkJagP",
        "category": "Function",
        "x": 925,
        "y": 680,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_DqtdBUuDMXCrxZe0",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_DqtdBUuDMXCrxZe0",
        "category": "General",
        "x": 905,
        "y": 340,
        "wires": [
            [
                "sd_igQ9AGmdPHqsp3mS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_igQ9AGmdPHqsp3mS",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_igQ9AGmdPHqsp3mS",
        "category": "Function",
        "x": 1005,
        "y": 340,
        "wires": [
            [
                "sd_ro9SM1ckM63pVVbE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ro9SM1ckM63pVVbE",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile4",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile4"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_ro9SM1ckM63pVVbE",
        "category": "HTTP",
        "x": 1105,
        "y": 340,
        "wires": [
            [
                "sd_4iLB4CCHB6QntvKg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_zcKpA2BoEMprjNIU",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend4",
        "category": "General",
        "x": 805,
        "y": 340,
        "wires": [
            [
                "sd_DqtdBUuDMXCrxZe0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_4iLB4CCHB6QntvKg",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"bi1663\",JSON.stringify(bh.result))\nthis.getFromBackend4()",
        "functionName": "sd_4iLB4CCHB6QntvKg",
        "category": "Function",
        "x": 1205,
        "y": 340,
        "wires": [
            [
                "sd_HUAgQoECNnJ5TwfY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_HUAgQoECNnJ5TwfY",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_HUAgQoECNnJ5TwfY",
        "category": "General",
        "x": 1305,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_5ahl3qYrJllslZBF",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend4",
        "category": "General",
        "x": 1045,
        "y": 460,
        "wires": [
            [
                "sd_tCJpi7kCEwW36SRu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_tCJpi7kCEwW36SRu",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bi1663"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bi1663File"
        },
        "functionName": "sd_tCJpi7kCEwW36SRu",
        "category": "Storage",
        "x": 1125,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_8MTZARhBAQJWoRUE",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_8MTZARhBAQJWoRUE",
        "category": "General",
        "x": 925,
        "y": 560,
        "wires": [
            [
                "sd_m0NfI52jottco5YU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_m0NfI52jottco5YU",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_m0NfI52jottco5YU",
        "category": "Function",
        "x": 1025,
        "y": 560,
        "wires": [
            [
                "sd_dl2txXlIpObERM05"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_dl2txXlIpObERM05",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile5",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile5"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_dl2txXlIpObERM05",
        "category": "HTTP",
        "x": 1125,
        "y": 560,
        "wires": [
            [
                "sd_SaAfqj4OuBwMyE93"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_DBT5hOJFUizWQFIy",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend5",
        "category": "General",
        "x": 825,
        "y": 560,
        "wires": [
            [
                "sd_8MTZARhBAQJWoRUE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_SaAfqj4OuBwMyE93",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"bankDetails\",JSON.stringify(bh.result))\nthis.getFromBackend5()",
        "functionName": "sd_SaAfqj4OuBwMyE93",
        "category": "Function",
        "x": 1225,
        "y": 560,
        "wires": [
            [
                "sd_VW3IpS841FBYi5EL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_VW3IpS841FBYi5EL",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Bank Details Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_VW3IpS841FBYi5EL",
        "category": "General",
        "x": 1325,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_WW3fnpni5l8xxyfo",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend5",
        "category": "General",
        "x": 1045,
        "y": 680,
        "wires": [
            [
                "sd_6wYXUnDjB7qDVWsp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_6wYXUnDjB7qDVWsp",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bankDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bankDetailsFile"
        },
        "functionName": "sd_6wYXUnDjB7qDVWsp",
        "category": "Storage",
        "x": 1185,
        "y": 680,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_X2tvjc7ajLK5WAAA",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 85,
        "y": 880,
        "wires": [
            [
                "sd_3VDakwnzEcR5Oup5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_3VDakwnzEcR5Oup5",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrl + 'add-claim'\nconsole.log(\"The val\",page.deathCetificatifyFile)\nbh.body = page.policyClaimsForm.value\nbh.body.policyNo = page.policyNo\nbh.body.claimNumber = `CN-${page.policyNo}`\n\ndelete bh.body.deathCetificatify2\ndelete bh.body.deceased2\ndelete bh.body.idClaimer2\ndelete bh.body.idDeceased2\ndelete bh.body.bi16632\ndelete bh.body.bankDetails2\n\nconsole.log(\"This is bh body\", bh.body)",
        "functionName": "sd_3VDakwnzEcR5Oup5",
        "category": "Function",
        "x": 205,
        "y": 880,
        "wires": [
            [
                "sd_W355p2xBTUlYo2Vf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_syfc0wxD9q4EkuN1",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_syfc0wxD9q4EkuN1",
        "category": "General",
        "x": 865,
        "y": 880,
        "wires": [
            [
                "sd_fusyotj2BipM6rO4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_fusyotj2BipM6rO4",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_fusyotj2BipM6rO4",
        "category": "HTTP",
        "x": 945,
        "y": 880,
        "wires": [
            [
                "sd_ywG8tkpWlVm7FdHY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ywG8tkpWlVm7FdHY",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Claim Added"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ywG8tkpWlVm7FdHY",
        "category": "General",
        "x": 1045,
        "y": 880,
        "wires": [
            [
                "sd_MRDIkFrFByrv0Qxz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_MRDIkFrFByrv0Qxz",
        "type": "Navigation",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/client_claims",
        "functionName": "sd_MRDIkFrFByrv0Qxz",
        "category": "Navigation",
        "x": 1165,
        "y": 880,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ndLSUnWZ8jgL6mNH",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "id claimer file added on form",
        "script": "page.policyClaimsForm.value.idClaimer._id = page.idclaimerFile._id\npage.policyClaimsForm.value.idClaimer.filename = page.idclaimerFile.filename\npage.policyClaimsForm.value.idClaimer.length = page.idclaimerFile.length\npage.policyClaimsForm.value.idClaimer.chunkSize = page.idclaimerFile.chunkSize",
        "functionName": "idClaimerFileAddedOnForm",
        "category": "Function",
        "x": 545,
        "y": 880,
        "wires": [
            [
                "sd_T1o02bn4GYSlB8H0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_6iqpA1CG6gycQF5w",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Deceased id file in form",
        "script": "page.policyClaimsForm.value. idDecesed._id = page.idDeceasedFile._id\npage.policyClaimsForm.value. idDecesed.filename = page.idDeceasedFile.filename\npage.policyClaimsForm.value. idDecesed.length = page.idDeceasedFile.length\npage.policyClaimsForm.value. idDecesed.chunkSize = page.idDeceasedFile.chunkSize",
        "functionName": "deceasedIdFileInForm",
        "category": "Function",
        "x": 425,
        "y": 880,
        "wires": [
            [
                "sd_ndLSUnWZ8jgL6mNH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_W355p2xBTUlYo2Vf",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Death Cetificatify file in form",
        "script": "page.policyClaimsForm.value.deathCertificate._id = page.deathCetificatifyFile._id\npage.policyClaimsForm.value.deathCertificate.filename = page.deathCetificatifyFile.filename\npage.policyClaimsForm.value.deathCertificate.length = page.deathCetificatifyFile.length\npage.policyClaimsForm.value.deathCertificate.chunkSize = page.deathCetificatifyFile.chunkSize\n\n// console.log(\"The val\",page.deathCetificatifyFile)",
        "functionName": "deathCetificatifyFileInForm",
        "category": "Function",
        "x": 325,
        "y": 880,
        "wires": [
            [
                "sd_6iqpA1CG6gycQF5w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_PnL7snCyYfbYIdIG",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bi1663 file in form",
        "script": "page.policyClaimsForm.value.bi1662._id = page.bi1663File._id\npage.policyClaimsForm.value.bi1662.filename = page.bi1663File.filename\npage.policyClaimsForm.value.bi1662.length = page.bi1663File.length\npage.policyClaimsForm.value.bi1662.chunkSize = page.bi1663File.chunkSize",
        "functionName": "bi1663FileInForm",
        "category": "Function",
        "x": 765,
        "y": 880,
        "wires": [
            [
                "sd_syfc0wxD9q4EkuN1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_T1o02bn4GYSlB8H0",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bankDetails file in form",
        "script": "page.policyClaimsForm.value.bankDetails._id = page.bankDetailsFile._id\npage.policyClaimsForm.value.bankDetails.filename = page.bankDetailsFile.filename\npage.policyClaimsForm.value.bankDetails.length = page.bankDetailsFile.length\npage.policyClaimsForm.value.bankDetails.chunkSize = page.bankDetailsFile.chunkSize",
        "functionName": "bankDetailsFileInForm",
        "category": "Function",
        "x": 645,
        "y": 880,
        "wires": [
            [
                "sd_PnL7snCyYfbYIdIG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    }
]
