designs/pages/Client/client_claim_form.json
[
    {
        "id": "sd_w93AbqYMQ4LWwqYF",
        "type": "tab",
        "createdDate": "2024-09-03T11:00:06.172Z",
        "label": "client_claim_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_PiQavN0P6CM1ZSuF",
        "type": "OnInit",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PiQavN0P6CM1ZSuF",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_qNp8Tafga8zcs2Tx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_tsaZEG85KHCWHmbM",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload1",
        "category": "General",
        "x": 285,
        "y": 280,
        "wires": [
            [
                "sd_QLcNVEufXDm9yCzk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_QLcNVEufXDm9yCzk",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload1 = document.getElementById('upload1') as HTMLInputElement;\n  if (bh.upload1) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n       this.goToBackend1()\n    }\n  })\n  }\n",
        "functionName": "sd_QLcNVEufXDm9yCzk",
        "category": "Function",
        "x": 380,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LjjP5ZHsyUqvEgKy",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload2",
        "category": "General",
        "x": 265,
        "y": 520,
        "wires": [
            [
                "sd_WZ8an64kmH8B5AaN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_WZ8an64kmH8B5AaN",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload2 = document.getElementById('upload2') as HTMLInputElement;\n  if (bh.upload2) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n        this.goToBackend2()\n    }\n  })\n  }",
        "functionName": "sd_WZ8an64kmH8B5AaN",
        "category": "Function",
        "x": 425,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_PTQevViJvxBFEZ5d",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload3",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload3",
        "category": "General",
        "x": 265,
        "y": 700,
        "wires": [
            [
                "sd_yVtEMq57dPK4i8ud"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_yVtEMq57dPK4i8ud",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload3 = document.getElementById('upload3') as HTMLInputElement;\n  if (bh.upload3) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n        this.goToBackend3()\n    }\n  })\n  }",
        "functionName": "sd_yVtEMq57dPK4i8ud",
        "category": "Function",
        "x": 345,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_8oc0KCLAijvS6r6c",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload4",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload4",
        "category": "General",
        "x": 225,
        "y": 940,
        "wires": [
            [
                "sd_fpp1hQhsd3hhemZc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_fpp1hQhsd3hhemZc",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload4 = document.getElementById('upload4') as HTMLInputElement;\n  if (bh.upload4) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n        this.goToBackend4()\n    }\n  })\n  }",
        "functionName": "sd_fpp1hQhsd3hhemZc",
        "category": "Function",
        "x": 345,
        "y": 940,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_aHsFT3oNRF3wfbSJ",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload5",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload5",
        "category": "General",
        "x": 245,
        "y": 1160,
        "wires": [
            [
                "sd_uHZiBJcz5vdJ0oUF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_uHZiBJcz5vdJ0oUF",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload5 = document.getElementById('upload5') as HTMLInputElement;\n  if (bh.upload5) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n        this.goToBackend5()\n    }\n  })\n  }",
        "functionName": "sd_uHZiBJcz5vdJ0oUF",
        "category": "Function",
        "x": 345,
        "y": 1160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_f8oeVtOuBZNKRkqx",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_f8oeVtOuBZNKRkqx",
        "category": "General",
        "x": 345,
        "y": 200,
        "wires": [
            [
                "sd_yWU7xpXirWVpkKq3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_yWU7xpXirWVpkKq3",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_yWU7xpXirWVpkKq3",
        "category": "Function",
        "x": 445,
        "y": 200,
        "wires": [
            [
                "sd_oVZ7tX3dTddZKKri"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_oVZ7tX3dTddZKKri",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_oVZ7tX3dTddZKKri",
        "category": "HTTP",
        "x": 545,
        "y": 200,
        "wires": [
            [
                "sd_PpZPbeWFr2FVYypN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_K4qFnKvfsDEDVqLG",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend1",
        "category": "General",
        "x": 245,
        "y": 200,
        "wires": [
            [
                "sd_f8oeVtOuBZNKRkqx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_PpZPbeWFr2FVYypN",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"idClaimer\",JSON.stringify(bh.result))\nthis.getFromBackend1()",
        "functionName": "sd_PpZPbeWFr2FVYypN",
        "category": "Function",
        "x": 645,
        "y": 200,
        "wires": [
            [
                "sd_wrqepYnBF7p3QZbY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_wrqepYnBF7p3QZbY",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "claimer id Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wrqepYnBF7p3QZbY",
        "category": "General",
        "x": 745,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_l93cX96HBR9CW1SP",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend1",
        "category": "General",
        "x": 465,
        "y": 280,
        "wires": [
            [
                "sd_VVLJsIZ571Px3sUH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_VVLJsIZ571Px3sUH",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idClaimer"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idclaimerFile"
        },
        "functionName": "sd_VVLJsIZ571Px3sUH",
        "category": "Storage",
        "x": 605,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_06WYv6qvZkpO8AyS",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"helllow\",page.policyClaimsForm)",
        "functionName": "sd_06WYv6qvZkpO8AyS",
        "category": "Function",
        "x": 845,
        "y": 1260,
        "wires": [
            [
                "sd_YC50j0rU933miL4a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ovXzkOsbueGFsAMq",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate",
        "category": "General",
        "x": 725,
        "y": 1280,
        "wires": [
            [
                "sd_06WYv6qvZkpO8AyS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_YC50j0rU933miL4a",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.name = page.policyClaimsForm.value.depsId.firstName\npage.surname = page.policyClaimsForm.value.depsId.lastName\npage.idnum = page.policyClaimsForm.value.depsId.idNumber\npage.gender = page.policyClaimsForm.value.depsId.gender\n\nconsole.log(\"value\",page.name)",
        "functionName": "sd_YC50j0rU933miL4a",
        "category": "Function",
        "x": 945,
        "y": 1280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_37zMadhqe6cOjrj2",
        "type": "PageVariables",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "policyClaimsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policy",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyholder",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "beneficiary",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "desname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_37zMadhqe6cOjrj2",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_n3Yjb7EcHOgLqxD2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Vil0sp4ZguItd5eA",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms",
        "script": "// decesed details\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.name),\n      lastName: new FormControl( ''),\n      idNum :new FormControl( ''),\n       gender: new FormControl(''),\n       dateOfDeath:new FormControl( '',[Validators.required]),\n    })\n    // documents\n  page.idClaimer=new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n     page.idDecesed =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bi1663 =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.deathCertificate =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n      page.bankDetails =new FormGroup({\n   _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"), \n     \n    })\n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.user.firstName),\n    lastName:new FormControl(page.user.lastName),\n    idNum:new FormControl( page.user.idNumber),\n    gender:new FormControl( page.user.gender),\n    packageType : new FormControl( page.user.packageType),\n    payoutAmount :new FormControl( ''),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    idClaimer: page.idClaimer,\n    idClaimer2:new FormControl(''),\n    idDecesed:page.idDecesed,\n     idDeceased2:new FormControl(''),\n    bi1663:page.bi1663,\n     bi16632:new FormControl(''),\n    deathCertificate:page.deathCertificate,\n    deathCetificatify2:new FormControl(''),\n    bankDetails :page.bankDetails,\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl ()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms",
        "category": "Function",
        "x": 865,
        "y": 40,
        "wires": [
            [
                "sd_eeDqEW48y1aYDdzq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_qNp8Tafga8zcs2Tx",
        "type": "UseDependency",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_qNp8Tafga8zcs2Tx",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_37zMadhqe6cOjrj2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_zPjBtt8sz0eTZp6R",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zPjBtt8sz0eTZp6R",
        "category": "General",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_LyXmTCpxaT7G7Ddd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_eeDqEW48y1aYDdzq",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_eeDqEW48y1aYDdzq",
        "category": "HTTP",
        "x": 945,
        "y": 40,
        "wires": [
            [
                "sd_DGtQxckWxt0Ra1cO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n35N3qgHD6dTmjSZ",
        "type": "Log",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.clients",
        "functionName": "sd_n35N3qgHD6dTmjSZ",
        "category": "General",
        "x": 1125,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "clients",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_DGtQxckWxt0Ra1cO",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.policy = 35855297\npage.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)\nconsole.log(\"claimer\",page.claim)",
        "functionName": "sd_DGtQxckWxt0Ra1cO",
        "category": "Function",
        "x": 1040,
        "y": 40,
        "wires": [
            [
                "sd_n35N3qgHD6dTmjSZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n3ZmIInEaqwuOf5e",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\n// console.log(page.newClient[0].policyNumber)\n\n page.policyno = page.user.policyNumber\nconsole.log(\"users\",page.user)",
        "functionName": "sd_n3ZmIInEaqwuOf5e",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_zPjBtt8sz0eTZp6R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n3Yjb7EcHOgLqxD2",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_n3Yjb7EcHOgLqxD2",
        "category": "Storage",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_n3ZmIInEaqwuOf5e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LyXmTCpxaT7G7Ddd",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben and depen array for selectors",
        "script": "// Dependency\npage.deparray = page.user.dependencies\nconsole.log(\"depnarray\",page.deparray)\n// beneficary\n\n\npage.ids = [\n   {value: page.deparray[0], viewValue: page.deparray[0].idNumber},\n   {value: page.deparray[1], viewValue: page.deparray[1].idNumber},\n   {value: page.deparray[2], viewValue: page.deparray[2].idNumber}\n];\n\n",
        "functionName": "benAndDepenArrayForSelectors",
        "category": "Function",
        "x": 745,
        "y": 40,
        "wires": [
            [
                "sd_Vil0sp4ZguItd5eA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_wMkFBIk2OjUNSacB",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 305,
        "y": 1300,
        "wires": [
            [
                "sd_r0hNEVnYUHmLNOnp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_r0hNEVnYUHmLNOnp",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.policyClaimsForm )",
        "functionName": "sd_r0hNEVnYUHmLNOnp",
        "category": "Function",
        "x": 405,
        "y": 1300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_OhBVJRlnDN2TWO92",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "id claimer file added on form",
        "script": "page.idClaimer.value.file._id = page.idclaimerFile._id\npage.idClaimer.value.file.filename = page.idclaimerFile.filename\npage.idClaimer.value.file.length = page.idclaimerFile.length\npage.idClaimer.value.file.chunkSize = page.idclaimerFile.chunkSize",
        "functionName": "idClaimerFileAddedOnForm",
        "category": "Function",
        "x": 765,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_Tqk3Dzb8GXk0vtWT",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Tqk3Dzb8GXk0vtWT",
        "category": "General",
        "x": 365,
        "y": 420,
        "wires": [
            [
                "sd_3qgYgK3Vl1q6kEU2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_3qgYgK3Vl1q6kEU2",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_3qgYgK3Vl1q6kEU2",
        "category": "Function",
        "x": 465,
        "y": 420,
        "wires": [
            [
                "sd_iGhT9Gvd4kWwRArI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_iGhT9Gvd4kWwRArI",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_iGhT9Gvd4kWwRArI",
        "category": "HTTP",
        "x": 565,
        "y": 420,
        "wires": [
            [
                "sd_8IuEk1GWzdNIbGmu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_K1yY8BQ3wKpL38V8",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend2",
        "category": "General",
        "x": 265,
        "y": 420,
        "wires": [
            [
                "sd_Tqk3Dzb8GXk0vtWT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_8IuEk1GWzdNIbGmu",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"idDeceased\",JSON.stringify(bh.result))\nthis.getFromBackend2()",
        "functionName": "sd_8IuEk1GWzdNIbGmu",
        "category": "Function",
        "x": 665,
        "y": 420,
        "wires": [
            [
                "sd_RzKzqQE9uM1rIutw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_RzKzqQE9uM1rIutw",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Deceased Id Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_RzKzqQE9uM1rIutw",
        "category": "General",
        "x": 765,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ZcNzfwk6naOYxFo7",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend2",
        "category": "General",
        "x": 525,
        "y": 520,
        "wires": [
            [
                "sd_Zr7ApbrY8BVw3K4z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_Zr7ApbrY8BVw3K4z",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idDeceased"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idDeceasedFile"
        },
        "functionName": "sd_Zr7ApbrY8BVw3K4z",
        "category": "Storage",
        "x": 665,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_uQ7B6AAn7ryMhbGK",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Deceased id file in form",
        "script": "page.idDeceased.value.file._id = page.idclaimerFile._id\npage.idDeceased.value.file.filename = page.idDeceasedFile.filename\npage.idDeceased.value.file.length = page.idDeceasedFile.length\npage.idDeceased.value.file.chunkSize = page.idDeceasedFile.chunkSize",
        "functionName": "deceasedIdFileInForm",
        "category": "Function",
        "x": 825,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_jffnr601fhHLO0XP",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_jffnr601fhHLO0XP",
        "category": "General",
        "x": 365,
        "y": 620,
        "wires": [
            [
                "sd_GLrgtD3yeIvXLGwW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_GLrgtD3yeIvXLGwW",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_GLrgtD3yeIvXLGwW",
        "category": "Function",
        "x": 465,
        "y": 620,
        "wires": [
            [
                "sd_FlDtETcu2ZQPzsxt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_FlDtETcu2ZQPzsxt",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_FlDtETcu2ZQPzsxt",
        "category": "HTTP",
        "x": 565,
        "y": 620,
        "wires": [
            [
                "sd_7OcEDNg4nVFoFeIL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_RJSFcX8NqqDom8gU",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend3",
        "category": "General",
        "x": 265,
        "y": 620,
        "wires": [
            [
                "sd_jffnr601fhHLO0XP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_7OcEDNg4nVFoFeIL",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"deathCetificatify\",JSON.stringify(bh.result))\nthis.getFromBackend3()",
        "functionName": "sd_7OcEDNg4nVFoFeIL",
        "category": "Function",
        "x": 665,
        "y": 620,
        "wires": [
            [
                "sd_BzWZskEmqd87Usvw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_BzWZskEmqd87Usvw",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Death Cetificatify Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_BzWZskEmqd87Usvw",
        "category": "General",
        "x": 765,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Yt2V8geXkD4yLN2r",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend3",
        "category": "General",
        "x": 445,
        "y": 700,
        "wires": [
            [
                "sd_tYyqa5w3E6nFbTzM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_tYyqa5w3E6nFbTzM",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "deathCetificatify"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "deathCetificatifyFile"
        },
        "functionName": "sd_tYyqa5w3E6nFbTzM",
        "category": "Storage",
        "x": 525,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_l0PwLZ4bFeL9BQf5",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Death Cetificatify file in form",
        "script": "page.deathCetificatify.value.file._id = page.deathCetificatifyFile._id\npage.deathCetificatify.value.file.filename = page.deathCetificatifyFile.filename\npage.deathCetificatify.value.file.length = page.deathCetificatifyFile.length\npage.deathCetificatify.value.file.chunkSize = page.deathCetificatifyFile.chunkSize",
        "functionName": "deathCetificatifyFileInForm",
        "category": "Function",
        "x": 820,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_zhKlkYUSe5CBZxj5",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zhKlkYUSe5CBZxj5",
        "category": "General",
        "x": 325,
        "y": 820,
        "wires": [
            [
                "sd_LiY1hThPamh9WiR1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LiY1hThPamh9WiR1",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_LiY1hThPamh9WiR1",
        "category": "Function",
        "x": 425,
        "y": 820,
        "wires": [
            [
                "sd_95lPDlxlAcLOMpzB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_95lPDlxlAcLOMpzB",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_95lPDlxlAcLOMpzB",
        "category": "HTTP",
        "x": 525,
        "y": 820,
        "wires": [
            [
                "sd_5PNk7v84esOuVLao"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_wSC63hskqYtAcCtA",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend4",
        "category": "General",
        "x": 225,
        "y": 820,
        "wires": [
            [
                "sd_zhKlkYUSe5CBZxj5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_5PNk7v84esOuVLao",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"bi1663\",JSON.stringify(bh.result))\nthis.getFromBackend4()",
        "functionName": "sd_5PNk7v84esOuVLao",
        "category": "Function",
        "x": 625,
        "y": 820,
        "wires": [
            [
                "sd_swXrcG28dC5Nd7BU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_swXrcG28dC5Nd7BU",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_swXrcG28dC5Nd7BU",
        "category": "General",
        "x": 725,
        "y": 820,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_00HKennhYNyoALGA",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend4",
        "category": "General",
        "x": 465,
        "y": 940,
        "wires": [
            [
                "sd_DGCheBYkhJP8zW8Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_DGCheBYkhJP8zW8Q",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bi1663"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bi1663File"
        },
        "functionName": "sd_DGCheBYkhJP8zW8Q",
        "category": "Storage",
        "x": 545,
        "y": 940,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_2yy9usujXE5O7qwz",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bi1663 file in form",
        "script": "page.bi1663.value.file._id = page.bi1663File._id\npage.bi1663.value.file.filename = page.bi1663File.filename\npage.bi1663.value.file.length = page.bi1663File.length\npage.bi1663.value.file.chunkSize = page.bi1663File.chunkSize",
        "functionName": "bi1663FileInForm",
        "category": "Function",
        "x": 720,
        "y": 940,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_qfp37w3njmYTT5Af",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_qfp37w3njmYTT5Af",
        "category": "General",
        "x": 345,
        "y": 1040,
        "wires": [
            [
                "sd_0OAlFItkLPiY1Swy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_0OAlFItkLPiY1Swy",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_0OAlFItkLPiY1Swy",
        "category": "Function",
        "x": 445,
        "y": 1040,
        "wires": [
            [
                "sd_C7aNRl1zTiQotpoI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_C7aNRl1zTiQotpoI",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_C7aNRl1zTiQotpoI",
        "category": "HTTP",
        "x": 545,
        "y": 1040,
        "wires": [
            [
                "sd_ASlXUnbVzsb7BCdM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_mEufV89LRcfYkTXY",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend5",
        "category": "General",
        "x": 245,
        "y": 1040,
        "wires": [
            [
                "sd_qfp37w3njmYTT5Af"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_ASlXUnbVzsb7BCdM",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem(\"bankDetails\",JSON.stringify(bh.result))\nthis.getFromBackend5()",
        "functionName": "sd_ASlXUnbVzsb7BCdM",
        "category": "Function",
        "x": 645,
        "y": 1040,
        "wires": [
            [
                "sd_SjfZLro6q7uB6B9X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_SjfZLro6q7uB6B9X",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_SjfZLro6q7uB6B9X",
        "category": "General",
        "x": 745,
        "y": 1040,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_oXM8QNYpWlsuUEN9",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend5",
        "category": "General",
        "x": 465,
        "y": 1160,
        "wires": [
            [
                "sd_xXk9gr1CsBwveIKY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_xXk9gr1CsBwveIKY",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bankDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bankDetailsFile"
        },
        "functionName": "sd_xXk9gr1CsBwveIKY",
        "category": "Storage",
        "x": 605,
        "y": 1160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_TZqUfAyWejyLJ4LB",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "bankDetails file in form",
        "script": "page.bankDetails.value.file._id = page.bankDetailsFile._id\npage.bankDetails.value.file.filename = page.bankDetailsFile.filename\npage.bankDetails.value.file.length = page.bankDetailsFile.length\npage.bankDetails.value.file.chunkSize = page.bankDetailsFile.chunkSize",
        "functionName": "bankDetailsFileInForm",
        "category": "Function",
        "x": 740,
        "y": 1160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    }
]
