designs/pages/Client/client_claim_form.json
[
    {
        "id": "sd_w93AbqYMQ4LWwqYF",
        "type": "tab",
        "createdDate": "2024-09-03T11:00:06.172Z",
        "label": "client_claim_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_PiQavN0P6CM1ZSuF",
        "type": "OnInit",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PiQavN0P6CM1ZSuF",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_qNp8Tafga8zcs2Tx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_37zMadhqe6cOjrj2",
        "type": "PageVariables",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "policyClaimsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policy",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyholder",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "beneficiary",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "desname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "loading",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "uploadedFile1",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "id",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "showId",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showIddes",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "iddes",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "deathCetificatify",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showbi1663",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "bi1663",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showbankDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "bankDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "mes",
                "typedIpValue": {
                    "type": "str",
                    "value": "READING DOCUMENT"
                }
            },
            {
                "textIp": "fileURL",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "idclaimerfilename",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_37zMadhqe6cOjrj2",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_n3Yjb7EcHOgLqxD2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Vil0sp4ZguItd5eA",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "forms",
        "script": "// decesed details\npage.deceased = new FormGroup({\n      firstName :new FormControl(page.name),\n      lastName: new FormControl( ''),\n      idNum :new FormControl( ''),\n       gender: new FormControl(''),\n        dateOfDeath:new FormControl( '',[Validators.required])\n    })\n   \n    //claims form with all information including claimer details\npage.policyClaimsForm = new FormGroup({\n    firstName :new FormControl(page.user.firstName),\n    lastName:new FormControl(page.user.lastName),\n    idNum:new FormControl( page.user.idNumber),\n    gender:new FormControl( page.user.gender),\n    packageType : new FormControl( page.user.packageType),\n    payoutAmount :new FormControl( ''),\n    deceased: page.deceased, \n    deceased2 :new FormControl(''),\n    idClaimer2:new FormControl(''),\n     idDeceased2:new FormControl(''),\n     bi16632:new FormControl(''),\n    deathCetificatify2:new FormControl(''),\n     bankDetails2:new FormControl(''),\n     status:new FormControl('pending'),\n     depsId : new FormControl ()\n })\n\n page.date = new Date()\n\n   console.log(\"page.deceased\", page.deceased)         \n            \n              \nbh.url = page.ssdUrl + 'get-users'",
        "functionName": "forms",
        "category": "Function",
        "x": 865,
        "y": 40,
        "wires": [
            [
                "sd_eeDqEW48y1aYDdzq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_qNp8Tafga8zcs2Tx",
        "type": "UseDependency",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_qNp8Tafga8zcs2Tx",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_37zMadhqe6cOjrj2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_zPjBtt8sz0eTZp6R",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zPjBtt8sz0eTZp6R",
        "category": "General",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_LyXmTCpxaT7G7Ddd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_eeDqEW48y1aYDdzq",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_eeDqEW48y1aYDdzq",
        "category": "HTTP",
        "x": 945,
        "y": 40,
        "wires": [
            [
                "sd_DGtQxckWxt0Ra1cO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n35N3qgHD6dTmjSZ",
        "type": "Log",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.clients",
        "functionName": "sd_n35N3qgHD6dTmjSZ",
        "category": "General",
        "x": 1125,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "clients",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_DGtQxckWxt0Ra1cO",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.policy = page.policyno\npage.clients = page.result.filter((item) => item.role === 'client');\npage.claim = page.clients. find(client =>client.policyNumber == page.policy)\nconsole.log(\"claimer\",page.claim)",
        "functionName": "sd_DGtQxckWxt0Ra1cO",
        "category": "Function",
        "x": 1040,
        "y": 40,
        "wires": [
            [
                "sd_n35N3qgHD6dTmjSZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n3ZmIInEaqwuOf5e",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.fileURL = 'http://localhost:8081/api/download/'\n// console.log(page.newClient[0].policyNumber)\n\n page.policyno = page.user.policyNumber\nconsole.log(\"users\",page.user)",
        "functionName": "sd_n3ZmIInEaqwuOf5e",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_zPjBtt8sz0eTZp6R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n3Yjb7EcHOgLqxD2",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_n3Yjb7EcHOgLqxD2",
        "category": "Storage",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_n3ZmIInEaqwuOf5e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LyXmTCpxaT7G7Ddd",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "ben and depen array for selectors",
        "script": "\n// Dependency\npage.deparray = page.user.dependencies\n// selector deps list\npage.ids = [\n   {value: page.deparray[0], viewValue: page.deparray[0]?.idNumber},\n   {value: page.deparray[1], viewValue: page.deparray[1]?.idNumber},\n   {value: page.deparray[2], viewValue: page.deparray[2]?.idNumber}\n];\n\n\n",
        "functionName": "benAndDepenArrayForSelectors",
        "category": "Function",
        "x": 745,
        "y": 40,
        "wires": [
            [
                "sd_Vil0sp4ZguItd5eA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_eaMbugEjSr6BdxcD",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload1",
        "category": "General",
        "x": 85,
        "y": 360,
        "wires": [
            [
                "sd_PxnKHFtUiUE6Ezgr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_PxnKHFtUiUE6Ezgr",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload1 = document.getElementById('upload1') as HTMLInputElement;\n  if (bh.upload1) {\n   bh.upload1.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file =  input.files[0]\n       page.uploadedFile1 = new FormData()\n       page.uploadedFile1.append('file', page.file)\n       page.id = page.file.name\n       page.showId = true\n    \n\n       this.goToBackend1()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_PxnKHFtUiUE6Ezgr",
        "category": "Function",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_5khnoqzpKbg2Y0rb",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_5khnoqzpKbg2Y0rb",
        "category": "General",
        "x": 145,
        "y": 280,
        "wires": [
            [
                "sd_p4B7idTFiqPSmL4H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_p4B7idTFiqPSmL4H",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-id'\npage.loading = true\n\n",
        "functionName": "sd_p4B7idTFiqPSmL4H",
        "category": "Function",
        "x": 245,
        "y": 280,
        "wires": [
            [
                "sd_qE3ziIXUvXb5u3JI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_qE3ziIXUvXb5u3JI",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_qE3ziIXUvXb5u3JI",
        "category": "HTTP",
        "x": 345,
        "y": 280,
        "wires": [
            [
                "sd_Ne8LGVdDti9HKdaS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_XXsnkh2tsBkA97A5",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend1",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_5khnoqzpKbg2Y0rb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_YWEx409WHZc5ptpT",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_YWEx409WHZc5ptpT",
        "category": "General",
        "x": 605,
        "y": 320,
        "wires": [
            [
                "sd_40HsiI8hJlXS22BP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Lzibvu44Pm3wNe3u",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend1",
        "category": "General",
        "x": 265,
        "y": 360,
        "wires": [
            [
                "sd_3oPD9URBTiO6W2ii"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_3oPD9URBTiO6W2ii",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idClaimer"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idclaimerFile"
        },
        "functionName": "sd_3oPD9URBTiO6W2ii",
        "category": "Storage",
        "x": 405,
        "y": 360,
        "wires": [
            [
                "sd_PbHhgGm66YTklFyZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_6wYXUnDjB7qDVWsp",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bankDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bankDetailsFile"
        },
        "functionName": "sd_6wYXUnDjB7qDVWsp",
        "category": "Storage",
        "x": 445,
        "y": 1180,
        "wires": [
            [
                "sd_UwjbGxNF17NFOfnQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_X2tvjc7ajLK5WAAA",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 165,
        "y": 1300,
        "wires": [
            [
                "sd_3VDakwnzEcR5Oup5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_3VDakwnzEcR5Oup5",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrl + 'add-claim'\nconsole.log(\"The val\",page.policyClaimsForm.value)\nbh.body = page.policyClaimsForm.value\nbh.body['policyNo']=  page.policyno\nbh.body.claimNumber = `CN-${ page.policyno}`\n\ndelete bh.body.deathCetificatify2\ndelete bh.body.deceased2\ndelete bh.body.idClaimer2\ndelete bh.body.idDeceased2\ndelete bh.body.bi16632\ndelete bh.body.bankDetails2\ndelete bh.body.depsId\nconsole.log(\"This is bh body\", bh.body)",
        "functionName": "sd_3VDakwnzEcR5Oup5",
        "category": "Function",
        "x": 245,
        "y": 1300,
        "wires": [
            [
                "sd_W355p2xBTUlYo2Vf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_fusyotj2BipM6rO4",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_fusyotj2BipM6rO4",
        "category": "HTTP",
        "x": 505,
        "y": 1300,
        "wires": [
            [
                "sd_ywG8tkpWlVm7FdHY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ywG8tkpWlVm7FdHY",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Claim Added"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ywG8tkpWlVm7FdHY",
        "category": "General",
        "x": 605,
        "y": 1300,
        "wires": [
            [
                "sd_MRDIkFrFByrv0Qxz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_MRDIkFrFByrv0Qxz",
        "type": "Navigation",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/client_claims",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_MRDIkFrFByrv0Qxz",
        "category": "Navigation",
        "x": 725,
        "y": 1300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_W355p2xBTUlYo2Vf",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "file in form",
        "script": "\npage.policyClaimsForm.value['ID'] = page.id\npage.policyClaimsForm.value['IDfile'] = page.idclaimerfilename\npage.policyClaimsForm.value['IDDeceased'] = page.iddes\npage.policyClaimsForm.value['IDDeceasedfile'] = page.idDeceasedfilename\npage.policyClaimsForm.value['DeathCertificate'] = page.deathCetificatify\npage.policyClaimsForm.value['DeathCertificatefile'] = page.deathCetificatifyfilename\npage.policyClaimsForm.value['bi1663'] =  page.bi1663\npage.policyClaimsForm.value['bi1663file'] =  page.bi1663filename\npage.policyClaimsForm.value['bankDetails'] = page.bankDetails\npage.policyClaimsForm.value['bankDetailsfile'] = page.bankDetailsfilename\n\nconsole.log(\"The val\",page.policyClaimsForm.value)",
        "functionName": "fileInForm",
        "category": "Function",
        "x": 345,
        "y": 1300,
        "wires": [
            [
                "sd_fusyotj2BipM6rO4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_j83i6QAg4YSl7WWy",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "populate",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "populate",
        "category": "General",
        "x": 1265,
        "y": 40,
        "wires": [
            [
                "sd_UkF2eDdSpGZvRsan"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_UkF2eDdSpGZvRsan",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.deceased.patchValue ({\n      firstName :page.policyClaimsForm.value.depsId.firstName,\n      lastName:  page.policyClaimsForm.value.depsId.lastName,\n      idNum :page.policyClaimsForm.value.depsId.idNumber,\n       gender:page.policyClaimsForm.value.depsId.gender ,\n       \n    })",
        "functionName": "sd_UkF2eDdSpGZvRsan",
        "category": "Function",
        "x": 1485,
        "y": 60,
        "wires": [
            [
                "sd_DbkzD1Oop0ECjWgI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_DbkzD1Oop0ECjWgI",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "   \n page.year = parseInt(new Date().getFullYear().toString().slice(-2))\n   page.birthyear = parseInt(\n        page.policyClaimsForm.value.depsId.idNumber.slice(0, 2)\n      );\n      page.years = page.birthyear - page.year;\n   \n       if (page.user.packageType == 'Package 1') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 1500';\n        } else {\n          page.payamount = 'R 3000';\n        }\n      }\n      if (page.user.packageType == 'Package 2') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 2500';\n        } else {\n          page.payamount = 'R 5000';\n        }\n      }\n      if (page.user.packageType == 'Package 3') {\n        if (page.years >= -21 && page.years <= 21) {\n          page.payamount = 'R 4000';\n        } else {\n          page.payamount = 'R 10000';\n        }\n      }\n      page.policyClaimsForm.patchValue({\n        payoutAmount: page.payamount,\n      });",
        "functionName": "sd_DbkzD1Oop0ECjWgI",
        "category": "Function",
        "x": 1305,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LP359cqvRdXBlyZJ",
        "type": "PageSwitch",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_LP359cqvRdXBlyZJ",
        "category": "Function",
        "x": 525,
        "y": 280,
        "wires": [
            [
                "sd_JrbSwQTnHKOe06CO"
            ],
            [
                "sd_YWEx409WHZc5ptpT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_5y2VR92b81XEz9tD",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_5y2VR92b81XEz9tD",
        "category": "HTTP",
        "x": 785,
        "y": 240,
        "wires": [
            [
                "sd_nUpeEDzTzWMcBbWd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_l3dQSb0lFtyKLJ9h",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_l3dQSb0lFtyKLJ9h",
        "category": "General",
        "x": 1065,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_nUpeEDzTzWMcBbWd",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"idClaimer\",JSON.stringify(page.res))\nthis.getFromBackend1()",
        "functionName": "sd_nUpeEDzTzWMcBbWd",
        "category": "Function",
        "x": 885,
        "y": 240,
        "wires": [
            [
                "sd_l3dQSb0lFtyKLJ9h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_lNRBNADEwAftcDMX",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n\n",
        "functionName": "sd_lNRBNADEwAftcDMX",
        "category": "Function",
        "x": 685,
        "y": 240,
        "wires": [
            [
                "sd_5y2VR92b81XEz9tD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Ne8LGVdDti9HKdaS",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_Ne8LGVdDti9HKdaS",
        "category": "Function",
        "x": 445,
        "y": 280,
        "wires": [
            [
                "sd_LP359cqvRdXBlyZJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_JrbSwQTnHKOe06CO",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid ID"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_JrbSwQTnHKOe06CO",
        "category": "General",
        "x": 605,
        "y": 240,
        "wires": [
            [
                "sd_lNRBNADEwAftcDMX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_40HsiI8hJlXS22BP",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n page.showId = false",
        "functionName": "sd_40HsiI8hJlXS22BP",
        "category": "Function",
        "x": 685,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_pnK15mb77etqH7CA",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload2",
        "category": "General",
        "x": 85,
        "y": 540,
        "wires": [
            [
                "sd_73ee5xtOkNsq3vEP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_73ee5xtOkNsq3vEP",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload2 = document.getElementById('upload2') as HTMLInputElement;\n  if (bh.upload2) {\n   bh.upload2.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file =  input.files[0]\n       page.uploadedFile2 = new FormData()\n       page.uploadedFile2.append('file', page.file)\n       page.iddes = page.file.name\n       page.showIddes = true\n    \n\n       this.goToBackend2()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_73ee5xtOkNsq3vEP",
        "category": "Function",
        "x": 180,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_wewTvU6WhQBBHSBk",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_wewTvU6WhQBBHSBk",
        "category": "General",
        "x": 145,
        "y": 460,
        "wires": [
            [
                "sd_mfoU0xKdTFiLcrfz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_mfoU0xKdTFiLcrfz",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl +'verify-id'\npage.loading = true\n\n",
        "functionName": "sd_mfoU0xKdTFiLcrfz",
        "category": "Function",
        "x": 245,
        "y": 460,
        "wires": [
            [
                "sd_LZJJZ6TTNFPHtebO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_LZJJZ6TTNFPHtebO",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_LZJJZ6TTNFPHtebO",
        "category": "HTTP",
        "x": 345,
        "y": 460,
        "wires": [
            [
                "sd_tsW8lZBnVEbfRsXw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_0gyGvv2o2gESE0mo",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend2",
        "category": "General",
        "x": 45,
        "y": 460,
        "wires": [
            [
                "sd_wewTvU6WhQBBHSBk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_nfyEelLSfvwLBxfj",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_nfyEelLSfvwLBxfj",
        "category": "General",
        "x": 605,
        "y": 500,
        "wires": [
            [
                "sd_4EE4NvtdfAAqABCT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_4lucjcs88Ubhv4yg",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend2",
        "category": "General",
        "x": 265,
        "y": 540,
        "wires": [
            [
                "sd_WyVw5UYJyDWtPxLj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_WyVw5UYJyDWtPxLj",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "idDeceased"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "idDeceasedFile"
        },
        "functionName": "sd_WyVw5UYJyDWtPxLj",
        "category": "Storage",
        "x": 405,
        "y": 540,
        "wires": [
            [
                "sd_44ZVLUe7U6XdYr4k"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_MvsjtWPguAm4UPCg",
        "type": "PageSwitch",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_MvsjtWPguAm4UPCg",
        "category": "Function",
        "x": 525,
        "y": 460,
        "wires": [
            [
                "sd_s0pOGCbxS3iDT0HA"
            ],
            [
                "sd_nfyEelLSfvwLBxfj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_18W5H0dOnfGzmtRm",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_18W5H0dOnfGzmtRm",
        "category": "HTTP",
        "x": 785,
        "y": 420,
        "wires": [
            [
                "sd_Uu3tgDJTOP1kdw5g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_3HJsYol77bzL8LeN",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_3HJsYol77bzL8LeN",
        "category": "General",
        "x": 1065,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Uu3tgDJTOP1kdw5g",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"idDeceased\",JSON.stringify( page.res))\nthis.getFromBackend2()",
        "functionName": "sd_Uu3tgDJTOP1kdw5g",
        "category": "Function",
        "x": 885,
        "y": 420,
        "wires": [
            [
                "sd_3HJsYol77bzL8LeN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_cFaCMy4DZV75DBan",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_cFaCMy4DZV75DBan",
        "category": "Function",
        "x": 685,
        "y": 420,
        "wires": [
            [
                "sd_18W5H0dOnfGzmtRm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_tsW8lZBnVEbfRsXw",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_tsW8lZBnVEbfRsXw",
        "category": "Function",
        "x": 445,
        "y": 460,
        "wires": [
            [
                "sd_MvsjtWPguAm4UPCg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_s0pOGCbxS3iDT0HA",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_s0pOGCbxS3iDT0HA",
        "category": "General",
        "x": 605,
        "y": 420,
        "wires": [
            [
                "sd_cFaCMy4DZV75DBan"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_4EE4NvtdfAAqABCT",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\npage.showIddes = false",
        "functionName": "sd_4EE4NvtdfAAqABCT",
        "category": "Function",
        "x": 685,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_zmI786a5vGe11uPb",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload3",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload3",
        "category": "General",
        "x": 105,
        "y": 740,
        "wires": [
            [
                "sd_nxwEEqrPL0IsvOXM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_nxwEEqrPL0IsvOXM",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload3 = document.getElementById('upload3') as HTMLInputElement;\n  if (bh.upload3) {\n   bh.upload3.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file3 =  input.files[0]\n       page.uploadedFile3 = new FormData()\n       page.uploadedFile3.append('file', page.file3)\n       page.deathCetificatify = page.file3.name\n       page.showdeathCetificatify = true\n    \n\n       this.goToBackend3()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_nxwEEqrPL0IsvOXM",
        "category": "Function",
        "x": 200,
        "y": 740,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Q96oFHFmSpuBzor1",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Q96oFHFmSpuBzor1",
        "category": "General",
        "x": 165,
        "y": 660,
        "wires": [
            [
                "sd_2khXacsujptwBtLe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_2khXacsujptwBtLe",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-death-certificate'\npage.loading = true\n\n",
        "functionName": "sd_2khXacsujptwBtLe",
        "category": "Function",
        "x": 265,
        "y": 660,
        "wires": [
            [
                "sd_o6UVMiTVHBuHN4aM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_o6UVMiTVHBuHN4aM",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile3",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile3"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_o6UVMiTVHBuHN4aM",
        "category": "HTTP",
        "x": 365,
        "y": 660,
        "wires": [
            [
                "sd_ljD3WlkR4nR0nJTg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Qec5RH4oOdWPuIV7",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend3",
        "category": "General",
        "x": 65,
        "y": 660,
        "wires": [
            [
                "sd_Q96oFHFmSpuBzor1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_smT3a7j6jt8yaBiH",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_smT3a7j6jt8yaBiH",
        "category": "General",
        "x": 625,
        "y": 700,
        "wires": [
            [
                "sd_R0TmSkOCt6KeBOzq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_KLaNrFQDEnF8MX4J",
        "type": "PageSwitch",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_KLaNrFQDEnF8MX4J",
        "category": "Function",
        "x": 545,
        "y": 660,
        "wires": [
            [
                "sd_cD4R2NV3b0OC28Ll"
            ],
            [
                "sd_smT3a7j6jt8yaBiH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_FlZAGikPa1MP0lYo",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile3",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile3"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_FlZAGikPa1MP0lYo",
        "category": "HTTP",
        "x": 805,
        "y": 620,
        "wires": [
            [
                "sd_WuwUSZUIW6SHhWhX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_uaJ6miQN25EAdeUI",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Death Certificate has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_uaJ6miQN25EAdeUI",
        "category": "General",
        "x": 1085,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_WuwUSZUIW6SHhWhX",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"deathCetificatify\",JSON.stringify(page.res))\nthis.getFromBackend3()",
        "functionName": "sd_WuwUSZUIW6SHhWhX",
        "category": "Function",
        "x": 905,
        "y": 620,
        "wires": [
            [
                "sd_uaJ6miQN25EAdeUI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_z4s2zTiMY3XzjD0p",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_z4s2zTiMY3XzjD0p",
        "category": "Function",
        "x": 705,
        "y": 620,
        "wires": [
            [
                "sd_FlZAGikPa1MP0lYo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_ljD3WlkR4nR0nJTg",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_ljD3WlkR4nR0nJTg",
        "category": "Function",
        "x": 465,
        "y": 660,
        "wires": [
            [
                "sd_KLaNrFQDEnF8MX4J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_cD4R2NV3b0OC28Ll",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_cD4R2NV3b0OC28Ll",
        "category": "General",
        "x": 625,
        "y": 620,
        "wires": [
            [
                "sd_z4s2zTiMY3XzjD0p"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_R0TmSkOCt6KeBOzq",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\npage.showdeathCetificatify = false",
        "functionName": "sd_R0TmSkOCt6KeBOzq",
        "category": "Function",
        "x": 705,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_RX8XtGMlBpC2EQ6l",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend3",
        "category": "General",
        "x": 285,
        "y": 740,
        "wires": [
            [
                "sd_982Nnir9Q9jmnsmb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_wPEJ9ypn913YDfdT",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "bi1663"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "bi1663File"
        },
        "functionName": "sd_wPEJ9ypn913YDfdT",
        "category": "Storage",
        "x": 365,
        "y": 960,
        "wires": [
            [
                "sd_bMD9PJo4pOaPvjCY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_lTrUptBcNX171K8e",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload4",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload4",
        "category": "General",
        "x": 105,
        "y": 960,
        "wires": [
            [
                "sd_3nxucOPj5bOTxXO3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_3nxucOPj5bOTxXO3",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload4 = document.getElementById('upload4') as HTMLInputElement;\n  if (bh.upload4) {\n   bh.upload4.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file4 =  input.files[0]\n       page.uploadedFile4 = new FormData()\n       page.uploadedFile4.append('file', page.file4)\n       page.bi1663 = page.file4.name\n       page.showbi1663= true\n    \n\n       this.goToBackend4()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_3nxucOPj5bOTxXO3",
        "category": "Function",
        "x": 200,
        "y": 960,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_VnNfCHQyLJ455x5S",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_VnNfCHQyLJ455x5S",
        "category": "General",
        "x": 165,
        "y": 880,
        "wires": [
            [
                "sd_sjdHcjXEEIYbkjVm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_sjdHcjXEEIYbkjVm",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-doc'\npage.loading = true\n\n",
        "functionName": "sd_sjdHcjXEEIYbkjVm",
        "category": "Function",
        "x": 265,
        "y": 880,
        "wires": [
            [
                "sd_2KaUyUcFhEDpNac1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_2KaUyUcFhEDpNac1",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile4",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile4"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_2KaUyUcFhEDpNac1",
        "category": "HTTP",
        "x": 365,
        "y": 880,
        "wires": [
            [
                "sd_QrFOU4XrjWDme9mt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_o8djo4nrd8QAXzN6",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend4",
        "category": "General",
        "x": 65,
        "y": 880,
        "wires": [
            [
                "sd_VnNfCHQyLJ455x5S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_w2g2tTfbmqK2wPyA",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_w2g2tTfbmqK2wPyA",
        "category": "General",
        "x": 625,
        "y": 920,
        "wires": [
            [
                "sd_WsQWFkZpYTmyduU5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_p8Z6QmT4kLvX2v3l",
        "type": "PageSwitch",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_p8Z6QmT4kLvX2v3l",
        "category": "Function",
        "x": 545,
        "y": 880,
        "wires": [
            [
                "sd_eYs4cYC8qnGFQysa"
            ],
            [
                "sd_w2g2tTfbmqK2wPyA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_5OwvkSRVRODJRV33",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile4",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile4"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_5OwvkSRVRODJRV33",
        "category": "HTTP",
        "x": 805,
        "y": 840,
        "wires": [
            [
                "sd_uQ2ta4AT7dJGjfF6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_WamSMfSAwtQ40Qcm",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "bi1663 has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_WamSMfSAwtQ40Qcm",
        "category": "General",
        "x": 1085,
        "y": 840,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_uQ2ta4AT7dJGjfF6",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\nsessionStorage.setItem(\"bi1663\",JSON.stringify(page.res))\nthis.getFromBackend4()",
        "functionName": "sd_uQ2ta4AT7dJGjfF6",
        "category": "Function",
        "x": 905,
        "y": 840,
        "wires": [
            [
                "sd_WamSMfSAwtQ40Qcm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_P1x5hwR7zK2XSXhe",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_P1x5hwR7zK2XSXhe",
        "category": "Function",
        "x": 705,
        "y": 840,
        "wires": [
            [
                "sd_5OwvkSRVRODJRV33"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_QrFOU4XrjWDme9mt",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true\n",
        "functionName": "sd_QrFOU4XrjWDme9mt",
        "category": "Function",
        "x": 465,
        "y": 880,
        "wires": [
            [
                "sd_p8Z6QmT4kLvX2v3l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_eYs4cYC8qnGFQysa",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_eYs4cYC8qnGFQysa",
        "category": "General",
        "x": 625,
        "y": 840,
        "wires": [
            [
                "sd_P1x5hwR7zK2XSXhe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_WsQWFkZpYTmyduU5",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n page.showbi1663= false",
        "functionName": "sd_WsQWFkZpYTmyduU5",
        "category": "Function",
        "x": 705,
        "y": 920,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_B5AvWxdnrvMX1dam",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend4",
        "category": "General",
        "x": 285,
        "y": 960,
        "wires": [
            [
                "sd_wPEJ9ypn913YDfdT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_982Nnir9Q9jmnsmb",
        "type": "Storage",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "deathCetificatify"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "deathCetificatifyFile"
        },
        "functionName": "sd_982Nnir9Q9jmnsmb",
        "category": "Storage",
        "x": 385,
        "y": 740,
        "wires": [
            [
                "sd_soByUd0NmBNgnhsu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Ik2gtOwWj2LZYzQp",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload5",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload5",
        "category": "General",
        "x": 125,
        "y": 1180,
        "wires": [
            [
                "sd_zzVnICILwtHgCSRq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_6sc5R5XAOkzwnQL4",
        "type": "Environment",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_6sc5R5XAOkzwnQL4",
        "category": "General",
        "x": 185,
        "y": 1100,
        "wires": [
            [
                "sd_8GPDFmqkBu3Gj4Jy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_8GPDFmqkBu3Gj4Jy",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'verify-bank-statement'\npage.loading = true\n\n",
        "functionName": "sd_8GPDFmqkBu3Gj4Jy",
        "category": "Function",
        "x": 285,
        "y": 1100,
        "wires": [
            [
                "sd_jhzXDCIg5uWpdK5F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_jhzXDCIg5uWpdK5F",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile5",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile5"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_jhzXDCIg5uWpdK5F",
        "category": "HTTP",
        "x": 385,
        "y": 1100,
        "wires": [
            [
                "sd_aeaV09qHXYT8zfS1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_7D1Kba18fzfeup7M",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend5",
        "category": "General",
        "x": 85,
        "y": 1100,
        "wires": [
            [
                "sd_6sc5R5XAOkzwnQL4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_4vRz6aQfuFLSY8Lm",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The document uploaded is Invalid"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4vRz6aQfuFLSY8Lm",
        "category": "General",
        "x": 645,
        "y": 1140,
        "wires": [
            [
                "sd_n8N1PrmtcAhunlAo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_dknOnK0KaoTtUxXE",
        "type": "PageSwitch",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Valid Form",
                "vt": "str",
                "gv": "\"Valid Form\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_dknOnK0KaoTtUxXE",
        "category": "Function",
        "x": 565,
        "y": 1100,
        "wires": [
            [
                "sd_J4rvyg7A7tCs8Xee"
            ],
            [
                "sd_4vRz6aQfuFLSY8Lm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_qcIw5zhvQL6QMZDv",
        "type": "HttpRequest",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile5",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile5"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_qcIw5zhvQL6QMZDv",
        "category": "HTTP",
        "x": 825,
        "y": 1060,
        "wires": [
            [
                "sd_aI7RSXUCxplR25t0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_NtulvwwJ2kNpWD82",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Bank Details has been Uploaded"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_NtulvwwJ2kNpWD82",
        "category": "General",
        "x": 1105,
        "y": 1060,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_aI7RSXUCxplR25t0",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"File uploded\", page.res)\npage.mes= \"READING DOCUMENT\"\npage.loading = false\nsessionStorage.setItem(\"bankDetails\",JSON.stringify( page.res))\nthis.getFromBackend5()\npage.loading = false",
        "functionName": "sd_aI7RSXUCxplR25t0",
        "category": "Function",
        "x": 925,
        "y": 1060,
        "wires": [
            [
                "sd_NtulvwwJ2kNpWD82"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_t6r7SrhN7R7PePIS",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconsole.log(\"response\",bh.result)\nbh.url = page.ssdUrl + 'upload'\npage.loading = true\npage.mes = \"UPLOADING DOCUMENT\"\n",
        "functionName": "sd_t6r7SrhN7R7PePIS",
        "category": "Function",
        "x": 725,
        "y": 1060,
        "wires": [
            [
                "sd_qcIw5zhvQL6QMZDv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_aeaV09qHXYT8zfS1",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = true",
        "functionName": "sd_aeaV09qHXYT8zfS1",
        "category": "Function",
        "x": 485,
        "y": 1100,
        "wires": [
            [
                "sd_dknOnK0KaoTtUxXE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_J4rvyg7A7tCs8Xee",
        "type": "SnackBar",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Valid Document"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_J4rvyg7A7tCs8Xee",
        "category": "General",
        "x": 645,
        "y": 1060,
        "wires": [
            [
                "sd_t6r7SrhN7R7PePIS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_n8N1PrmtcAhunlAo",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\npage.showbankDetails= false",
        "functionName": "sd_n8N1PrmtcAhunlAo",
        "category": "Function",
        "x": 725,
        "y": 1140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_Ql7WKBKTcyqku29v",
        "type": "PageStart",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend5",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend5",
        "category": "General",
        "x": 305,
        "y": 1180,
        "wires": [
            [
                "sd_6wYXUnDjB7qDVWsp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "client_claim_formComponent"
    },
    {
        "id": "sd_zzVnICILwtHgCSRq",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload5 = document.getElementById('upload5') as HTMLInputElement;\n  if (bh.upload5) {\n   bh.upload5.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       page.file5 =  input.files[0]\n       page.uploadedFile5 = new FormData()\n       page.uploadedFile5.append('file', page.file5)\n       page.bankDetails = page.file5.name\n       page.showbankDetails= true\n    \n\n       this.goToBackend5()\n    }\n    \n  })\n  }\n",
        "functionName": "sd_zzVnICILwtHgCSRq",
        "category": "Function",
        "x": 220,
        "y": 1180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_PbHhgGm66YTklFyZ",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.idclaimerfilename = page.idclaimerFile.filename",
        "functionName": "sd_PbHhgGm66YTklFyZ",
        "category": "Function",
        "x": 520,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_44ZVLUe7U6XdYr4k",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.idDeceasedfilename = page.idDeceasedFile.filename",
        "functionName": "sd_44ZVLUe7U6XdYr4k",
        "category": "Function",
        "x": 485,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_soByUd0NmBNgnhsu",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.deathCetificatifyfilename= page.deathCetificatifyFile.filename",
        "functionName": "sd_soByUd0NmBNgnhsu",
        "category": "Function",
        "x": 465,
        "y": 740,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_bMD9PJo4pOaPvjCY",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.bi1663filename = page.bi1663File.filename",
        "functionName": "sd_bMD9PJo4pOaPvjCY",
        "category": "Function",
        "x": 465,
        "y": 960,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    },
    {
        "id": "sd_UwjbGxNF17NFOfnQ",
        "type": "Script",
        "z": "sd_w93AbqYMQ4LWwqYF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.bankDetailsfilename = page.bankDetailsFile.filename",
        "functionName": "sd_UwjbGxNF17NFOfnQ",
        "category": "Function",
        "x": 535.5555419921875,
        "y": 1200.89111328125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "client_claim_formComponent",
        "generated": true
    }
]
