designs/pages/Client/edit_profile.json
[
    {
        "id": "sd_VenzcweTArpHLw1P",
        "type": "tab",
        "createdDate": "2024-09-08T22:33:33.282Z",
        "label": "edit_profile",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_JgyRBkRN3y1TgJS6",
        "type": "OnInit",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_JgyRBkRN3y1TgJS6",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_pLrJikf1GfcXcIfw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_UHAloZdWiiqtiSEV",
        "type": "PageVariables",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "results",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formdata",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "beneficaries1Form",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "beneficariesForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "dependencyForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "dependency1Form",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "dependency2Form",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showbeneficaries1Form",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "false"
                }
            },
            {
                "textIp": "showdependencies1Form",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "counter",
                "typedIpValue": {
                    "type": "literal",
                    "value": "1"
                }
            },
            {
                "textIp": "showdependencies2Form",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "hideIcon",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "hideIcon2",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender1",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender2",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender3",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender4",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "gender5",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showdependenciesForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "policyNumber",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_UHAloZdWiiqtiSEV",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_RnQSoLGbXPuS7ZSE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_pLrJikf1GfcXcIfw",
        "type": "UseDependency",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_pLrJikf1GfcXcIfw",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_UHAloZdWiiqtiSEV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_S3Jtj7xBUvqZDRcD",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"userData==>\",page.userData)\nconsole.log(\"depe\", page.userData.beneficaries)\n\npage.policyNumber = page.userData.policyNumber;\n\n\npage.ben1 = page.userData.beneficaries[0]\npage.ben2 = page.userData.beneficaries[1]\n\n//check if the form has data so that we can display the button\nif(page.ben2?.firstName != \"\") {\n    page.showbeneficaries1Form = true\n    page.hideIcon = false\n\n\n}\nelse{\n  page.showbeneficaries1Form = false\n}\n\n//check if the Dependencyform1 has data so that we can display the button\n// if(page.depe2.firstName != \"\") {\n//     page.showdependencies1Form = true\n// }\n// console.log(\"show\", page.depe2)\n\n\n//console.log(\"ben1\", page.ben1)\n//console.log(\"ben2\", page.ben2)\npage.depe1 = page.userData.dependencies[0]\npage.depe2 = page.userData.dependencies[1]\npage.depe3 = page.userData.dependencies[2]\n//console.log(\"depe1\", page.depe1)\n\n///dependencies\n\nif (page.depe1?.firstName !== \"\" && page.depe2?.firstName !== \"\" && page.depe3?.firstName !== \"\") {\n  // Case 1: All forms are not empty\n  page.showdependenciesForm = true;\n  page.showdependencies1Form = true;\n  page.showdependencies2Form = true;\n  page.hideIcon2 = false;  // Hide the add icon\n\n} else if (page.depe1?.firstName !== \"\" && page.depe2?.firstName !== \"\" && page.depe3?.firstName === \"\") {\n  // Case 2: Form 1 and Form 2 are filled, Form 3 is empty\n  page.showdependenciesForm = true;\n  page.showdependencies1Form = true;\n  page.showdependencies2Form = false;\n  page.hideIcon2 = true;  // Show the add icon\n\n} else if (page.depe1?.firstName !== \"\" && page.depe2?.firstName === \"\" && page.depe3?.firstName === \"\") {\n  // Case 3: Form 1 is filled, Forms 2 and 3 are empty\n  page.showdependenciesForm = true;\n  page.showdependencies1Form = false;\n  page.showdependencies2Form = false;\n  page.hideIcon2 = true;  // Show the add icon\n\n} else if (page.depe1?.firstName === \"\" && page.depe2?.firstName === \"\" && page.depe3?.firstName === \"\") {\n  // Case 4: All forms are empty\n  page.showdependenciesForm = true;  // Show the first empty form (Form 1)\n  page.showdependencies1Form = false;\n  page.showdependencies2Form = false;\n  page.hideIcon2 = true;  // Show the add icon\n}\n\n\npage.formdata = new FormGroup({\n    firstName: new FormControl(page.userData?.firstName, [Validators.required]),\n   lastName: new FormControl(page.userData?.lastName || '', [Validators.required]),\n  cellphone: new FormControl(page.userData?.cellphone || '', [Validators.required,Validators.minLength(10),Validators.maxLength(10),Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    idNumber: new FormControl(page.userData?.idNumber || '', [Validators.required, Validators.minLength(13), Validators.maxLength(13)]),\n    gender: new FormControl(page.userData?.gender || '', [Validators.required]),\n    address: new FormControl(page.userData?.address || '', [Validators.required]),\n    email: new FormControl(page.userData?.email || '', [Validators.required, Validators.email]),\n    packageType: new FormControl(page.userData?.packageType || '', [Validators.required]),\n\n});\n\nconsole.log(\"FORM :\", page.formdata)\n\npage.beneficariesForm = new FormGroup({\n    firstName: new FormControl(page.ben1?.firstName || '', [Validators.required]),\n    lastName: new FormControl(page.ben1?.lastName || '', [Validators.required]),\n    idNumber: new FormControl(page.ben1?.idNumber || '', [Validators.required, Validators.minLength(13), Validators.maxLength(13)]),\n    gender: new FormControl(page.ben1?.gender || '', [Validators.required]),\n    email: new FormControl(page.ben1?.email || '', [Validators.required,Validators.email]),\n    cellphone: new FormControl(page.ben1?.cellphone || '', [Validators.required,Validators.minLength(10),Validators.maxLength(10),Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    relationship: new FormControl(page.ben1?.relationship || '', [Validators.required]),\n})\npage.beneficaries1Form = new FormGroup({\n    firstName: new FormControl(page.ben2?.firstName ||'', [Validators.required]),\n    lastName: new FormControl(page.ben2?.lastName, [Validators.required]),\n    idNumber: new FormControl(page.ben2?.idNumber, [Validators.required,Validators.minLength(13),Validators.maxLength(13)]),\n    gender: new FormControl(page.ben2?.gender || '', [Validators.required]),\n    email: new FormControl(page.ben2?.email, [Validators.required,Validators.email]),\n    cellphone: new FormControl(page.ben2?.cellphone, [Validators.required,Validators.minLength(10), Validators.maxLength(10),Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    relationship: new FormControl(page.ben2?.relationship, [Validators.required]),\n})\n\npage.dependencyForm  = new FormGroup({\n    firstName: new FormControl(page.depe1?.firstName, [Validators.required]),\n    lastName: new FormControl(page.depe1?.lastName, [Validators.required] ),\n   idNumber: new FormControl(page.depe1?.idNumber, [Validators.required,Validators.minLength(13),Validators.maxLength(13)] ),\n    gender: new FormControl(page.depe1?.gender, [Validators.required] ),\n})\n\npage.dependency1Form  = new FormGroup({\n      firstName: new FormControl(page.depe2?.firstName, [Validators.required]),\n    lastName: new FormControl(page.depe2?.lastName, [Validators.required]),\n    gender: new FormControl(page.depe2?.gender, [Validators.required]),\n     idNumber: new FormControl(page.depe2?.idNumber, [Validators.required, Validators.minLength(13), Validators.maxLength(13)]),\n})\n\npage.dependency2Form  = new FormGroup({\n      firstName: new FormControl(page.depe3?.firstName, [Validators.required]),\n    lastName: new FormControl(page.depe3?.lastName, [Validators.required]),\n    gender: new FormControl(page.depe3?.gender, [Validators.required]),\n     idNumber: new FormControl(page.depe3?.idNumber, [Validators.required, Validators.minLength(13),Validators.maxLength(13)]),\n})\n\n//combine beneficaries\npage.beneficary = [page.beneficariesForm.value, page.beneficaries1Form.value ]\n\n//console.log(\"beneficaries\", page.beneficaries)\n\n//combine dependencies\npage.dependencies =[page.dependencyForm.value, page.dependency1Form.value, page.dependency2Form.value]\n//console.log(\"dependencies\", page.dependencies)\n\n//The select\n\npage.package = [\n   {value: 'Package 1', viewValue: 'Package 1'},\n   {value: 'Package 2', viewValue: 'Package 2'},\n   {value: 'Package 3', viewValue: 'Package 3'}\n];\n\n// page.gender = [\n//    {value: 'Male', viewValue: 'Male'},\n//    {value: 'Female', viewValue: 'Female'}\n// ];",
        "functionName": "sd_S3Jtj7xBUvqZDRcD",
        "category": "Function",
        "x": 525,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_zS7b1NmCmWYBlQFq",
        "type": "Environment",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zS7b1NmCmWYBlQFq",
        "category": "General",
        "x": 805,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_pr7tgd1gK1w7AKTA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_pr7tgd1gK1w7AKTA",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'update-user/'+`${page.userData._id}` \n\n\n",
        "functionName": "sd_pr7tgd1gK1w7AKTA",
        "category": "Function",
        "x": 905,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_H3Y1QPVP8mkHnjCk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_pcFebE53orviGldn",
        "type": "HttpRequest",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.structuredData",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "structuredData"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_pcFebE53orviGldn",
        "category": "HTTP",
        "x": 1185,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_GjKcbwDGAHK9WeuX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_sgb0uyaJqnMHbB7g",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Update",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "update",
        "category": "General",
        "x": 580,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_YLr6e7qTr0v7cYmV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_YLr6e7qTr0v7cYmV",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.structuredData = page.formdata.value\nconsole.log(\"data\",bh.structuredData )\n\nbh.structuredData.beneficaries = page.beneficary\n\n //Beneficaries\nbh.ben1 = bh.structuredData.beneficaries[0]\npage.ben2 = bh.structuredData.beneficaries[1]\nconsole.log(\"Let's see Juska\",bh.structuredData)\npage.ben2 = page.beneficaries1Form.value\nbh.structuredData.beneficaries[1] = page.ben2 \n\n//Dependencies\nbh.structuredData.dependencies = page.dependencies\n\n\n\npage.depe2 = page.dependency1Form.value\nbh.structuredData.dependencies[1] = page.depe2\n\npage.depe3 = page.dependency2Form.value\nbh.structuredData.dependencies[2] = page.depe3\n\n\n",
        "functionName": "sd_YLr6e7qTr0v7cYmV",
        "category": "Function",
        "x": 685,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_zS7b1NmCmWYBlQFq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_qrSjqUMEriOPeci5",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "openBeneficiries",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openBeneficiries",
        "category": "General",
        "x": 600,
        "y": 527.0051879882812,
        "wires": [
            [
                "sd_g1dgjskkEOhQ0Tmc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_g1dgjskkEOhQ0Tmc",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showbeneficaries1Form = true\npage.hideIcon = false\nconsole.log(\"form\", page.showbeneficaries1Form )\n\n",
        "functionName": "sd_g1dgjskkEOhQ0Tmc",
        "category": "Function",
        "x": 700,
        "y": 527.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_bhEg4zAfCjsW1PyW",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "openDependencies",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openDependencies",
        "category": "General",
        "x": 600,
        "y": 647.0051879882812,
        "wires": [
            [
                "sd_djGhPGuxtSAzK2Wb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_djGhPGuxtSAzK2Wb",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showdependenciesForm = true\n\nconsole.log(\"form\", page.showdependencies1Form )\n\npage.counter++\nif(page.counter === 2) {\n    page.showdependencies1Form = true\n   \n}else if (page.counter === 3){\n    page.showdependencies2Form = true\n    page.hideIcon2 = false\n}\n\n",
        "functionName": "sd_djGhPGuxtSAzK2Wb",
        "category": "Function",
        "x": 720,
        "y": 647.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_mgOe7CHJ4H7aWsNR",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid",
        "category": "General",
        "x": 605,
        "y": 787.0051879882812,
        "wires": [
            [
                "sd_hNU2zuRQxVVIIPaf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_hNU2zuRQxVVIIPaf",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.beneficariesForm.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender = 'Female'\n      page.beneficariesForm.patchValue({\n        gender: page.gender\n      })\n      // page.clientForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender = 'Male'\n     page.beneficariesForm.patchValue({\n        gender: page.gender\n      })\n      // page.clientForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.beneficariesForm.controls.idNumber.value)",
        "functionName": "sd_hNU2zuRQxVVIIPaf",
        "category": "Function",
        "x": 705,
        "y": 787.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_NchkdTblJWpUmZUY",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid1",
        "category": "General",
        "x": 585,
        "y": 907.0051879882812,
        "wires": [
            [
                "sd_7KK6d5DepbFPRSBa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_7KK6d5DepbFPRSBa",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.beneficaries1Form.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender1 = 'Female'\n      page.beneficaries1Form.patchValue({\n        gender: page.gender1\n      })\n      page.beneficaries1Form.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender1 = 'Male'\n      page.beneficaries1Form.patchValue({\n        gender: page.gender1\n      })\n       page.beneficaries1Form.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.beneficaries1Form.controls.idNumber.value)",
        "functionName": "sd_7KK6d5DepbFPRSBa",
        "category": "Function",
        "x": 705,
        "y": 907.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_voTE3BXybhEhpiZG",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid2",
        "category": "General",
        "x": 845,
        "y": 787.0051879882812,
        "wires": [
            [
                "sd_m2GFvyreTkUT15zp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_m2GFvyreTkUT15zp",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.dependencyForm.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender2 = 'Female'\n     page.dependencyForm.patchValue({\n        gender: page.gender2\n      })\n      // page.clientForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender2 = 'Male'\n      page.dependencyForm.patchValue({\n        gender: page.gender2\n      })\n      // page.clientForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id',page.dependencyForm.controls.idNumber.value)",
        "functionName": "sd_m2GFvyreTkUT15zp",
        "category": "Function",
        "x": 965,
        "y": 787.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_O0NwatE96xK1BABg",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid3",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid3",
        "category": "General",
        "x": 845,
        "y": 927.0051879882812,
        "wires": [
            [
                "sd_YrBwqNGTJO40L52t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_YrBwqNGTJO40L52t",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.dependency1Form.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender3 = 'Female'\n      page.dependency1Form.patchValue({\n        gender: page.gender3\n      })\n      // page.clientForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender3 = 'Male'\n      page.dependency1Form.patchValue({\n        gender: page.gender3\n      })\n      // page.clientForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id',page.dependency1Form.controls.idNumber.value)",
        "functionName": "sd_YrBwqNGTJO40L52t",
        "category": "Function",
        "x": 965,
        "y": 927.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_NThelJdhmr348buh",
        "type": "PageStart",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "idValid4",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "idValid4",
        "category": "General",
        "x": 605,
        "y": 1027.0051879882812,
        "wires": [
            [
                "sd_iCtDdM4RjHBE7o2O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_iCtDdM4RjHBE7o2O",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "    let id = page.dependency2Form.controls.idNumber.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n      page.gender4 = 'Female'\n      page.dependency2Form.patchValue({\n        gender: page.gender4\n      })\n      // page.clientForm.controls.gender.value = \"Female\"\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n      page.gender4 = 'Male'\n      page.dependency2Form.patchValue({\n        gender: page.gender4\n      })\n      // page.clientForm.controls.gender.value = \"Male\"\n    } else {\n     alert('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   alert('Invalid ID number')\n  return\n}\n    console.log('valid id', page.dependency2Form.controls.idNumber.value)",
        "functionName": "sd_iCtDdM4RjHBE7o2O",
        "category": "Function",
        "x": 725,
        "y": 1027.0051879882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_C7btWIkSPPi4vDXM",
        "type": "HttpRequest",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.ben1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "ben1"
        },
        "resultMapping": "this.page.result1",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result1"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_C7btWIkSPPi4vDXM",
        "category": "HTTP",
        "x": 1085,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_pcFebE53orviGldn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_H3Y1QPVP8mkHnjCk",
        "type": "HttpRequest",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.ben2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "ben2"
        },
        "resultMapping": "this.page.result2",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result2"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_H3Y1QPVP8mkHnjCk",
        "category": "HTTP",
        "x": 985,
        "y": 387.00518798828125,
        "wires": [
            [
                "sd_C7btWIkSPPi4vDXM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_G19PY66JzVKcGxtc",
        "type": "Navigation",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/client_profile",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_G19PY66JzVKcGxtc",
        "category": "Navigation",
        "x": 1425,
        "y": 380,
        "wires": [
            [
                "sd_nxWSj9bRtG2lyhli"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_RnQSoLGbXPuS7ZSE",
        "type": "Storage",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userData"
        },
        "functionName": "sd_RnQSoLGbXPuS7ZSE",
        "category": "Storage",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_S3Jtj7xBUvqZDRcD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_nxWSj9bRtG2lyhli",
        "type": "SnackBar",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Profile Update"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": ""
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_nxWSj9bRtG2lyhli",
        "category": "General",
        "x": 1580,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    },
    {
        "id": "sd_J22OneWwTKYAiil9",
        "type": "Storage",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "clear",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {},
        "value": {},
        "resultMapping": {},
        "functionName": "sd_J22OneWwTKYAiil9",
        "category": "Storage",
        "x": 665,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_profileComponent"
    },
    {
        "id": "sd_GjKcbwDGAHK9WeuX",
        "type": "Script",
        "z": "sd_VenzcweTArpHLw1P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.structuredData.role = \"client\"\n\nbh.structuredData.policyNumber = page.policyNumber;\n\n\nif(page.results.acknowledged == true){\n    sessionStorage.setItem('user', JSON.stringify(bh.structuredData));\n}",
        "functionName": "sd_GjKcbwDGAHK9WeuX",
        "category": "Function",
        "x": 1305,
        "y": 380,
        "wires": [
            [
                "sd_G19PY66JzVKcGxtc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_profileComponent",
        "generated": true
    }
]
