designs/pages/Client/password_pop_up.json
[
    {
        "id": "sd_uFm7b8zvCRfgicgM",
        "type": "tab",
        "createdDate": "2024-09-05T12:39:17.674Z",
        "label": "password_pop_up",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "password_pop_upComponent"
    },
    {
        "id": "sd_2FimYvai6Hc4W5OW",
        "type": "OnInit",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_2FimYvai6Hc4W5OW",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_XgztCccuWZ4LpH1D"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "password_pop_upComponent"
    },
    {
        "id": "sd_XgztCccuWZ4LpH1D",
        "type": "PageVariables",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "password",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "loginForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            }
        ],
        "functionName": "sd_XgztCccuWZ4LpH1D",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_4vBSQlxCo0JLE73d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_LZHibUnBBe518Oxu",
        "type": "Navigation",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/edit_profile",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_LZHibUnBBe518Oxu",
        "category": "Navigation",
        "x": 785,
        "y": 360,
        "wires": [
            [
                "sd_Qm93yWWjC8w11bIl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_VhB41HzuyfLK1qUp",
        "type": "Environment",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_VhB41HzuyfLK1qUp",
        "category": "General",
        "x": 265,
        "y": 280,
        "wires": [
            [
                "sd_Kykrie2FGdsFszxZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_Kykrie2FGdsFszxZ",
        "type": "Script",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'login'\n// page.loading = true",
        "functionName": "sd_Kykrie2FGdsFszxZ",
        "category": "Function",
        "x": 365,
        "y": 280,
        "wires": [
            [
                "sd_suhnNkGvm4OpiFkv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_suhnNkGvm4OpiFkv",
        "type": "HttpRequest",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form.value",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "input.form.value"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_suhnNkGvm4OpiFkv",
        "category": "HTTP",
        "x": 465,
        "y": 280,
        "wires": [
            [
                "sd_PIaqXGpuVbBKUpSW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_PIaqXGpuVbBKUpSW",
        "type": "Script",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false\n\nconsole.log(\"Result login\", bh.result)",
        "functionName": "sd_PIaqXGpuVbBKUpSW",
        "category": "Function",
        "x": 565,
        "y": 280,
        "wires": [
            [
                "sd_te3lCKe2dy8SIdEl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_paKWbLKLveroMVuj",
        "type": "PageSwitch",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.form.status",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.form.status",
        "rules": [
            {
                "t": "eq",
                "v": "INVALID",
                "vt": "str",
                "gv": "\"INVALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_paKWbLKLveroMVuj",
        "category": "Function",
        "x": 185,
        "y": 200,
        "wires": [
            [
                "sd_7ScCpfFgnw4ymlci"
            ],
            [
                "sd_VhB41HzuyfLK1qUp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_7ScCpfFgnw4ymlci",
        "type": "SnackBar",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please Fill All Fields"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_7ScCpfFgnw4ymlci",
        "category": "General",
        "x": 265,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_te3lCKe2dy8SIdEl",
        "type": "PageSwitch",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "Password Don't match",
                "vt": "str",
                "gv": "\"Password Don't match\""
            },
            {
                "t": "eq",
                "v": "User not found",
                "vt": "str",
                "gv": "\"User not found\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_te3lCKe2dy8SIdEl",
        "category": "Function",
        "x": 665,
        "y": 280,
        "wires": [
            [
                "sd_skmeDdTzM0DHz7jS"
            ],
            [
                "sd_1ylm4b0jBe7BKYsP"
            ],
            [
                "sd_LZHibUnBBe518Oxu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_skmeDdTzM0DHz7jS",
        "type": "SnackBar",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password Don't match"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_skmeDdTzM0DHz7jS",
        "category": "General",
        "x": 765,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_1ylm4b0jBe7BKYsP",
        "type": "SnackBar",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User Doesn't exist"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_1ylm4b0jBe7BKYsP",
        "category": "General",
        "x": 785,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_Qm93yWWjC8w11bIl",
        "type": "CloseDialog",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.result",
        "functionName": "sd_Qm93yWWjC8w11bIl",
        "category": "Dialog",
        "x": 925,
        "y": 360,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_GP1HgpZGbv3Xbpjs",
        "type": "PageStart",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cancel",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cancel",
        "category": "General",
        "x": 61,
        "y": 752.8020629882812,
        "wires": [
            [
                "sd_f4ZK5wgsKLRyvSLS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "password_pop_upComponent"
    },
    {
        "id": "sd_d3FN5gfd2VGEKHsK",
        "type": "PageStart",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "pages",
        "nodeType": "start",
        "name": "checkPassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "checkPassword",
        "category": "General",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_paKWbLKLveroMVuj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "password_pop_upComponent"
    },
    {
        "id": "sd_4vBSQlxCo0JLE73d",
        "type": "Storage",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_4vBSQlxCo0JLE73d",
        "category": "Storage",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_rDMFugxk7zRZMNPq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_rDMFugxk7zRZMNPq",
        "type": "Script",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loginForm.email = page.user.email",
        "functionName": "sd_rDMFugxk7zRZMNPq",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    },
    {
        "id": "sd_f4ZK5wgsKLRyvSLS",
        "type": "Navigation",
        "z": "sd_uFm7b8zvCRfgicgM",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard/client_profile",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_f4ZK5wgsKLRyvSLS",
        "category": "Navigation",
        "x": 180,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "password_pop_upComponent",
        "generated": true
    }
]
