designs/pages/Client/payments.json
[
    {
        "id": "sd_YIDbIi87WZ0EHp1U",
        "type": "tab",
        "createdDate": "2024-09-03T08:49:00.615Z",
        "label": "payments",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "paymentsComponent"
    },
    {
        "id": "sd_fHcoDPSB0z1vDVXX",
        "type": "OnInit",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_fHcoDPSB0z1vDVXX",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_Tfn4QOCsxq8lVtBT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "paymentsComponent"
    },
    {
        "id": "sd_1QCiHRVLFibpDCe4",
        "type": "PageVariables",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userData",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "userData"
                }
            },
            {
                "textIp": "table",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "table"
                }
            }
        ],
        "functionName": "sd_1QCiHRVLFibpDCe4",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_2j12KdKLxhKZUlje"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_4Nnrgbpq27wtUxGw",
        "type": "PageStart",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get payments",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getPayments",
        "category": "General",
        "x": 45,
        "y": 180,
        "wires": [
            [
                "sd_2P1st9zqebt5Hsfb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "paymentsComponent"
    },
    {
        "id": "sd_2P1st9zqebt5Hsfb",
        "type": "Environment",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_2P1st9zqebt5Hsfb",
        "category": "General",
        "x": 125,
        "y": 180,
        "wires": [
            [
                "sd_gJoIX2ua6KNhKDUx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_gJoIX2ua6KNhKDUx",
        "type": "Script",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"get-monthly-payments\"\n\npage.loading = true",
        "functionName": "sd_gJoIX2ua6KNhKDUx",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "sd_KBAnFOmvCOQ91IV7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_KBAnFOmvCOQ91IV7",
        "type": "HttpRequest",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_KBAnFOmvCOQ91IV7",
        "category": "HTTP",
        "x": 285,
        "y": 180,
        "wires": [
            [
                "sd_4Aia00ADsTJYqWmW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_4Aia00ADsTJYqWmW",
        "type": "Script",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.table = page.result.filter((user:any) => {\n    return page.userData.policyNumber == user.policyNumber\n})\n\npage.backupapplicationsDatasource = page.table;\nconsole.log(\"from api\", page.table)\n\npage.loading = false;\n",
        "functionName": "sd_4Aia00ADsTJYqWmW",
        "category": "Function",
        "x": 365,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_Tfn4QOCsxq8lVtBT",
        "type": "PageCallService",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_YIDbIi87WZ0EHp1U",
            "type": "tab",
            "createdDate": "2024-09-03T08:49:00.615Z",
            "label": "payments",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_4Nnrgbpq27wtUxGw",
            "flowName": "getPayments"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getPayments",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_Tfn4QOCsxq8lVtBT",
        "category": "General",
        "x": 105,
        "y": 40,
        "wires": [
            [
                "sd_lUIowlUXxY76OESe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_w7DI8EIWdzTZVOvW",
        "type": "Script",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (!page.backupapplicationsDatasource) {\n  page.backupapplicationsDatasource = [...page.table];\n}\n\nconst searchValue = (bh.input.filterEvent.target as HTMLInputElement)\n  .value.trim()\n  .toLowerCase();\n\npage.searchValue = searchValue;\n\nif (searchValue) {\n  const searchResults = page.backupapplicationsDatasource.filter(\n    (row) => {\n      const dateStr = new Date(row.date).toLocaleDateString('en-US', {\n        year: 'numeric',\n        month: 'short',\n        day: 'numeric',\n      }).toLowerCase();\n\n      return (\n        (row.amount &&\n          row.amount.toString().toLowerCase().includes(searchValue)) ||\n        (row.date && dateStr.includes(searchValue)) ||\n        (row.policyNumber &&\n          row.policyNumber.toString().toLowerCase().includes(searchValue))\n      );\n    }\n  );\n  page.table = searchResults;\n} else {\n  // Reset to original data if search value is empty\n  page.table = [...page.backupapplicationsDatasource];\n}\n",
        "functionName": "sd_iBlFYTlpoczCmWts_5",
        "category": "Function",
        "x": 205,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_6JxL7BBJWyHo1FHr",
        "type": "PageStart",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter",
        "category": "General",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "sd_w7DI8EIWdzTZVOvW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "paymentsComponent"
    },
    {
        "id": "sd_lUIowlUXxY76OESe",
        "type": "Storage",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userData"
        },
        "functionName": "sd_lUIowlUXxY76OESe",
        "category": "Storage",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "sd_1QCiHRVLFibpDCe4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_2j12KdKLxhKZUlje",
        "type": "UseDependency",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "saveAs",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "file-saver",
        "serviceDesignerType": "pages",
        "functionName": "sd_2j12KdKLxhKZUlje",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_QnmvNuIEpdDKWSUG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_x3Im7h3fE6bmLkSr",
        "type": "PageStart",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "pages",
        "nodeType": "start",
        "name": "download",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "download",
        "category": "General",
        "x": 65,
        "y": 440,
        "wires": [
            [
                "sd_WNQ1SZJh1cFt0hin"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "paymentsComponent"
    },
    {
        "id": "sd_WNQ1SZJh1cFt0hin",
        "type": "Script",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const doc = new Document({\n  sections: [\n    {\n      properties: {},\n      children: [\n        // Title\n        new Paragraph({\n          text: \"Proof of Payment\",\n          heading: HeadingLevel.HEADING_1,\n          alignment: AlignmentType.CENTER,\n          thematicBreak: true,\n        }),\n\n        // Add some spacing\n        new Paragraph({\n          text: \"\",\n          spacing: { after: 200 },\n        }),\n\n        // Table with headers and data\n        new Table({\n          width: { size: 10000, type: WidthType.DXA }, // Ensure the table width is large enough\n          rows: [\n            new TableRow({\n              children: [\n                new TableCell({\n                  width: { size: 4000, type: WidthType.DXA }, // Increase cell width\n                  children: [new Paragraph({\n                    text: \"Policy Number\",\n                  })],\n                }),\n                new TableCell({\n                  width: { size: 3000, type: WidthType.DXA }, // Adjust cell width\n                  children: [new Paragraph({\n                    text: \"Date\",\n                  })],\n                }),\n                new TableCell({\n                  width: { size: 3000, type: WidthType.DXA }, // Adjust cell width\n                  children: [new Paragraph({\n                    text: \"Amount\",\n                  })],\n                }),\n              ],\n            }),\n            ...page.table.map((row) =>\n              new TableRow({\n                children: [\n                  new TableCell({\n                    width: { size: 4000, type: WidthType.DXA },\n                    children: [new Paragraph(row.policyNumber.toString())],\n                  }),\n                  new TableCell({\n                    width: { size: 3000, type: WidthType.DXA },\n                    children: [\n                      new Paragraph(\n                        new Date(row.date).toLocaleDateString()\n                      ),\n                    ],\n                  }),\n                  new TableCell({\n                    width: { size: 3000, type: WidthType.DXA },\n                    children: [new Paragraph(row.amount.toString())],\n                  }),\n                ],\n              })\n            ),\n          ],\n        }),\n\n        // Add some spacing\n        new Paragraph({\n          text: \"\",\n          spacing: { after: 200 },\n        }),\n\n        // Footer\n        new Paragraph({\n          text: \"Thank you for your payment.\",\n          alignment: AlignmentType.CENTER,\n        }),\n        new Paragraph({\n          text: \"For any queries, please contact us at support@example.com.\",\n          alignment: AlignmentType.CENTER,\n        }),\n      ],\n    },\n  ],\n});\n\n// Save the document as a Word file\nPacker.toBlob(doc).then((blob) => {\n  saveAs(blob, 'ProofOfPayment.docx');\n});\n",
        "functionName": "sd_WNQ1SZJh1cFt0hin",
        "category": "Function",
        "x": 185,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    },
    {
        "id": "sd_QnmvNuIEpdDKWSUG",
        "type": "UseDependency",
        "z": "sd_YIDbIi87WZ0EHp1U",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Document",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Packer",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Paragraph",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Table",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "TableRow",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "TableCell",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "WidthType",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "HeadingLevel",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "AlignmentType",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "TextRun",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "docx",
        "serviceDesignerType": "pages",
        "functionName": "sd_QnmvNuIEpdDKWSUG",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "paymentsComponent",
        "generated": true
    }
]
